<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Target Setting Guiding Principles</h3>

    <div class="d-flex gap-30 mt-4 justify-content-center">
        <div class="box">
            <div class="header bg-blue txt-white">BEST PRACTICES</div>
            <div class="content">
                <ul>
                    <li>Sales targets are based on top-down business goals and bottom-up customer revenue opportunity</li>
                    <li>A uniform method of allocating sales targets is employed across the organization</li>
                    <li>The sales force understands how their targets were developed</li>
                    <li>That sales force receives their targets prior to the start of the performance period</li>
                    <li>The distribution of performance against target is predictable with a consistent percentage of people over and underachieving each year.</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="header2 bg-mblue txt-white">CHALLENGES</div>
            <div class="content">
                <ul>
                    <li>Changing sales organization designs, territory assignments and sales crediting rules.</li>
                    <li>Reliance on availability and accuracy of data</li>
                    <li>Reflecting capability of sales force and experience level of sales person</li>
                    <li>Capturing unique aspects of local markets and accounts/territories</li>
                    <li>Reliance on business planning process and sales/marketing plans (timing)</li>
                </ul>
            </div>
        </div>
    </div>
</div> 


<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Target Setting: Ideal Attainment Distribution</h3>

    <div class="txt-border">
        <p class="fw-bold">Best practice distribution of goal attainment results in 60-70% of sellers achieving target and 30-40% of sellers below target, with 80% of sellers between threshold and excellence.</p>
    </div>

    <div class="text-center"><img class="img-fluid" src="assets/images/m6/img7.png"></div>
    <div class="b-txt text-center pt-3">© 2016 The Alexander Group, Inc.®</div>
</div>
</div>

<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>DO’s and DON’Ts of Setting Targets</h3>

   <div class="d-flex mt-4 justify-content-center">
       <div class="con">
           <div class="text-center txt-mblue fw-bold">DO’s</div>
           <div class="content">
               <ul class="bg-right">
                   <li>Keep the target setting and allocation methodology as simple as possible</li>
                   <li>Establish and allocate sales targets incorporating input from the “bottoms-up” and from “top-down”</li>
                   <li>Fully allocate the business plan</li>
                   <li>Establish a clear statement of target setting policies</li>
                   <li>Explain the sales target setting and allocation process to sellers</li>
                   <li>Establish an audit process to track effectiveness of the current target setting and allocation process</li>
                   <li>Reassess the target setting and allocation methodologies prior to the start of each year</li>
               </ul>
           </div>
       </div>

       <div><img class="img-fluid" src="assets/images/m6/img8.svg"></div>

       <div class="con">
        <div class="text-center txt-mblue fw-bold">DON’Ts</div>
        <div class="content">
            <ul class="bg-wrong">
                <li>Don’t tie the volatility of incentive payouts to small fluctuations in quota performance (i.e. it would typically be inappropriate for a 1% increase in quota performance to result in a 20% increase (or greater) in incentive payout.)</li>
                <li>Don’t assign sales targets based on sales history alone unless products and markets have maintained a consistent, slow-growth trend</li>
                <li>Don’t assume the target setting process will manage itself. Monitor often and adjust as needed.</li>
            </ul>
        </div>
    </div>
   </div>
</div>



<!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Target Setting Approaches</h3>
    <h5>There are three basic approaches that sales management can use to effectively allocate sales targets among the sales force.</h5>

   <div class="row">
    <div class="col-lg-5 mt-4"> <div><img class="img-fluid" src="assets/images/m6/img9.jpg"></div></div>
    <div class="col-lg-7 mt-4">
        <ol>
            <li><b>No distinction between sales professionals:</b> Total organization or sales team quota divided by the number of sales professionals equals each individual quota</li>
            <li><b>Same rate increase: </b> Assign the same percentage growth rate to the base number for each sales manager, each sales professional, and each overlay position</li>
            <li><b>Individual targets:</b>  Assign targets based on individual sales territory, productivity and opportunity. It recognizes that sales opportunities vary by individual. Requires more in-depth knowledge about each individual’s sales opportunities and selling capabilities. Approached for setting individual targets include the following:</li>
            <ul>
                <li>Opportunity Planning</li>
                <li>Major Account Planning</li>
                <li>Modified Fair Share</li>
                <li>Goaling Grid</li>
                <li>Statistical Modeling</li>
            </ul>

        </ol>
        
    </div>
   </div>
</div>
</div>

<!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Individual Targets Approaches</h3>
    <h5>Determining the optimal target setting approach depends on the level of account knowledge, quantity of accounts and data availability.</h5>

    <div class="mt-4 text-center"><img class="img-fluid" src="assets/images/m6/img10.png"></div>
    <div class="b-txt text-center pt-3">© 2016 The Alexander Group, Inc.®</div>
</div>

<!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>1. Opportunity Planning</h3>
    <h5 class="fst-italic">Opportunity Planning, often used for positions focused on key, strategic accounts includes the estimated number of deals by estimated deal size.  Performance target is the sum of expected values.</h5>

    <div class="table-2 mt-3">
        <table>
            <tr>
              <th>Opportunity Type</th>
              <th>Estimated Deal Size</th>
              <th>Estimated # of Deals</th>
              <th>Expected Value</th>
            </tr>
            <tr>
              <td>Type 1 &lt;Description&gt;</td>
              <td>$500,000</td>
              <td>2</td>
              <td>$1,000,000</td>
            </tr>
            <tr>
                <td>Type 2 &lt;Description&gt;</td>
                <td>$200,000</td>
                <td>4</td>
                <td>$800,000</td>
            </tr>

            <tr>
                <td>Type 3 &lt;Description&gt;</td>
                <td>$50,000</td>
                <td>20</td>
                <td>$1,000,000</td>
              </tr>

              <tr>
                <td class="f-bold"><b>Total</b></td>
                <td></td>
                <td></td>
                <td class="f-bold">$2,800,000</td>
              </tr>
          </table>
    </div>

    <div class="d-flex justify-content-center gap-30 flex-wrap mt-5">
        <div class="table-1">
            <div class="head">Pros</div>
            <div class="content">
                <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Includes management in the process to identify deal types, estimated deal size and estimated # of deals</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Facilitates simple communication of quota</div> </div></li>
               
                </ul>
            </div>
        </div>

        <div class="table-1">
            <div class="head">Cons</div>
            <div class="content">
               <ul class="list-none">
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires robust management training</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires management knowledge of deal types, estimated deal size and estimated # of deals</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to forecast lumpy business</div> </div></li>
                
               </ul>
            </div>
        </div>
    </div>
</div>


<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>2. Major Account Planning </h3>
    <h5 class="fst-italic">The Major Account Planning Methodology applies close probability to account opportunity.  Performance target is the sum of expected values.</h5>

    <div class="table-2 mt-3 text-center">
        <table>
            <tr>
              <th class="txt-blue">Sales Rep</th>
              <th colspan="2" class="txt-blue">2011 Opportunities</th>
              <th class="txt-blue">Close Probability</th>
              <th class="txt-blue">Expected Value</th>
              <th class="txt-blue">2011 Quota</th>
            </tr>

            <tr>
                <td rowspan="3">John</td>
                <td>Account A</td>
                <td>$4,000,000</td>
                <td>100 %</td>
                <td>$4,000,000</td>
                <td rowspan="3">$5,125,000</td>
            </tr>

            <tr>
                <td>Account B</td>
                <td>$1,000,000</td>
                <td>75 %</td>
                <td>$750,000</td>
            </tr>

            <tr>
                <td>Account C</td>
                <td>$500,000</td>
                <td>75 %</td>
                <td>$375,000</td>
            </tr>


            <tr>
                <td rowspan="3">Mary</td>
                <td>Account D</td>
                <td>$5,000,000</td>
                <td>100 %</td>
                <td>$5,000,000</td>
                <td rowspan="3">$9,000,000</td>
            </tr>

            <tr>
                <td>Account E</td>
                <td>$4,000,000</td>
                <td>50 %</td>
                <td>$2,000,000</td>
            </tr>

            <tr>
                <td>Account F</td>
                <td>$4,000,000</td>
                <td>50 %</td>
                <td>$2,000,000</td>
            </tr>



            <tr>
                <td rowspan="3">Victor</td>
                <td>Account G</td>
                <td>$3,000,000</td>
                <td>100 %</td>
                <td>$3,000,000</td>
                <td rowspan="3">$8,000,000</td>
            </tr>

            <tr>
                <td>Account H</td>
                <td>$4,000,000</td>
                <td>50 %</td>
                <td>$2,000,000</td>
            </tr>

            <tr>
                <td>Account J</td>
                <td>$4,000,000</td>
                <td>75 %</td>
                <td>$3,000,000</td>
            </tr>

            <tr>
                <td class="f-bold">Region Total</td>
                <td class="f-bold">-</td>
                <td class="f-bold">-</td>
                <td class="f-bold">-</td>
                <td class="f-bold">$22,125,000</td>
                <td class="f-bold">$22,125,000</td>
            </tr>
            
          </table>
    </div>

    <div class="d-flex justify-content-center gap-30 flex-wrap mt-5">
        <div class="table-1">
            <div class="head">Pros</div>
            <div class="content">
                <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Links quota and compensation to account planning process</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Includes management in the process to identify and prioritize sales opportunities</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Facilitates simple communication of quota</div> </div></li>
                     
                </ul>
            </div>
        </div>

        <div class="table-1">
            <div class="head">Cons</div>
            <div class="content">
               <ul class="list-none">
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires robust management training</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires management knowledge of opportunities and probability rates</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to forecast deals in 2nd half as well as large, lumpy business</div> </div></li>
               </ul>
            </div>
        </div>
    </div>
</div>



<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>3. Modified Fair Share: Step 1 (Determine Fair Share)</h3>
    <h5 class="fst-italic">The Fair Share Methodology considers two factors in its calculation – previous year share of overall goal and any previous year adjustments in forecasted sales.  Sellers’ targets are the resulting shares of overall Target.</h5>

    <div class="table-2 mt-3 text-center">
        <table>
            <tr>
              <th class="txt-blue">Sales Rep</th>
              <th class="txt-blue">2020 Sales</th>
              <th class="txt-blue">% of 2020 District Sales</th>
              <th class="txt-blue">Adjustments For Large One Time Deals</th>
              <th class="txt-blue">Revised 2020 Sales</th>
              <th class="txt-blue">Revised  % of 2020 District Sales</th>
              <th class="txt-blue">2021 Overall Target</th>
              <th class="txt-blue">2021 Fair Share Target</th>
            </tr>

            <tr>
                <td>John</td>
                <td>$5,000,000</td>
                <td>27 %</td>
                <td>($500,000)</td>
                <td>$4,500,000</td>
                <td>25 %</td>
                <td>$22,000,000</td>
                <td>$5,530,726</td>
            </tr>

            <tr>
                <td>Mary</td>
                <td>$8,000,000</td>
                <td>43 %</td>
                <td>$0</td>
                <td>$8,000,000</td>
                <td>45 %</td>
                <td>$22,000,000</td>
                <td>$9,832,402</td>
            </tr>

            <tr>
                <td>Victor</td>
                <td>$5,500,000</td>
                <td>30 %</td>
                <td>(100,000)</td>
                <td>$5,400,000</td>
                <td>30 %</td>
                <td>$22,000,000</td>
                <td>$6,636,827</td>
            </tr>

            <tr>
                <td class="f-bold">Region</td>
                <td class="f-bold">$18,500,000</td>
                <td class="f-bold">100 %</td>
                <td class="f-bold">($600,000)</td>
                <td class="f-bold">$17,900,000</td>
                <td class="f-bold">100 %</td>
                <td class="f-bold">$22,000,000</td>
                <td class="f-bold">$22,000,000</td>
            </tr>
            
          </table>
    </div>

    <div class="d-flex justify-content-center gap-30 flex-wrap mt-5">
        <div class="table-1">
            <div class="head">Pros</div>
            <div class="content">
                <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Easy to calculate</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Easily understood by Reps</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Uses readily accessible data</div> </div></li>
               
                </ul>
            </div>
        </div>

        <div class="table-1">
            <div class="head">Cons</div>
            <div class="content">
               <ul class="list-none">
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Penalizes top performers</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Overlay reliant on historical results and most likely does not reflect future opportunity</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Does not include management in the process</div> </div></li>
               
               </ul>

            </div>
        </div>
    </div>
</div>


<!--/////////////////////// section-9 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>3. Modified Fair Share: Part 2 (Modify Fair Share) </h3>
    <h5 class="fst-italic">The Modified Fair Share Methodology applies modifying factors (based on management judgement) to previous year shares and one time adjustments to calculate individual targets.</h5>

    <div class="table-2 mt-3 text-center">
        <table>
            <tr>
              <th class="txt-blue">Sales Rep</th>
              <th class="txt-blue">2020 Sales</th>
              <th class="txt-blue">% of 2020 District Sales</th>
              <th class="txt-blue">Adjustments For Large One Time Deals</th>
              <th class="txt-blue">Revised 2020 Sales</th>
              <th class="txt-blue">Revised  % of 2020 District Sales</th>
              <th class="txt-blue">2021 Overall Target</th>
              <th class="bg-yellow">2021 Fair Share Target</th>
            </tr>

            <tr>
                <td>John</td>
                <td>$5,000,000</td>
                <td>27 %</td>
                <td>($5,000,000)</td>
                <td>$4,500,000</td>
                <td>25 %</td>
                <td>$22,000,000</td>
                <td>$5,530,726</td>
            </tr>

            <tr>
                <td>Mary</td>
                <td>$8,000,000</td>
                <td>43 %</td>
                <td>$0</td>
                <td>$8,000,000</td>
                <td>45 %</td>
                <td>$22,000,000</td>
                <td>$9,832,402</td>
            </tr>

            <tr>
                <td>Victor</td>
                <td>$5,500,000</td>
                <td>30 %</td>
                <td>(100,000)</td>
                <td>$5,400,000</td>
                <td>30 %</td>
                <td>$22,000,000</td>
                <td>$6,636,827</td>
            </tr>

            <tr>
                <td class="f-bold">Region</td>
                <td class="f-bold">$18,500,000</td>
                <td class="f-bold">100 %</td>
                <td class="f-bold">($600,000)</td>
                <td class="f-bold">$17,900,000</td>
                <td class="f-bold">100 %</td>
                <td class="f-bold">$22,000,000</td>
                <td class="f-bold">$22,000,000</td>
            </tr>
            
          </table>
    </div>

    <div class="table-2 mt-3">
        <table>
            <tr>
              <th class="txt-blue">Sales Rep</th>
              <th colspan="2" class="bg-yellow">2021 Fair Share Target</th>
              <th class="txt-blue">Modifying Factor</th>
              <th class="txt-blue">Expected Value</th>
              <th class="txt-blue">2011 Quota</th>
            </tr>

            <tr>
                <td rowspan="3">John</td>
                <td rowspan="3">$5,530,726</td>
                <td>Sales Potential</td>
                <td>Low</td>
                <td>-5%</td>
                <td rowspan="3">$5,807,262 (+5%)</td>
            </tr>

            <tr>
                <td>Territory Growth</td>
                <td>High</td>
                <td>5%</td>
            </tr>

            <tr>
                <td>Experience</td>
                <td>High</td>
                <td>5%</td>
            </tr>


            <tr>
                <td rowspan="3">Mary</td>
                <td rowspan="3">$9,832,402</td>
                <td>Sales Potential</td>
                <td>Medium</td>
                <td>No Change</td>
                <td rowspan="3">$10,324,022 (+5%)</td>
            </tr>

            <tr>
                <td>Territory Growth</td>
                <td>Medium</td>
                <td>No Change</td>
            </tr>

            <tr>
                <td>Experience</td>
                <td>High</td>
                <td>5%</td>
            </tr>



            <tr>
                <td rowspan="3">Victor</td>
                <td rowspan="3">$6,636,872</td>
                <td>Sales Potential</td>
                <td>Medium</td>
                <td>No Change</td>
                <td rowspan="3">$6,636,872</td>
               

            </tr>

            <tr>
                <td>Territory Growth</td>
                <td>Medium</td>
                <td>No Change</td>
            </tr>

            <tr>
                <td>Experience</td>
                <td>Medium</td>
                <td>No Change</td> 
                <td class="bt-none fw-bold">Net Change</td>
            </tr>

            <tr>
                <td class="f-bold">Region Total</td>
                <td class="f-bold">$22,000,000</td>
                <td class="f-bold">-</td>
                <td class="f-bold">-</td>
                <td class="f-bold">-</td>
                <td class="f-bold">$22,768,156</td>
                <td class="f-bold bg-lgreen">$768,156</td> 
            </tr>
            
          </table>
    </div>
</div>


<!--/////////////////////// section-10 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Modified Fair Share – Examples of Modifiers</h3>
    <h5 class="fst-italic">Modifying Factors: Modifying Factors are factors that we expect to have an influence (up or down) on an individual’s ability to achieve a sales goal.  Below is a list of common factors used to modify targets.</h5>

    <div class="table-2 mt-3">
        <table>
            <tr>
              <th class="txt-blue">Potential Factors</th>
              <th class="txt-blue">Assumption</th>
            </tr>

            <tr>
                <td>Sales Potential (Total Available Market)</td>
                <td>It is easier to attain one’s target in a territory with a high sales potential</td>
            </tr>

            <tr>
                <td>Market Share</td>
                <td>It is more difficult to attain sales in territories with high market share of company’s products</td>
            </tr>

            <tr>
                <td>Share of Wallet (Customer Share)</td>
                <td>It is more difficult to attain sales in accounts with high customer share of company’s products</td>
            </tr>

            <tr>
                <td>Expected Value of Current Deals in the Funnel</td>
                <td>It is easier to attain one’s target if the expected value of the current deals in the funnel are high</td>
            </tr>


            <tr>
                <td>Historical Sales Performance</td>
                <td>Territories with high sales performance in the past should perform well in the future</td>
            </tr>

            <tr>
                <td>Competitive Intensity</td>
                <td>It is more difficult to attain sales in territories with high levels of competition</td>
            </tr>

            <tr>
                <td>Economic Growth</td>
                <td>Customers, industries, geographies with higher economic growth tend to buy more</td>
            </tr>

            <tr>
                <td>Years with Firm</td>
                <td>Individuals with more tenure at company have an easier time selling company’s products </td>
            </tr>


            <tr>
                <td>Sales Experience</td>
                <td>Individuals with more sales experience should have an easier time selling</td>
            </tr>

            <tr>
                <td>Experience in Region/Territory</td>
                <td>It is easier to attain sales in territories where the individual has account/buyer knowledge and experience</td>
            </tr>

            
          </table>
    </div>

    <div class="d-flex justify-content-center gap-30 flex-wrap mt-5">
        <div class="table-1">
            <div class="head">Pros</div>
            <div class="content">
                <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Easy to calculate and understood by Reps (assuming modifiers have been explained)</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Uses readily accessible data</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Considers potential factors in addition to historical data</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Includes management in the process</div> </div></li>
               
                </ul>

            </div>
        </div>

        <div class="table-1">
            <div class="head">Cons</div>
            <div class="content">
               <ul class="list-none">
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires robust management training</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires management knowledge of potential factors and how to apply factors to historical results</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Still reliant on historical data</div> </div></li>
              
               </ul>
               
            </div>
        </div>
    </div>

</div>


<!--/////////////////////// section-11 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>4. Goaling Grid</h3>
    <h5 class="fst-italic">Leverage statistical modeling to build out a quota increase grid.</h5>

    <div class="d-flex gap-50 mt-4 flex-wrap justify-content-center">
        <div>
           <ul class="list-none">
            <li><b>Step 1:</b> Determine predictor variables</li>
            <li><b>Step 2:</b> Determine “break points” for each variable</li>
            <li><b>Step 3:</b> Build Goaling Grid</li>
           </ul>

        </div>
       
       <div class="table4">
        <div class="rel">
            <table style="width:100%" class="fw-bold">
                <tr>
                    <th class="b-none2">&gt; 10% (High)</th>
                  <th>10 %</th>
                  <th>15 %</th> 
                  <th>20 %</th>
                </tr>
                <tr>
                    <td class="b-none2">5% to 10%</td>
                  <td>7.5 %</td>
                  <td>10 %</td>
                  <td>15 %</td>
                </tr>
                <tr>
                    <td class="b-none2">&lt; 5% (Low)</td>
                  <td>5 %</td>
                  <td>7.5 %</td>
                  <td>10 %</td>
                </tr>
                <tr>
                    <td class="b-none"></td>
                  <td class="b-none">&gt;40% (High)</td>
                  <td class="b-none">40%-20% Market Share</td>
                  <td class="b-none">&lt;20% (Low)</td>
                </tr>
              </table>
              <p><span>*</span> Based on a regression analysis between the predictor variables and sales results</p>

               <div class="txt">Market Growth</div>
    </div>
       </div>
</div>

<div class="d-flex justify-content-center gap-30 flex-wrap mt-5">
    <div class="table-1">
        <div class="head">Pros</div>
        <div class="content">
            <ul class="list-none">
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Can be very precise and accurate</div> </div></li>
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Consistent and objective process</div> </div></li>
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Minimal sales management involvement required</div> </div></li>
         
            </ul>
        </div>
    </div>

    <div class="table-1">
        <div class="head">Cons</div>
        <div class="content">
           <ul class="list-none">
            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to communicate how quotas are set</div> </div></li>
            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Reliant on accurate data / data analytics with high correlation to results</div> </div></li>
           
           </ul>
        </div>
    </div>
</div>
</div>

<!--/////////////////////// section-12 /////////////////////////////////////////////////////////-->
 <div class="container mt-5 mb-5">
    <h3>5. Statistical Modeling</h3>
    <h5 class="fst-italic">Statistical Modeling uses external (and internal) data and regression analytics to predict appropriate quotas.</h5>

    <div class="mt-5 mb-5">

        <div class="d-flex justify-content-center flex-wrap">
            <div class="card-wrapper bg-blue">
                <div class="heading">Step 1</div>
                <div class="body">Collect all territory quantitative data, including global variables and customer/product variables.</div>
                <div class="triangle-left"></div>
            </div>


            <div class="card-wrapper bg-mblue">
                <div class="heading">Step 2</div>
                <div class="body">Develop a mathematical formula (algorithm‘) based on correlation of variables and regression analysis.</div>
                <div class="triangle-left1"></div>
            </div>

            <div class="card-wrapper bg-lblue">
                <div class="heading">Step 3</div>
                <div class="body">Conduct algorithm solution to establish sales quotas by account. Adjust for un-measurable factors. Adjust for personnel changes.
                    
                    </div>
                <div class="triangle-left2"></div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center gap-30 flex-wrap">
        <div class="table-1">
            <div class="head">Pros</div>
            <div class="content">
                <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Can be very precise and accurate</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Consistent and objective process</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Minimal sales management involvement required</div> </div></li>
              
                </ul>
            </div>
        </div>

        <div class="table-1">
            <div class="head">Cons</div>
            <div class="content">
               <ul class="list-none">
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to communicate how quotas are set</div> </div></li>
                <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Reliant on accurate data / data analytics with high correlation to results</div> </div></li>
              
               </ul>
            </div>
        </div>
    </div>

</div>
</div>
<!--/////////////////////// section-13 /////////////////////////////////////////////////////////-->
<div class="title-box">Appendix</div>
<div class="container mt-5">
    <h3 data-aos="fade-up" data-aos-duration="1000"> Target Allocation Methodology Summary of Pros and Cons</h3>
    
        
  
          <div class="pt-4 pb-5">
           
          <div class="table-0">
            <table>
                  <tr data-aos="fade-up" data-aos-duration="2000">
                   
                    <th scope="col">Method</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Pros</th>
                    <th scope="col">Cons</th>
                  </tr>
                  <tr data-aos="fade-up" data-aos-duration="2000">
                    <!-- <td><div class="txt-box"><div class="num">1</div><div>Opportunity Planning</div></div></td> -->
                    <td><p class="txt-box fw-bold">1. Opportunity Planning</p></td>
                    <td>Estimated number of deals by estimated deal size.</td>
                    <td> <ul class="list-none">
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Includes management in the process to identify deal types, estimated deal size and estimated # of deals </div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Facilitates simple communication of quota</div> </div></li>
                        </ul>
                    </td>
                        
                        
                    <td>
                        <ul class="list-none">
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires robust management training</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires management knowledge of deal types, estimated deal size and estimated # of deals</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to forecast lumpy business</div> </div></li>
                          
                           </ul>
                    </td>
                  </tr>
    
                  <tr data-aos="fade-up" data-aos-duration="2000">
                   
                     <td><p class="txt-box fw-bold">2. Major Account Planning</p></td>
                     <td>Applies close probability to account opportunity.</td>
                     <td> <ul class="list-none">
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Links quota and compensation to account planning process</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Includes management in the process to identify and prioritize sales opportunities</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Facilitates simple communication of quota</div> </div></li>
                         </ul></td>
                         
   
                     <td>
                         <ul class="list-none">
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires robust management training</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires management knowledge of opportunities and probability rates</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to forecast deals in 2nd half as well as large, lumpy business</div> </div></li>
                            </ul>
                     </td>
                  </tr>
                  
                 
                  
    
                  <tr data-aos="fade-up" data-aos-duration="2000">
                    <td><p class="txt-box fw-bold">3. Modified Fair Share</p></td>
                    <td>Apply modifying factors (based on management judgement) to previous year shares and one-time adjustments to calculate individual quotas.</td>
                    <td> <ul class="list-none">
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Easy to calculate and understood by Reps (assuming modifiers have been explained)</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Uses readily accessible data</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Considers potential factors in addition to historical data</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Includes management in the process</div> </div></li>
                       
                        </ul></td>
                        
                    <td>
                        <ul class="list-none">
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires robust management training</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Requires management knowledge of potential factors and how to apply factors to historical results</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Still reliant on historical data</div> </div></li>
                           </ul>
                    </td>
                    
                  </tr>
    
                  <tr data-aos="fade-up" data-aos-duration="2000">
                    <td><p class="txt-box fw-bold">4. Goaling Grid</p></td>
                    <td>Leverage statistical modeling to build out a quota increase grid.</td>
                    <td rowspan="2"> <ul class="list-none">
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Very precise and potential accurate</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Consistent and objective process</div> </div></li>
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Minimal sales management involvement required</div> </div></li>
                        </ul></td>
                        

                    <td rowspan="2">
                        <ul class="list-none">
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Difficult to communicate how quotas are set</div> </div></li>
                            <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Reliant on accurate data / data analytics with high correlation to results</div> </div></li>
                           </ul>
                    </td>
                  </tr>
                  <tr data-aos="fade-up" data-aos-duration="2000">
                    <td><p class="txt-box fw-bold">5. Statistical Modeling</p></td>
                    <td>Statistical Modeling uses external (and internal) data and regression analytics to predict appropriate quotas.</td>
                  </tr>

                  
              </table>
          </div>
  
  
      </div>
  </div>
