<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<!-- <app-cycle></app-cycle> -->
<div class="container mt-5 mb-5">
  <h3>Sales Compensation Program Management</h3>
  <div class="instruction">Hover over each of the components to learn more.</div>
  <div class="d-flex justify-content-center mt-5">
    <div class="rel">
      <img class="ring" src="assets/images/m1/ring.svg">
      <div class="ring-cirlce1" (mouseover) = "tab(1)" (mouseout) = "close()">Plan</div>
      <div class="ring-cirlce2" (mouseover) = "tab(2)" (mouseout) = "close()">Assess</div>
      <div class="ring-cirlce3" (mouseover) = "tab(3)" (mouseout) = "close()">Design</div>
      <div class="ring-cirlce4" (mouseover) = "tab(4)" (mouseout) = "close()">Administer</div>
      <div class="ring-cirlce5" (mouseover) = "tab(5)" (mouseout) = "close()">Implement</div>
      <div class="ins-txt1">Manage</div>
      <div class="ins-txt2">Manage</div>
      <div class="plan" *ngIf ="selectedContent == 1">
        <p>Plan</p>
  
        <ol>
          <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
          <li>Positions defined consistently with clear accountability and behaviors</li>
        </ol>
      </div>

      <div class="Assess" *ngIf ="selectedContent == 2">
        <p>Assess</p>
  
        <ol>
          <li>Collect sales force feedback</li>
          <li>Analyze pay-for-performance, effectiveness</li>
          <li>Compare plan results to appropriate market data (pay and practices)</li>
          <li>Ongoing sales performance and operations reporting is performed</li>
        </ol>
      </div>

      <div class="Design" *ngIf ="selectedContent == 3"><p>Design</p>
        <ol>
          <li>Align with compensation design principles</li>
          <li>Clear line of sight between measures and outcomes</li>
          <li>Measures are feasible</li>
          <li>Plans are competitive with external market</li>
          <li>Design includes cross functional input</li>
        </ol>
      </div>

      <div class="Administer" *ngIf ="selectedContent == 4"><p>Administer</p>
        <ol>
          <li>Systems track and report on progress, metrics</li>
          <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
          <li>Employee results communication and payment processing</li>
        </ol>
      </div>

      <div class="Implement" *ngIf ="selectedContent == 5"><p>Implement</p>
        <ol><li>Plans, targets and territories determined prior to new fiscal year</li>
        <li>Legal reviews</li>
        <li>Administration system setup</li>
        <li>Change and Communications Management</li>
        <li>Governance</li></ol>
      </div>
    </div>
  </div>
  </div>
<!-- <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation Program Management</h3>
   <div class="d-flex justify-content-center">
    <div class="rel mt-15" data-aos="fade-up" data-aos-duration="3000">
      <img class="img-bg" src="assets/images/m1/Picture3.png">
      <div class="t1">Manage</div>
      <div class="t2">Manage</div>
   
     
        <div class="l-box1 l-b1">
          <p class="text-center"><b>PLAN</b></p>
    
          <ol>
            <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
            <li>Positions defined consistently with clear accountability and behaviors</li>
          </ol>
    
        </div>
  
        <div class="l-box2 l-b2"><p class="text-center"><b>ASSESS</b></p>
          <ol>
            <li>Collect sales force feedback</li>
            <li>Analyze pay-for-performance, effectiveness</li>
            <li>Compare plan results to appropriate market data (pay and practices)</li>
            <li>Ongoing sales performance and operations reporting is performed</li>
          </ol>
          </div>
  
          <div class="l-box3 l-b3"><p class="text-center"><b>DESIGN</b></p>
            <ol>
              <li>Align with compensation design principles</li>
              <li>Clear line of sight between measures and outcomes</li>
              <li>Measures are feasible</li>
              <li>Plans are competitive with external market</li>
              <li>Design includes cross functional input</li>
            </ol>
          </div>
  
          
            <div class="l-box4 l-b4"><p class="text-center"><b>ADMINISTER</b></p>
              <ol>
                <li>Systems track and report on progress, metrics</li>
                <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
                <li>Employee results communication and payment processing</li>
              </ol>
            </div>
  
  
            <div class="l-box5 l-b5"><p class="text-center"><b>IMPLEMENT</b></p>
              <ol>
               <li>Plans, targets and territories determined prior to new fiscal year</li>
               <li>Legal reviews</li>
               <li>Administration system setup</li>
               <li>Change and Communications Management</li>
               <li>Governance</li>
              </ol>
             </div>
        </div>
   </div>
  </div> -->



  <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
  <div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Expected SIP Timeline (High-Level)</h3>
    <h5>The SIP Process should be initiated in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
    <div class="mt-4">
      <div class="d-flex justify-content-end align-items-center">
        <div><img  src="assets/images/tri.png"></div>
        <div>= Key Milestone</div>
  
      </div>
      <img class="img-fluid" src="assets/images/m6/img1.png"></div>
</div>
</div>

 <!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
 <div class="container pt-5 pb-5">
    <h3 >Typical Implementation Pod</h3>
    <h5>A great team will be assembled to support the SIP transition process. Typically, the team consists of the below stakeholders:</h5>
    
    <div class="content mt-5">
        <div class="d-flex justify-content-around">
            <div class="text-center">
                <div><img src="assets/images/m6/img2.png"></div>
                <div class="txt-160">Regional Total Rewards Analyst</div>
            </div>

            <div class="text-center">
                <div><img src="assets/images/m6/img3.png"></div>
                <div class="txt-160">Regional Communications Tag</div>
            </div>

            <div class="text-center">
                <div><img src="assets/images/m6/img4.png"></div>
                <div class="txt-160">Project Manager </div>
            </div>
        </div>
    </div>

    <div class="content mt-4">
        <div class="d-flex justify-content-evenly">
            <div class="text-center">
                <div><img src="assets/images/m6/img5.png"></div>
                <div class="txt-160">Country ER/IR Tag</div>
            </div>

            <div class="text-center">
                <div><img src="assets/images/m6/img6.png"></div>
                <div class="txt-160">Regional Change Management Tag</div>
            </div>
        </div>
    </div>
</div> 


 <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->

 <div class="bg-lsblue mt-5">
    <div class="container pt-5 pb-5">
    <h3>Implementation Team Selection Process – Org Structure</h3>
    <h5>Typically, implementation teams are composed of similar members as the design team, but the ownership and roles shift.</h5>
    <div class="d-flex flex-wrap justify-content-center mt-5 mb-5">
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>MD</b> <span class="fst-italic">(recommended)</span></h5>
        <p class="card-text">Owns overall compensation plan and outcome; communicates strategy</p>
        
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sales Management</h5>
        <p class="card-text">Helps communicate plans and drive performance</p>
        
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sales Operations</h5>
        <p class="card-text">Administers performance and payout</p>
        
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Human Resources</h5>
        <p class="card-text">Generates communication content and drives change management</p>
        
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Project Manager</h5>
        <p class="card-text">Owns project execution, clarifies objectives, oversees day-to-day operations</p>
        
      </div>
    </div>
  
    
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Other</h5>
        <p class="card-text">Inputs from IT, Marketing and Finance</p>
        
      </div>
    </div>
  </div>

  <p> <u>Note</u>: Whereas Total Rewards will often play a very strong role in organizing plan design activities, business resources like those listed above will take over primary accountability for planning and driving plan implementation activities.  
  </p>
   </div> 
  </div>


  <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
 <div class="container pt-5 pb-5">
    <h3 >Example Implementation Work Plan</h3>
    <h5>Outline of SIP rollout: </h5>

    <div class="table1">
        <table>
            <tr>
                <th class="bg-blue">Department</th>
                <th class="bg-mblue">Implementation Sequence</th>
                <th class="bg-lblue">Medium</th>
            </tr>

            <tr>
                <td rowspan="3" class="text-center fw-bold">Sales Operations/Plan Administrators</td>
                <td>Update plan administration tool with plans and quotas</td>
                <td class="text-center">Relevant Systems</td>
            </tr>

            <tr>
                <td>Collect ongoing feedback on plans from incumbents</td>
                <td class="text-center">End of quarter surveys</td>
            </tr>

            <tr>
                <td>Track ongoing issues and properly escalate</td>
                <td class="text-center">Excel tool</td>
            </tr>

            <tr>
                <td rowspan="8" class="text-center fw-bold">Sales</td>
                <td>Create and approve new plan communications and trainings</td>
                <td class="text-center">Varies</td>
            </tr>

            <tr>
                <td>Make relevant and/or necessary plan change announcements to sales teams</td>
                <td class="text-center">All Hands Meeting</td>
            </tr>

            <tr>
                <td>Teams receive plan presentations (not final plan documents)</td>
                <td class="text-center">PowerPoint</td>
            </tr>

            <tr>
                <td>Managers conduct 1:1’s with direct reports</td>
            <td class="text-center">PowerPoint, Meeting</td>
            </tr>

            <tr>
                <td>Set sales quotas</td>
                <td class="text-center">Excel Tool</td>
            </tr>

            <tr>
                <td>Final legal approval of plan documents</td>
                <td class="text-center">Meeting</td>
            </tr>

            <tr>
                <td>Sellers receive approved plan documents</td>
                <td class="text-center">PDF</td>
            </tr>

            <tr>
                <td>Collect Plan Acknowledgement Forms and send to HR</td>
                <td class="text-center">DocuSign or Email</td>
            </tr>
        </table>
    </div>
</div>


