<app-breadcrumbs></app-breadcrumbs>

 <!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->

 <div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Cargill’s Sales Compensation Design Guiding Principles and Process Steps</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">The sales compensation process is broken into 10 distinct steps:</h5>
     <div class="d-flex" data-aos="fade-up" data-aos-duration="2000">
       <div class="bg-green txt-white p-4 border-g hw">Goal</div>
       <div class="bg-lblue txt-white p-4 d-flex justify-content-center align-items-center border-lb w-100">Attract and retain best-in-class talent through differentiated rewards that recognize performance resulting in increased business profitability and growth</div>
     </div>

     <div class="flex-container  mt-4" data-aos="fade-up" data-aos-duration="3000">
       <div class="d-flex">
         <div class="bg-green txt-white p-3 border-g  h-120 ">Component Guidelines 
          
         </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90">Eligibility 
            <div class="num">1</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1 ">Target Total Comp 
            <div class="num">2</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Pay Mix 
            <div class="num">3</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Upside (leverage) 
            <div class="num">4</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Measures 
            <div class="num1">5</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Mechanics & Pay Curve 
            <div class="num1">6</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Perf & Payout Periods 
            <div class="num1">7</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Targets/ Goals 
            <div class="num1">8</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Crediting & Policies 
            <div class="num1">9</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Special Incentives & Rewards 
            <div class="num1">10</div>
          </div>
       </div>
       <h5 class="pt-3">This Section will show how each of these steps will be addressed and utilized during the design stage of the SIP compensation process.</h5>
     </div>
     
     
     
  </div> 


  <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue mt-5 mb-5">
 <div class="container pt-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Eligibility</h3>

    <div class="content txt-white">
            
            <div class="d-flex justify-content-center align-items-center flex-wrap" data-aos="fade-up" data-aos-duration="2000">
                <div class="p-3 bg-blue m-3">
                    <p><b>Eligibility Criteria:</b></p>
                <ul>
                    <li>Significant customer and/or partner contact and relationship</li>
                    <li>Influence on the customer to generate revenue for Cargill</li>
                    <li>High level of sales process involvement/ownership</li>
                    <li>Clear and quantifiable sales objectives</li>

                </ul>
                </div>

                <div class="p-3 bg-blue m-3">
                    <p><b>Checklist:</b></p>
                <ul class="list-none">
                    <li>&#10004; Role is primarily customer-facing</li>
                    <li>&#10004; The role has the ability to persuade the customer to buy</li>
                    <li>&#10004; Sales Role with measurable metrics</li>
                </ul>
                </div>
            </div>
    </div>
       

<div>
  <h5 class="text-center pt-3" data-aos="fade-up" data-aos-duration="2000">Sales Process Steps</h5>
  <div class="d-flex flex-wrap fcenter" data-aos="fade-up" data-aos-duration="3000">
      
  <div class="">
      <div class="table">

          <table>
              <tr>
                <th class="text-center txt-white bg-mblue"><div class="rel">Access <img class="arr1 " src="assets/images/m4/arrow.png"></div> </th>
                <th class="text-center txt-white bg-mblue"><div class="rel">Influence <img class="arr2 " src="assets/images/m4/arrow.png"></div> </th>
                <th class="text-center txt-white bg-mblue">Fulfill</th>
              </tr>

              <tr>
                <td>
                    <ul class="no-ul">
                        <li>Create Prospect Lists</li>
                        <li>Contact Prospects</li>
                        <li> Qualify Leads</li>
                        <li>Identify Needs</li>
                        <li>Participate in Trade Shows</li>
                        <li>Evangelism</li>   
                    </ul>
                </td>

                <td>
                    <ul class="no-ul">
                        <li><b>Create and Deliver Sales Pitch to Buyers and Buying Influences</b></li>
                        <li><b>Overcome Objections</b></li>
                        <li><b>Close Sales</b></li>
                    </ul>
                </td>

                <td>
                    <ul class="no-ul">
                        <li>Expedite Orders</li>
                        <li>Coordinate Servicing</li>
                        <li>Install / Deploy Solution</li>
                        <li>Train Customer</li>
                        <li>Handle Service Questions</li>
                        <li>Collect Customer and Competitor Feedback</li>
                        <li>Ensure Customer Satisfaction</li>
                      
                    </ul>
                </td>
               
              </tr>
             
            </table>
          
      </div>
      </div>

     
      <div class="">
      <div class="table">

          <table>
              <tr>
                <th class="text-center txt-white bg-mblue">Sales Support Activities</th>
              </tr>

              <tr>
                <td>
                    <ul class="no-ul">
                        <li>Schedule Meetings</li>
                        <li>Respond to Customer Inquiries</li>
                        <li>Create Product / Solution Offering</li>
                        <li>Develop Proposals</li>
                        <li>Determine Price</li>
                    </ul>
                </td>
               
              </tr>
             
            </table>
          
      </div>
  </div>
</div>
</div>
</div>
</div>


 <!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->

 <div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Target Total Cash (TTC) Decisions</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">TTC decisions guide pay levels. Total Rewards teams own the process of gathering and organizing external market information to establish TTC information for eligible sales positions.</h5>
    

    <div class="d-flex justify-content-around" data-aos="fade-up" data-aos-duration="3000">
        <div class="table1 mt-5">

            <table>
                <tr>
                  <th class="text-center txt-white bg-mblue">Target Total Cash</th>
                </tr>

                <tr>
                  <td>
                      <ul class="no-ul">
                          <li>Competitive pay levels to attract the level of talent sales requires</li>
                          <li>Benchmarking to the right roles and companies based upon job content</li>
                          <li>Compensation program meets fiscal requirements</li>
                      </ul>
                  </td>
                 
                </tr>
               
              </table>
            
        </div>

        <div class="mt-5">
           <div class="rel">
            <img src="assets/images/m4/img9.png">
            <div class="c1">Corporate Philosophy</div>
            <div class="c2">Mgmt. Judgment</div>
            <div class="c3">External Market Data</div>
            <div class="c4">Internal Pay Data</div>
            <div class="c5">Relative Equity Between Jobs</div>
            <div class="c6">Internal Job Worth</div>
            <div class="c7">TTC</div>
           </div>
        </div>
    </div>
  </div> 


   <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->

 <div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Target Pay Mix Decision</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">Percentage of pay-at-risk should align to amount of persuasion involved in the job role.</h5>
    

    <div class="d-flex gap justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3000">
        <div class="table">

            <table>
                <tr>
                  <th class="text-center txt-white bg-mblue">Pay Mix</th>
                </tr>

                <tr>
                  <td class="h-333">
                      <ul class="no-ul">
                          <li>Pay mix is the percentage of target total compensation (TTC) derived from base salary compared to pay-at-risk</li>
                          <li>Designed by job, with minimal variance across individuals in the same job role</li>
                          <li>Reflects the job’s degree of individual customer persuasion while considering corporate pay philosophy and market benchmarks</li>
                          <li>Jobs with the most individual persuasion have more aggressive pay mix (more at-risk)</li>
                      </ul>
                  </td>
                 
                </tr>
               
              </table> 
            
        </div>


          <div> <div class="triangle-right1"></div></div>

        <div class="pt-3">
          <img src="assets/images/m4/img2.png">
        </div>
        
    </div>

  </div> 


    <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->

 <div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Leverage Designs</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">Like pay mix, a plan’s leverage should align to amount of persuasion involved in the job role.</h5>
    

    <div class="d-flex gap justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3000">
        <div class="table">

            <table>
                <tr>
                  <th class="text-center txt-white bg-mblue">Leverage</th>
                </tr>

                <tr>
                  <td class="h-333">
                      <ul class="no-ul">
                          <li>Leverage is the percentage of target incentive earned by top performers, referred to as a plan’s Excellence point</li>
                          <li>Generally, top performers are defined as the 10% of achievers for a measure</li>
                          <li>Leverage is the percentage of target incentive those top performers earn</li>
                          <li> Communicated as a fixed ratio of the upside opportunity to target incentive</li>
                          <li>Leverage should be aligned to the degree of influence involved in a sales role</li>
                          <li>Jobs with the most influence on the purchasing decision have a higher upside earning</li>
                      </ul>
                  </td>
                 
                </tr>
               
              </table>
            
        </div>

        <div> <div class="triangle-right1"></div></div>

        <div class="pt-3">
          <img src="assets/images/m4/img3.png">
        </div>
    </div>

  </div> 


     <!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
 <div class="container mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Leverage and Pay Mix Design in Practice</h3>
  <h5 data-aos="fade-up" data-aos-duration="2000">Target pay mix informs how payouts should be structured, however, actual pay mix at fiscal year end may differ based on plan design and performance. This slide and the next will show examples of how these can affect the actual pay mix.</h5>
  

  <div class="d-flex gap mt-5" data-aos="fade-up" data-aos-duration="3000">
      
    <div class="">
      <img src="assets/images/m4/img4.png">
    </div>

      <div class="">
        <div class="text-center"><img src="assets/images/m4/img6.png"></div>
        <p class="border-dashed p-2">Because this seller achieved 50% of their annual quota, the total target incentive payout was $7,500. This results in an actual pay mix of 86% in base salary and 14% in incentive, with the total payout being $87,000.</p>
      </div>

      <div class="pt-3">
        <img src="assets/images/m4/img5.png">
      </div>

  </div>

</div> 


     <!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->

     <div class="container mt-5 mb-5" data-aos="fade-up" data-aos-duration="3000">
      <div class="d-flex gap mt-5">
          
        <div class="">
          <img src="assets/images/m4/img4.png">
        </div>
    
          <div class="">
            <div class="text-center"><img src="assets/images/m4/img7.png"></div>
            <p class="border-dashed p-2">Because this seller achieved 175% of their annual quota, the total target incentive payout was $71,875. This results in an actual pay mix of 51% in base salary and 49% in incentive, with the total payout being $146,875.</p>
          </div>
    
          <div class="pt-3">
            <img src="assets/images/m4/img8.png">
          </div>
    
      </div>
    
    </div> 
  </div>
       <!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->

 <div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">General Pay Mix Framework</h3>
  
  <div class="d-flex mt-5" data-aos="fade-up" data-aos-duration="2000">
    <div>
      <div class="txt-center">Less Aggressive
      </div>
      <div> <img class="img-fluid"  src="assets/images/m4/arr2.png"></div>
      <div class="txt-center">More Aggressive
      </div>
    </div>

    <div class="table4" >
      <table>
        <tr>
          <th class="b-r th-white"></th>
          <th class="b-t">SIP?</th> 
          <th class="b-t">Pay Mix Range 
            (Base/At Risk)</th>
          <th class="b-t b-r"><i>Leverage</i></th> 
          <th>Measures<br>
            See next pages for additional guidance</th>
          <th>Mechanic*</th> 
          <th>Performance Period</th>
          <th>Common Payout Frequency</th>
        </tr>
  
        <tr>
          <td class="b-r bg-green" colspan="">Technical Support </td>
          <td colspan="3" class="bg-green b-r"></td>
          <td colspan="4" class="bg-green"></td>
          
          
        </tr>
        <tr>
          <td class="b-r bg-mblue">  &lt;30% Customer Facing (e.g. ILP)</td>
          <td class="bg-gray1">BIP</td>
          <td  class="bg-gray1">-</td>
          <td class="b-r bg-gray1">-</td>
          <td class="bg-gray1" colspan="4">Annual</td>
        </tr>
        <tr>
          <td class="b-r bg-mblue">&gt;30% Customer Facing</td>
          <td class="bg-gray2">½</td>
          <td class="bg-lblue f-bold">85/15 - 80/20</td>
          <td  class=" b-r bg-yellow"><i>2.00-2.25</i></td>
          <td class="bg-gray2" colspan="4">50% BIP | 50% Team Sales – Aligned w/ Paired Sellers’ Plan</td>
        </tr>
  
        <tr>
          <td class="b-r bg-green" colspan="">Sales Managers</td>
          <td class="bg-green b-r" colspan="3"></td>
          <td class="bg-green" colspan="4"></td>
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">&#8805; 2<sup>nd</sup>Line Manager</td>
          <td class="bg-gray2">BIP<sup>**</sup></td>
          <td class="bg-gray3">-</td>
          <td class=" b-r bg-gray3"></td>
          <td class="bg-gray3">-</td>
          <td class="bg-gray3">-</td>
          <td class="bg-lblue2" rowspan="3 " >Annual</td>
          <td class="bg-gray3" rowspan="3">Annual</td>
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">1<sup>st</sup> Line Manager<sup>****</sup></td>
          <td class="bg-gray1 bg-gray1">&#10004;</td>
          <td class="bg-blue f-bold">80/20</td>
          <td class=" b-r bg-yellow"><i>2.00-2.50</i></td>
          <td class="bg-gray1">Team Results – Aligned to Sales Team</td>
          <td class="bg-gray1" rowspan="2">Aligned to Selling Team</td>
  
         
          
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">Managing Team &lt; 70% <i>(Player/Coach)</i> </td>
          <td class="bg-lgreen">&#10004;</td>
          <td class="bg-lgreen2 f-bold">80/20 - 75/25</td>
          <td class=" b-r bg-yellow">2.00-2.50</td>
          <td class="bg-lgreen">Team Sales Results – Aligned to Sales Team ÷ Individual Sales Results</td>
        </tr>
  
        <tr>
          <td class="b-r bg-green" colspan="">Sales Roles</td>
          <td colspan="3" class="bg-green b-r"></td>
          <td class="bg-green" colspan="4"></td>
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">Key Account</td>
          <td class="bg-lgreen">&#10004;</td>
          <td class="bg-blue f-bold">85/15 - 80/20</td>
          <td class=" b-r bg-yellow2">2.00 -2.50</td>
          <td rowspan="5" class="b-l bg-gray4">Aligned to Selling Job, Customer Segment, and Growth Opportunity</td>
          <td rowspan="5" class="bg-lgreen">
            <div class="text-center">Goal-Based*</div>
            <div class="text-center"><img src="assets/images/m4/img10.png"></div>
            <div class="text-center">Commission</div>
          </td>
          <td rowspan="5" class="bg-lgreen">Annual</td>
          <td rowspan="5" class="bg-lgreen">
            <div class="text-center ">Annual</div>
            <div class="text-center"><img  src="assets/images/m4/img10.png"></div>
            <div class="text-center">Monthly</div>
          </td>
        </tr>
  
  
        <tr>
          <td class="b-r bg-mblue">Farmer</td>
          <td class="bg-gray1">&#10004;</td>
          <td class="bg-lgreen2 f-bold">80/20 - 75/25</td>
          <td class="bg-yellow2">2.00 -2.50</td>
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">Farmer/Hunter</td>
          <td class="bg-lgreen">&#10004;</td>
          <td class="bg-lblue4 f-bold">80/20 - 75/25</td>
          <td class="bg-lblue3">2.25 -2.50</td>
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">Hunter</td>
          <td class="bg-gray1">&#10004;</td>
          <td class="bg-lblue5 f-bold">70/30 - 65/35</td>
          <td class="bg-lgreen2">2.25 -3.00</td>
        </tr>
  
        <tr>
          <td class="b-r bg-mblue">Hunter/ White Space</td>
          <td class="b-b bg-gray1">&#10004;</td>
          <td class="b-b bg-lblue6 f-bold">65/35 - 60/40</td>
          <td class="b-b bg-lblue">2.50 -3.00</td>
        </tr>
  
  
  
  
      </table>
    </div>
  </div>
</div> 