<div class="bg-color" *ngIf = "this.router.url !== '/'">

        <!-- <div class="container">
            <div class="d-flex page-nav">
                <div  class="d-flex fcenter next" (click)="service.previous()">
                    <p>{{service.prevTopic.name}}</p>
                    <img class="bounce-left" title="previous" src="assets/images/left.svg" alt="previous">
                    <p>Previous Topic</p>
                </div>
               
                    <div   class="d-flex fcenter next" (click)="service.next()">
                    <p>Next Topic</p>
                    <div>
                        <img class="bounce-right" title="next" src="assets/images/right.svg" alt="next">
                    </div>
                </div>
    
            </div>
        </div> -->




        <div class="container">
            <div class="">
                <div class="d-flex page-nav">
                    <div  class=" pre-arrow d-flex fcenter next" (click)="service.previous()">
                        <!-- <p>{{service.prevTopic.name}}</p> -->
                        <img class="icon" title="previous" src="assets/images/left.svg" alt="previous">
                        <p class="action">Previous Topic</p>
                    </div>
                   
                        <div class="nxt-arrow d-flex fcenter next" (click)="service.next()" *ngIf="service.router.url !== '/m8'">
                        <p class="action">Next Topic</p>
                        <div>
                            <img class="icon" title="next" src="assets/images/right.svg" alt="next">
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
 
</div>
