<app-breadcrumbs></app-breadcrumbs>

<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>Expected SIP Timeline (High-Level)</h3>
    <h5>The SIP Process should be initiated in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
   
    <div class="">
        <div class="d-flex justify-content-end align-items-center">
            <div><img  src="assets/images/tri.png"></div>
            <div>= Key Milestone</div>
      
          </div>
      <img class="mt-4 img-fluid" src="assets/images/m5/img1.png">
      
    </div>
  </div> 

    <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
    <div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
        <h3>Key Questions that Cost Modeling Will Answer</h3>
         
        <div class="questions d-flex justify-content-center">
    
            <ol class="list-none">
                <li><div class="d-flex"><div class="pe-2">1.</div><div>Will the proposed plan designs meet our budget expectations?</div> </div></li>
                <li><div class="d-flex"><div class="pe-2">2.</div><div>Under different performance scenarios, will total payout align to our pay-for-performance philosophy?</div> </div></li>
                <li><div class="d-flex"><div class="pe-2">3.</div><div>What are the impacts to individual payout?</div> </div></li>
                <li><div class="d-flex"><div class="pe-2">4.</div><div>What is our compensation cost of sales?</div> </div></li>
               
            </ol>
        </div>
         </div>
        </div>
    <!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
    <div class="container pt-5 pb-5" data-aos="fade-up" data-aos-duration="1000">
        <h3>What is the Purpose of a SIP Cost Modeling?</h3>
        <h5>After SIP design, it is imperative to conducting SIP costing to ensure that the projected costing is in line with budget expectations.</h5>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div><b>YES</b><img class="" src="assets/images/m5/bracket1.png"></div>
           <div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="bluebox">Predict Costs</div>
                <div class="ps-3 para"><i>Estimate</i> total cash compensation costs to ensure they meet budget expectations</div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="bluebox">Mitigate Risk</div>
                <div class="ps-3 para">Pressure test plans by identifying and modeling specific situations that may cause the payout mechanics to fail</div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="bluebox">Model Plan Changes</div>
                <div class="ps-3 para">Model alternative plan designs to understand their impact on the budget</div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="bluebox">Test Pay for Performance</div>
                <div class="ps-3 para">Evaluate how payouts at different performance levels align to company’s pay for performance philosophy</div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div class="bluebox">Determine Incumbent Impact</div>
                <div class="ps-3 para">Understand how an alternative plan design impacts an incumbent’s cash compensation (sometimes)</div>
            </div>
            </div>
        </div>

       <div>
        

        <div class="d-flex justify-content-center align-items-center">
            <div><b>NO</b><img class="" src="assets/images/m5/bracket.png"></div>
            <div>
                <div class="redbox">Design Quotas</div>
                <div class="redbox">Refine the Headcount Plan</div>
            </div>
            <div class="ps-3 para">Since quotas and headcount plans can impact cost estimates, clients may confuse cost modeling with an exercise in quota and headcount planning. Cost modeling does not automatically include these two topics in scope and should be executed accordingly.</div>
        </div>
       </div>
            
         </div>


 <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
 <div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Cost Modeling Decision Guidance</h3>
    <h5>Depending on the plan designs and historical data availability, there are various ways to develop a cost model.</h5>

   <div class="table1">
    <table>
        <tr>
          <th class="bg-blue">Plan Design</th>
          <th class="bg-mblue">Is Historical Performance Data Available?</th> 
          <th class="bg-lgreen">Cost Model Guidance</th>
        </tr>
        <tr>
          <td rowspan="2"><b>Commission</b></td>
          <td>Yes</td>
          <td>Apply the commission rate to historical performance to project payout</td>
        </tr>
        <tr>
          <td>No</td>
          <td>Simulate volume performance by using a random number generator and apply commission rate to simulated performance</td>
        </tr>

        <tr>
            <td rowspan="2"><b>Quota-Based Bonus</b></td>
            <td>Yes</td>
            <td>
                <ul> 
                    <li>Apply the proposed payout curve to the historical quota attainment performance</li>
                    <li>Using the historical quotas, simulate quota attainment performance using a random number generator for low, mid and high scenarios to forecast a range of payouts</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>No</td>
            <td>Simulate quota attainment performance by using a random number generator and apply proposed payout curve to the simulated performance</td>
          </tr>
      </table>
   </div>
</div>
</div>

 <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
 <div class="container pt-5 pb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>The Customized Approach to Cost Modeling</h3>
    <h5>Typically, at least 3 performance scenarios are used during cost modeling in order to show the range of pay at various levels of <i>organization</i> performance:</h5>

    <div>
        <p><b>Low Performance:</b> Majority of incumbents below target quota attainment</p>
        <p><b>Target Performance:</b> Ideal performance distribution, with a mean of 100%</p>
        <p><b> High Performance:</b> Majority of incumbents above target quota attainment</p>
        <p>The critical activity and assumption behind the modeling scenarios is what to use for your <i>distribution</i> (not the mean) – actual historical data can be used, or distributions can be simulated with assumptions using Excel tools (whether based on historical data or not).</p>
    </div>
    <div><img class="img-fluid" src="assets/images/m5/img2.png"></div>
</div>

<!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Cost Modeling Process Steps</h3>

<div class="d-flex justify-content-center">
    <div class="table2">
        <table>
         
            <tr>
                <td class="text-center bg-blue">Assess</td>
                <td class="bg-blue">1</td>
                <td class="bg-gray">Collect required data and information during data collection phase</td>
            </tr>

            <tr>
                <td class="text-center bg-blue">Align</td>
                <td class="bg-blue">2</td>
                <td  class="bg-gray">Go through alignment phase and compensation design meetings</td>
            </tr>

            <tr>
                <td class="text-center bg-blue" rowspan="7">Design</td>
                <td class="bg-blue" >3</td>
                <td class="bg-gray">Document new plan design parameters (or options)</td>
            </tr>

            <tr>
                <td class="bg-blue">4</td>
                <td class="bg-gray">Confirm final design proposal with team</td>
            </tr>

            <tr>
                <td class="bg-blue">5</td>
                <td class="bg-gray">Architect the model and confirm the approach with your team</td>
            </tr>

            <tr>
                <td class="bg-blue">6</td>
                <td class="bg-gray">Build the model in Excel based on your approved architecture</td>
            </tr>


            <tr>
                <td class="bg-blue">7</td>
                <td class="bg-gray">Iterate, run sensitivity analyses, and finalize designs using the model</td>
            </tr>

            <tr>
                <td class="bg-blue">8</td>
                <td class="bg-gray">Confirm final design with team</td>
            </tr>

            <tr>
                <td class="bg-blue">9</td>
                <td class="bg-gray">Build final design summary and costing report</td>
            </tr>
          </table>
</div>
</div>
</div>
</div>

<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>Data Collection for Cost Modeling</h3>

    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="bg-img"><b>Process Guidance</b></div>
        <div class="bg-gray">
            <ul>
                <li>All information required for cost modelling should be covered under the typical data request for a compensation plan</li>
                <li>This information should be requested prior to or at the very beginning of a project</li>
            </ul>
        </div>
    </div>

<div class="d-flex gap-30 mt-4 flex-wrap justify-content-center">
    <div class="box">
        <div class="heading bg-blue">
            Employee and To-Be-Hired (TBH) Data
        </div>
        
        <div class="content">
            <p>Employee-level data for in-scope roles, including pay and bonus information and plan assignments</p>
            <p>can also include to be hired information if desired</p>
    
            <ul>
                <li> Employee Data</li>
                <ul>
                    <li>Name, Title, Location, Team</li>
                    <li>Plan Assignment</li>
                    <li>Target Total Comp</li>
                    <li>Pay Mix</li>
                    <li>Base Salary </li>
                    <li>Target Incentive</li>
                </ul>
                <li>TBHs</li>
                <ul>
                    <li># by Title, Location, Team </li>
                    <li>Start Date</li>
                    <li>Prorated Average Target Total Comp</li>
                    <li>Pay Mix</li>
                    <li>Prorated Average Base Salary</li>
                    <li>Prorated Average Target Incentive</li>
                </ul>
            </ul>
        </div>
    
    </div>


    <div class="box">
        <div class="heading bg-mblue">
            Incumbent Performance History
        </div>
        
        <div class="content">
            <p>From a cost modeling perspective, performance history should be collected so that accurate performance distributed assumptions can be made in the case of new products or roles, historical performance is not relevant.</p>
    
            <ul>
                <li>Prior Period Quotas / Goals (may modify)</li>
                <li>Prior Period Performance (may modify)</li>
                <li>Next Period Quotas (if available)</li>
                <li>Historical pay and performance by measure at the incumbent level</li>
            </ul>
        </div>
    
    </div>

    <div class="box">
        <div class="heading bg-lblue">
            Current Plan Designs
        </div>
        
        <div class="content">
            <p>Complete plan design details should be collected for both current plans and future designs. While only future may be needed to meet project needs, current is typically collected as well and may be needed to create plan comparison analyses.</p>
            
    
            <ul>
                <li>Pay Mix</li>
                <li>Measures and Weights</li>
                <li>Mechanics and Linkages (Hurdles, Matrixes, Etc.)</li>
                <li>Pay Curves</li>
                <ul>
                    <li>Commission Rates</li>
                    <li>Thresholds</li>
                    <li>Excellence Points</li>
                    <li>Leverage</li>
                    <li>Inflection Points </li>
                    <li> Caps/Decelerators</li>
                </ul>
                <li>Performance Periods</li>
                <li>In-Plan Uplifts (Sales Credit and/or Rate/Payment Uplifts) and Add-On Bonuses</li>
                
            </ul>
        </div>
    
    </div>
</div>
</div>


<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Estimated Plan Costing by Performance Scenario for Support Included</h3>
    <h5>Demonstrative Estimated Cost of Compensation for FY2021 with Performance Scenarios:</h5>

    <div class=" mt-5 text-center"><img class="img-fluid" src="assets/images/m5/img4.png"></div>
</div>
</div>

<!--/////////////////////// section-9 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>Every Cost Modeling Report Should Include Three Components</h3>
   

    <div class="mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex border-line">
                <div>
                    <img src="assets/images/m5/img7.png">
                </div>
                <div class="ps-3">
                    <p class="txt-blue f-25"><b>Executive Summary</b></p>
                    <p class="txt">Highlight the key results of the modeling and call out important areas for confirmation or alignment.</p>
                </div>
            </div>
            <div class="triangle-right"></div>
            <div class="ps-5"><img src="assets/images/m5/img8.png"></div>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="d-flex border-line-mblue">
                <div>
                    <img src="assets/images/m5/img11.png">
                </div>
                <div class="ps-3">
                    <p class="txt-yellow f-25"><b>Cost Results</b></p>
                    <p class="txt">Chart that present the results of the model across each scenario. A table with the detailed results by role or measure is often included underneath the chart.</p>
                </div>
            </div>
            <div class="triangle-right-mblue"></div>
            <div class="ps-5"><img src="assets/images/m5/img9.png"></div>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="d-flex border-line-lblue">
                <div>
                    <img src="assets/images/m5/img12.png">
                </div>
                <div class="ps-3">
                    <p class="txt-blue f-25"><b>Approach & Assumptions Summary</b></p>
                    <p class="txt">Document and present key approach and assumption information to share with the client.</p>
                </div>
            </div>
            <div class="triangle-right-lblue"></div>
            <div class="ps-5"><img src="assets/images/m5/img10.png"></div>
        </div>
    </div>
</div>

<!--/////////////////////// section-10 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>Sales Compensation Design Tool Kit Items</h3>
    <h5>Use these tools to assist in design work.</h5>

    <div class="d-flex pt-4"><div><img src="assets/images/m5/img5.png"></div><div><ol><li>Costing Model Example</li></ol></div></div>
    <div class=" mt-5 text-center"><img class="img-fluid" src="assets/images/m5/img6.png"></div>
</div>
