<app-breadcrumbs></app-breadcrumbs>

  <!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
  <!-- <app-table></app-table> -->
  <div class="container mt-5 mb-5">
    <h3>Expected SIP Timeline (High-Level)</h3>
    <h5>The SIP Process should initiate in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
   
    <div class="">
      <div class="d-flex justify-content-end align-items-center">
        <div><img  src="assets/images/tri.png"></div>
        <div>= Key Milestone</div>
  
      </div>
      <img class="mt-4 img-fluid" src="assets/images/m3/table3.png">
      
    </div>
  </div>
    <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
    <div class="bg-lsblue mt-5">
        <div class="container pt-5 pb-5">
        <h3 data-aos="fade-up" data-aos-duration="1000">What Type of Data is Needed?</h3>
        <h5 data-aos="fade-up" data-aos-duration="1000">Accurate and current data collection is a crucial part of the SIP process. Without clean and comprehensive data, cost modeling may result in errors and negatively effect individuals.</h5>
        <ul data-aos="fade-up" data-aos-duration="2000" >
            <li>Data will help inform design and drive decision making. Data is needed at the incumbent level for the individuals impacted.</li>
            <li>Data is typically extracted from CRM systems like Salesforce.com and HRIS systems.</li>
            <li>Data should be provided in Excel and must include employee ID.</li>

        </ul>
        <div class="table mt-2 mb-5 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="3000">
            <table>
                <tr>
                  <th class="bg-blue">Data Category</th>
                  <th class="bg-lblue"> Data Details</th>
                </tr>
               

                <tr>
                  <td class="bg-gray"> <b>Latest Sales Roster </b></td>
                  <td>
                      <ul class="no-ul">
                        <li> Demographic data (Name, Tenure, ID, geography)</li>
                        <li>Job Data (position title, job mapping)</li>
                      </ul>
                  </td>
                </tr>

                <tr>
                  <td class="bg-gray"><b>Pay Data by Incumbent</b></td>
                  <td><ul class="no-ul">
                      <li>Base Salary</li>
                      <li>Variable target (target incentive or expected earnings)</li>
                  </ul></td>
                </tr>
               
                <tr>
                  <td class="bg-gray"><b>Performance Data by Incumbent</b></td>
                  <td><ul class="no-ul">
                      <li> Goal / quota by measure</li>
                      <li>Performance against goal / quota by measure</li>
                      <li>Total volume performance (if commission based)</li>
                  </ul></td>
                </tr>

                <tr>
                    <td class="bg-gray"><b>Variable Payout by Incumbent</b></td>

                    <td><ul class="no-ul">
                        <li>Variable pay per measure </li>
                    </ul></td>
                  </tr>
                  

              </table>
        </div>
        
      </div>
</div>


<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->

    <div class="container pt-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Sample Data Collection Template</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">The below template will be provided in the toolkit to help facilitate necessary data collection.</h5>
   
    <div class="table1 mt-5 " data-aos="fade-up" data-aos-duration="3000">
        <table>
            <tr>
              <th colspan="11" class="bg-blue">General Information</th>
              <th colspan="5" class="bg-mblue">Pay Information</th>
              <th colspan="6" class="bg-lblue">Measure #1</th>
            </tr>
            <tr>
                <!-- this is for table header-1 -->
              <td class="bg-sblue">Employee ID</td>
              <td class="bg-sblue">Name</td>
              <td class="bg-sblue">Market</td>
              <td class="bg-sblue">Job Title</td>
              <td class="bg-sblue">Platform Sales Job</td>
              <td class="bg-sblue">Data of Entry to job</td>
              <td class="bg-sblue">Data of Termination (none if employed)</td>
              <td class="bg-sblue">Start Date on Plan</td>
              <td class="bg-sblue"> End Date on Plan</td>
              <td class="bg-sblue">Full Year on Plan/ in Role? (Yes / No)</td>
              <td class="bg-sblue">Manager ? (Yes / No)</td>

              <!-- this is for table header-2 -->
              <td class="bg-cblue">Base Salary</td>
              <td class="bg-cblue">Target Incentive (TI) </td>
              <td class="bg-cblue">On Target Earnings (OTE)</td>
              <td class="bg-cblue">Target Pay Mix (Base, Tl)</td>
              <td class="bg-cblue">Total Actual Incentive Earned</td>

              <!-- this is for table header-3 -->
              <td class="bg-cgreen">Measure Name</td>
              <td class="bg-cgreen">% of Annual Eligible Earnings</td>
              <td class="bg-cgreen">Measure #1: Target Incentive</td>
              <td class="bg-cgreen">Measure #1: Goal</td>
              <td class="bg-cgreen">Measure #1: Performance</td>
              <td class="bg-cgreen">Measure #1: Actual Incentive Paid</td>
            </tr>


             <tr>
                <!-- this is for table header-1 -->
              <td class="">123456789</td>
              <td class=""><span class="red">Example.</span><br>Joe Smith</td>
              <td class="">Poultry</td>
              <td class="">Sales Manager</td>
              <td class="">1st Line Sales Manager</td>
              <td class="">1/1/2018</td>
              <td class=""></td>
              <td class="">1/1/2020</td>
              <td class="">12/31/2020</td>
              <td class="">Yes</td>
              <td class="">Yes</td>

              <!-- this is for table header-2 -->
              <td class="">$75,000</td>
              <td class="">$25,000</td>
              <td class="bg-pink">$100,000</td>
              <td class="bg-pink">75/25</td>
              <td class="bg-pink">$0</td>

              <!-- this is for table header-3 -->
              <td class="">IOMM</td>
              <td class="">40%</td>
              <td class="bg-pink">$10,000</td>
              <td class=""></td>
              <td class=""></td>
              <td class=""></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

           
          </table>
    </div>
    
  </div>

  <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->

  <div class="bg-lsblue mt-5">
    <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">  Data Analysis</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">  Analyzing the current state SIP helps establish a baseline and determine what is working well and what are areas of opportunity and improvement.</h5>
      <div class="row" data-aos="fade-up" data-aos-duration="3000">
        <div class="col-lg-6 text-center mt-5 ">
          <img class="img-fluid" src="assets/images/m3/img6.jpg">
        </div>
        <div class="col-lg-6 mt-5 mb-5">
          <div class="pt-2">

           
              <p>Assessing the incumbent SIP plan involves qualitative and quantitative feedback regarding the effectiveness of the program</p>
              <p>Qualitative assessment methodologies:</p>
             
                  <ul>
                      <li>Web-based survey to get overall feedback on how the plan is working</li>
                      <li>One-on-one Interviews with key stakeholders such as sales managers and individual sellers </li>
                  </ul>
             
              <p>Quantitative assessment methodologies:</p>
           
                <ul>
                    <li>Analyzing total variable compensation payout versus budget</li>
                    <li>Analyzing annual quota performance per incumbent </li>
                    <li> Analyzing the correlation between payout and performance per measure </li>
                    <li>Analyzing variable payout per incumbent</li>
                </ul>
             
              
            <!-- <ul>
                  <li>Assessing the incumbent SIP plan involves qualitative and quantitative feedback regarding the effectiveness of the program</li>
                  <li>Qualitative assessment methodologies:</li>
                  <dd>
                      <ul>
                          <li>Web-based survey to get overall feedback on how the plan is working</li>
                          <li>One-on-one Interviews with key stakeholders such as sales managers and individual sellers </li>
                      </ul>
                  </dd>
                  <li>Quantitative assessment methodologies:</li>
                 <dd>
                    <ul>
                        <li>Analyzing total variable compensation payout versus budget</li>
                        <li>Analyzing annual quota performance per incumbent </li>
                        <li> Analyzing the correlation between payout and performance per measure </li>
                        <li>Analyzing variable payout per incumbent</li>
                    </ul>
                 </dd>
                  </ul> -->
          </div>
        </div>
      </div>
     </div>
  </div>



  <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Key Questions that Data Analysis Will Answer</h3>
    <div class="questions d-flex justify-content-center">

        <ol data-aos="fade-up" data-aos-duration="2000">
            <li>Do the current plans fall in line with our budgets?</li>
            <li> Are our top performers currently earning a proportional amount to their performance?</li>
            <li>Are our team members meeting their margin and revenue goals? </li>
            <li>Is there a good differentiation of payout between low and high performers? </li>
            <li>Is our salesforce motivated by the current plan designs?</li>
        </ol>
    </div>
     </div>
      
      
     
    
     
     
     
     
     
      
     
      
      
     
       
  