.txt1 {
    position: absolute;
    top: 136px;
    width: 305px;
    text-align: start;
  }
  
  .txt2 {
    position: absolute;
    top: 380px;
    /* left: 116px; */
    width: 200px;
    text-align: start;
  }
  
  .txt3 {
    position: absolute;
    top: 95px;
    left: 546px;
    width: 128px;
    color: #ffffff;
  }
  
  .txt4 {
    position: absolute;
    top: 276px;
    left: 503px;
    width: 159px;
    text-align: center;
  }
  
  .txt5 {
    position: absolute;
    top: 317px;
    right: 0px;
    width: 169px;
    text-align: end;
  }
  
  .txt6 {
    position: absolute;
    top: 422px;
    left: 405px;
    width: 137px;
    color: white;
    text-align: center;
  }
  
  .txt7 {
    position: absolute;
    top: 422px;
    left: 635px;
    width: 125px;
    color: white;
    text-align: center;
  }