<div class="container mt-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation is an Alignment Program</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">Sales compensation is an alignment program. It connects the company's growth strategy with its management narrative through design principles that leverage center practices.</h5>
    <p data-aos="fade-up" data-aos-duration="2000">A World-Class Sales Compensation Program Is Aligned to Strategy and Principles while considering Market practices</p>
    <div class="d-flex justify-content-center">
     <div class="rel" data-aos="fade-up" data-aos-duration="2000">
      <img class="mt-4 img-100" src="assets/images/m1/img3.png">
      <div class="txt1">Does your program drive your business strategy and align with its job roles?</div>
      <div class="txt2">Does your program align to best-in-class principles?</div>
      <div class="txt3">Strategic Alignment</div>
      <div class="txt4">Program Effectiveness</div>
      <div class="txt5">How aligned is your program to the market?</div>
      <div class="txt6">Principle Alignment</div>
      <div class="txt7">Market Alignment</div>
     </div>
    </div>
  </div>
