<app-breadcrumbs></app-breadcrumbs>

  <!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
  <!-- <app-table></app-table> -->
  <div class="container mt-5 mb-5">
    <h3>Expected SIP Timeline (High-Level)</h3>
    <h5>The SIP Process should initiate in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
   
    <div class="">
      <div class="d-flex justify-content-end align-items-center">
        <div><img  src="assets/images/tri.png"></div>
        <div>= Key Milestone</div>
  
      </div>
      <img class="mt-4 img-fluid" src="assets/images/m3/table4.png">
      
    </div>
  </div> 
  <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->

  <div class="bg-lsblue mt-5">
   
    <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Deciding What Roles Will Be Part of SIP Design</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">Selecting the roles that will be part of the SIP design process is a crucial planning step.</h5>
      <div class="row" data-aos="fade-up" data-aos-duration="3000">
        <div class="col-lg-6 text-center mt-5 ">
          <img class="img-fluid" src="assets/images/m3/img7.jpg">
        </div>
        <div class="col-lg-6 mt-5 mb-5">
          <div class="pt-5">
          
              <p>Selected roles should be directly responsible for driving sales or supporting sales</p>
              <p>Typical roles that are under SIP include:</p>
             
                  <ul>
                      <li>Account Managers</li>
                      <li>Sales Professionals </li>
                      <li>Sales Managers</li>
                      <li> National Sales Managers</li>
                  </ul>
              
              <p>Once roles are selected, they are grouped into <b>Platform Jobs</b> based on the nature of work being perfomed</p>
       
            <!-- <ul> 
                  <li>Selected roles should be directly responsible for driving sales or supporting sales</li>
                  <li>Typical roles that are under SIP include:</li>
                  <dd>
                      <ul>
                          <li>Account Managers</li>
                          <li>Sales Professionals </li>
                          <li>Sales Managers</li>
                          <li> National Sales Managers</li>
                      </ul>
                  </dd>
                  <li>Once roles are selected, they are grouped into <b>Platform Jobs</b> based on the nature of work being perfomed</li>
            </ul> -->
          </div>
        </div>
      </div>
     </div>
  </div>

 <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
 <div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">What is a Platform Job?</h3>
 

   
  <div class="d-flex justify-content-center">

    <div class="box1" data-aos="fade-up" data-aos-duration="2000">A grouping of jobs performing similar duties based on its strategy, specialization, sales process, route-to-market, segmentation, and job type.</div>
     <div class="box2 b-blue" data-aos="fade-up" data-aos-duration="2000">Replaces HR Job Profile titles.</div>
  </div>

  <div class="d-flex justify-content-center">

    <div class="box1 b-red" data-aos="fade-up" data-aos-duration="2000"><u><i>Not</i></u> defined by organizational structure, pay level, or product, account, or partner specific assignments (unless it results in a unique attribute).</div>
     <div class="box2" data-aos="fade-up" data-aos-duration="2000">Does <u><i>not</i></u> replace Business Titles.</div>
  </div>
  <!--  -->
  <div class="d-flex justify-content-center mt-5" data-aos="fade-up" data-aos-duration="3000"><h4><b>Direct Sales Example</b></h4></div>
  <div class="diagram" data-aos="fade-up" data-aos-duration="3000">
  
      
   
    <div class="d-flex">
      <div class="head1 pl-150">Current HR Job Profile Title</div>
      <div class="head2 pl-150">Job Attributes</div>
       <div class="head3 pl-150">Proposed Platform Jobs</div>
    </div>
    <div class="d-flex justify-content-center mt-3" >
      
      <div class="rel">
        
        <div class="txt1">Account Manager - Global</div>
        <div class="txt1">Account Manager - Enterprise</div>
        <div class="txt1">Account Manager - Strategic</div>
        <div class="txt1">Account Manager - Territory</div>
        <img class="arr1" src="assets/images/m3/img8.png">
        <img class="arr2" src="assets/images/m3/img8.png">
        <img class="arr3" src="assets/images/m3/img8.png">
        <img class="arr4" src="assets/images/m3/img8.png">
      </div>

      <div class="txt2">
        
        <div class="t2">Sales Strategy</div>
        <div class="t2">Specialization</div>
        <div class="t2">Sales Process</div>
        <div class="t2">Route to Market</div>
        <div class="t2">Segment</div>
        <div class="t2">Customer / Partner Focus</div>
        <div class="t2">Job Type</div>
        <div class="t2">Market Maturity</div>
        <div class="t2">Management Responsibility</div>
       
      </div>
      
      <div>
        <div class="txt3">Hunter</div>
        <div class="txt3">Hunter/Farmer</div>
        <div class="txt3">Farmer</div>
        <div class="txt3">Technical Sales</div>
      </div>
    </div>
  </div>
   </div>
  

      <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->

  <div class="bg-lsblue">
   
    <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Platform Jobs</h3>
      <div class="row" data-aos="fade-up" data-aos-duration="2000">
        <div class="col-lg-6 text-center mt-5">
          <img class="img-fluid mt-5" src="assets/images/m3/img9.jpg">
        </div>
        <div class="col-lg-6 mb-5">
          <div class="pt-5">
            <u>SELLING JOBS</u>
            <ul class="no-ul"> 
                <li><b>Key Account Management:</b> Primary focus is on expanding large, strategic customers </li>
                <li><b>Farming:</b> Primary focus is on expanding and retaining existing customers (typically classic or base)</li>
                <li><b>Farming/Hunting:</b> Equal focus between selling to both new and existing customers</li>
                <li><b>Hunting:</b> Primary focus is on finding  and selling to new customers</li>
                <li><b>Hunting-White Space:</b> Develops new, non-standard products and services; market builder</li>
            </ul>

            <u class="pt-3">SALES MANAGEMENT:</u>
            <ul  class="no-ul">
              <li><b>Sales Manager:</b> Primary role is people management; 1<sup>st</sup> line or 2<sup>nd</sup> line</li>
              <li><b>Player/Coach:</b> Mixed roles of people management and direct customer/account management</li>
            </ul>

            <u class="pt-3">TECHNICAL SALES SUPPORT</u>
            <ul  class="no-ul">
              <li>Possess advanced scientific or technical knowledge typically related to products or services</li>
              <li>Impacted by time spent in selling process directly influencing customers</li>
            </ul>
          </div>
        </div>
      </div>
     </div>
  </div>
    
  
  