<app-breadcrumbs></app-breadcrumbs>

<div class="container mt-5 mb-5">
    <h5>SIP implementation helps to minimize the complications and pitfalls of the previous system while improving plan transparency, seller motivation, and metric tracking.</h5>

   <div class="row">
       <div class="col-lg-8">
        <table>
            <tr>
              <th colspan="2" class="text-center bg-blue txt-white f-20">Old vs. New
            </th>
              
            </tr>
            <tr>
              <td class="bg-green"><b>What was working before SIP:</b> Performance measures executed within a shorter timeframe. These allow sellers to focus on execution, which in turn makes the measures more comprehensible and achievable.
            </td>
              <td class="bg-peach"><b>What was not working:</b> Alignment around performance metrics including: pay thresholds, and excellence points, especially across regions and countries. Sales leaders and sellers both have had difficulty understanding how current incentives work and how they can be leveraged. 
            </td>
            </tr>
            
          </table>

          <div class="">
            <table>
                <tr>
                  <th colspan="2" class="text-center bg-blue txt-white f-20">Moving Forward </th>
                  <th class="text-center bg-blue txt-white f-20">Key Metrics</th>
                </tr>
                <tr>
                  <td class="bg-sblue">New opportunity to highlight key areas where growth opportunities are most lucrative, improve sales morale and behavior, and simplify the understanding of connecting day-to-day work with total compensation.</td>
                  <td class="bg-sblue">Plan designs function and are funded depending on the complexities of customer administration and seller type. The Sprint process will greatly improve the understanding and visibility of investment vs. performance for sellers.</td>
                  <td class="bg-sblue1">
                      <ul class="no-ul">
                          <li><div class="d-flex"><div class="pe-2">#</div><div>of Plans Represented: <b>7</b></div> </div></li>
                          <li><div class="d-flex"><div class="pe-2">#</div><div>of Jobs Represented: <b>44</b></div> </div></li>
                          <li><div class="d-flex"><div class="pe-2">#</div><div>of Sellers Represented: <b>82</b></div> </div></li>
                          <li><div class="d-flex"><div class="pe-2">#</div><div>of Countries Represented: <b>8</b></div> </div></li>
                      </ul>
                    </td>
                </tr>

                <tr>
                   
                </tr>
                
              </table>
          </div>
       </div>

       <div class="col-lg-4">
        <div class="txt-box">
            <div class="text-center f-bold"><p>Key Takeaways:</p></div>
            
            <ul class="list-none">
                <li><div class="d-flex"><div class="pe-2">&#10004;</div><div>SIP will help drive clearer, more concise communication about compensation and performance measures between sales leaders and sellers while increasing motivation and transforming behavior.</div> </div></li>
                <li><div class="d-flex"><div class="pe-2">&#10004;</div><div>Simpler, more effective and transparent plan design will make the compensation process easier to understand and improve productivity.</div> </div></li>
            </ul>



        </div>
       </div>
   </div>
</div>