<div class="bg-lblue mt-5">
 <div class="container">
    <div class="breadcrumbs">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
              <li class="breadcrumb-item txt-gray" (click)="goToPage('')">Home</li>
              <img src="assets/images/m1/img7.svg">
              <li class="txt-gray">{{service.currentPage.volumeTitle}}</li>
              
              <li class="txt-gray">: {{service.currentPage.title}}</li>
          </ol>
          <h3 class="txt-white">{{service.currentPage.title}}</h3>
          </nav> 
    </div>
 </div>
</div> 