<app-breadcrumbs></app-breadcrumbs>

<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<!-- <app-cycle></app-cycle> -->
<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation Program Management</h3>
  <div class="instruction" data-aos="fade-up" data-aos-duration="2000">Hover over each of the components to learn more.</div>
  <div class="d-flex justify-content-center mt-5" data-aos="fade-up" data-aos-duration="3000">
    <div class="rel">
      <img class="ring" src="assets/images/m1/ring.svg">
      <div class="ring-cirlce1" (mouseover) = "tab(1)" (mouseout) = "close()">Plan</div>
      <div class="ring-cirlce2" (mouseover) = "tab(2)" (mouseout) = "close()">Assess</div>
      <div class="ring-cirlce3" (mouseover) = "tab(3)" (mouseout) = "close()">Design</div>
      <div class="ring-cirlce4" (mouseover) = "tab(4)" (mouseout) = "close()">Administer</div>
      <div class="ring-cirlce5" (mouseover) = "tab(5)" (mouseout) = "close()">Implement</div>
      <div class="ins-txt1">Manage</div>
      <div class="ins-txt2">Manage</div>
      <div class="plan" *ngIf ="selectedContent == 1">
        <p>Plan</p>
  
        <ol>
          <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
          <li>Positions defined consistently with clear accountability and behaviors</li>
        </ol>
      </div>

      <div class="Assess" *ngIf ="selectedContent == 2">
        <p>Assess</p>
  
        <ol>
          <li>Collect sales force feedback</li>
          <li>Analyze pay-for-performance, effectiveness</li>
          <li>Compare plan results to appropriate market data (pay and practices)</li>
          <li>Ongoing sales performance and operations reporting is performed</li>
        </ol>
      </div>

      <div class="Design" *ngIf ="selectedContent == 3"><p>Design</p>
        <ol>
          <li>Align with compensation design principles</li>
          <li>Clear line of sight between measures and outcomes</li>
          <li>Measures are feasible</li>
          <li>Plans are competitive with external market</li>
          <li>Design includes cross functional input</li>
        </ol>
      </div>

      <div class="Administer" *ngIf ="selectedContent == 4"><p>Administer</p>
        <ol>
          <li>Systems track and report on progress, metrics</li>
          <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
          <li>Employee results communication and payment processing</li>
        </ol>
      </div>

      <div class="Implement" *ngIf ="selectedContent == 5"><p>Implement</p>
        <ol><li>Plans, targets and territories determined prior to new fiscal year</li>
        <li>Legal reviews</li>
        <li>Administration system setup</li>
        <li>Change and Communications Management</li>
        <li>Governance</li></ol>
      </div>
    </div>
  </div>
  </div>
 <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->

 <div class="bg-lsblue">
    
  <div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">SIP Process Overview-Design</h3>
  <h5 data-aos="fade-up" data-aos-duration="2000">The SIP Design process helps develop best-in-class plans that drive desired behaviors and align with team and business unit strategy.</h5>
    <div class="row" data-aos="fade-up" data-aos-duration="3000">
      <div class="col-lg-6 text-center mt-5">
        <img class="img-fluid " src="assets/images/m3/img11.jpg">
      </div>

      <div class="col-lg-6 mt-5">
        <div class="mt-2">

         
            <p>Various stakeholders will be involved in the design process</p>
           
              <ul>
                <li> Roles will vary from executing the actual design, having approval rights and providing feedback and input</li>
              </ul>
           
            <p>Once all roles are mapped to a platform job, design sales compensation on a platform role basis</p>
            <p>Review best practices for each platform role</p>
           
              <ul>
                <li>What are examples of compensation plans for each role?</li>
              </ul>
           
            <p>Design will need to ensure that all measures are quantifiable and trackable </p>
            <p>Compensation costing will need to be run to ensure that plans are in line with budget</p>
         

          <!-- <ul>
            <li>Various stakeholders will be involved in the design process</li>
            <dd>
              <ul>
                <li> Roles will vary from executing the actual design, having approval rights and providing feedback and input</li>
              </ul>
            </dd>
            <li>Once all roles are mapped to a platform job, design sales compensation on a platform role basis</li>
            <li>Review best practices for each platform role</li>
            <dd>
              <ul>
                <li>What are examples of compensation plans for each role?</li>
              </ul>
            </dd>
            <li>Design will need to ensure that all measures are quantifiable and trackable </li>
            <li>Compensation costing will need to be run to ensure that plans are in line with budget</li>
          </ul> -->
        </div>
        
      </div>
    </div>
   </div>
</div>

<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Expected SIP Timeline (High-Level)</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">The SIP Process should initiate in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
   
    <div class="text-center" data-aos="fade-up" data-aos-duration="3000">
      <div class="d-flex justify-content-end align-items-center">
        <div><img  src="assets/images/tri.png"></div>
        <div>= Key Milestone</div>
  
      </div>
      <img class="mt-4 img-fluid" src="assets/images/m4/table1.png">
      
    </div>
  </div>


   <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
 <div class="bg-lsblue mt-5">
  <div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Key Design Questions To Address</h3>
 
  <div class="table mt-3  d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">
      <table>
          <tr>
            <th class="bg-blue">Design Topic</th>
            <th class="bg-lblue"> Key Design Questions</th>
          </tr>
          
          <tr>
            <td class="bg-gray text-center"> <b>General</b></td>
            <td>
                <ul class="no-ul">
                  <li>How many plan “types” do we design for?</li>
                  <li> How much customization / variation do we allow to account for territory differences? </li>
                </ul>
            </td>
          </tr>
          

          <tr>
            <td class="bg-gray text-center"><b>Measures</b></td>
            <td><ul class="no-ul">
                <li>How should new customers/accounts be measured?</li>
                <li>How do we account for different territory growth rates, new logo opportunities, and run-rate business levels</li>
            </ul></td>
          </tr>

          <tr>
            <td class="bg-gray text-center"><b>Pay Curve</b></td>
            <td><ul class="no-ul">
                <li> What are the appropriate below 100% attainment pay curve breakpoints?</li>
                <li>What are the appropriate corresponding acceleration rates</li>
                <li> Do pay curves differ between sellers in different territories?</li>
            </ul></td>
          </tr>

          <tr>
              <td class="bg-gray text-center"><b>Performance Period</b></td>

              <td><ul class="no-ul">
                  <li>What is the appropriate performance period?</li>
                  <li>What is the ideal calculation method of performance (discrete, cumulative, YTD cumulative, etc.)</li>
              </ul></td>
            </tr>

            <tr>
              <td class="bg-gray text-center"><b>Policies</b></td>

              <td><ul class="no-ul">
                  <li>What is the account transition policy from new logo sellers? Do they retain the account permanently?</li>
              </ul></td>
            </tr>
            

        </table>
  </div>
  
</div>
</div>


  <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->

  <div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Cargill’s Sales Compensation Design Guiding Principles and Process Steps</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">The sales compensation process is broken into 10 distinct steps:</h5>
     <div class="d-flex" data-aos="fade-up" data-aos-duration="2000">
       <div class="bg-green txt-white p-4 border-g hw">Goal</div>
       <div class="bg-lblue txt-white p-4 d-flex justify-content-center align-items-center border-lb w-100">Attract and retain best-in-class talent through differentiated rewards that recognize performance resulting in increased business profitability and growth</div>
     </div>

     <div class="flex-container mt-4" data-aos="fade-up" data-aos-duration="3000">
       <div class="d-flex">
         <div class="bg-green txt-white p-3 border-g  h-120 ">Component Guidelines 
          
         </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90">Eligibility 
            <div class="num">1</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1 ">Target Total Comp 
            <div class="num">2</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Pay Mix 
            <div class="num">3</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Upside (leverage) 
            <div class="num">4</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Measures 
            <div class="num">5</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Mechanics & Pay Curve 
            <div class="num">6</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Perf & Payout Periods 
            <div class="num">7</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Targets/ Goals 
            <div class="num">8</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Crediting & Policies 
            <div class="num">9</div>
          </div>
          <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Special Incentives & Rewards 
            <div class="num">10</div>
          </div>
       </div>
       <h5 class="pt-3">This Section will show how each of these steps will be addressed and utilized during the design stage of the SIP compensation process.</h5>
     </div>
     
     
     
  </div> 

    <!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
    <!-- <div class="bg-lsblue mt-5">
 <div class="container pt-5 pb-5">
  <h3>Sales Compensation Design Methodology</h3>
  <h5>Component-by-component plan design entails aligning on component decisions for each eligible role before moving to next component.</h5>
   
      <div class="text-center">
        <img class="m-2 " src="assets/images/m1/img6.png">
      </div>

      
      <div class="d-flex justify-content-center">
        <ul>
          <li><b>Provides correct amount of differentiation across roles</b></li>
          <li><b>Clear juxtaposition across plans ensures components are designed in relation to one another (e.g., can set pay mixes in-line with level of persuasion involved in job role)</b></li>
        </ul>
      </div>
</div> 
</div> -->


<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation Design Methodology</h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">Component-by-component plan design entails aligning on component decisions for each eligible role before moving to next component.</h5>
   
      <div class="" data-aos="fade-up" data-aos-duration="2000">
        <!-- <img class="m-2 " src="assets/images/m1/img6.png"> -->
        <div class="table0">
          <table>
            <tr>
              <th class="text-center bg-blue">PLAN</th>
              <th class="text-center" colspan="11">DESIGN</th> 
              <th class="text-center bg-blue">IMPLEMENT</th>
            </tr>
            <tr>
              <td rowspan="5">
                <ul class="no-ul">
                  <li><b>Business Objectives</b></li>
                  <li><b>Sales Strategy & Structure</b></li>
                  <li><b>Job Design</b></li>
                  <li><b>Corporate Sales Compensation Philosophy</b></li>
                </ul>
              </td>
              <td><b>Roles</b></td>
              <td>Eligibility</td>
              <td>Pay Level</td>
              <td>Pay Mix</td>
              <td>Leverage</td>
              <td>Measures</td>
              <td>Mechanics</td>
              <td>Periods</td>
              <td>Quotas</td>
              <td>Crediting</td>
              <td>SPIFFs</td>
              <td rowspan="5">
                <ul class="no-ul">
                  <li><b>Cost Modelling</b></li>
                  <li><b>Administration</b></li>
                  <li><b>Documentation, Communication, and Rollout</b></li>
                  <li><b>Ongoing Evaluation</b></li>
                </ul>

              </td>
            </tr>
            <tr>
              <td><b>Territory Rep</b></td>
              <td rowspan="4"><img src="assets/images/m1/img8.png"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><b>National Account Manager</b></td>
             
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><b>Product Specialist</b></td>
              
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><b>Sales Manager</b></td>
             
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div  data-aos="fade-up" data-aos-duration="3000">
        <ul class="no-ul">
          <li>Provides correct amount of differentiation across roles</li>
          <li>Clear juxtaposition across plans ensures components are designed in relation to one another (e.g., can set pay mixes in-line with level of persuasion involved in job role)
          </li>
        </ul>
      </div>
</div>  


  
   

 
    

  
