<app-breadcrumbs></app-breadcrumbs>

<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Cargill’s Sales Compensation Design Guiding Principles and Process Steps</h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">The sales compensation process is broken into 10 distinct steps:</h5>
  <div class="d-flex" data-aos="fade-up" data-aos-duration="2000">
    <div class="bg-green txt-white p-4 border-g hw">Goal</div>
    <div class="bg-lblue txt-white p-4 d-flex justify-content-center align-items-center border-lb w-100">Attract and
      retain best-in-class talent through differentiated rewards that recognize performance resulting in increased
      business profitability and growth</div>
  </div>

  <div class="flex-container mt-4" data-aos="fade-up" data-aos-duration="3000">
    <div class="d-flex">
      <div class="bg-green txt-white p-3 border-g  h-120 ">Component Guidelines

      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90">Eligibility
        <div class="num1">1</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1 ">Target Total Comp
        <div class="num1">2</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Pay Mix
        <div class="num1">3</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Upside (leverage)
        <div class="num1">4</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Measures
        <div class="num">5</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Mechanics & Pay Curve
        <div class="num">6</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Perf & Payout Periods
        <div class="num1">7</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Targets/ Goals
        <div class="num1">8</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Crediting & Policies
        <div class="num1">9</div>
      </div>
      <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Special Incentives & Rewards
        <div class="num1">10</div>
      </div>
    </div>
    <h5 class="pt-3">This Section will show how each of the highlighted steps will be addressed and utilized during the
      design stage of the SIP compensation process.</h5>
  </div>

</div>


<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5 ">
  <h3 data-aos="fade-up" data-aos-duration="1000">Measure and Weights Decisions</h3>
  <h5 data-aos="fade-up" data-aos-duration="2000">Measures should align to the specific behaviors the role is designed to perform.</h5>

  <div class="d-flex gap align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="3000">

    <div class="table1">

      <table>
        <tr>
          <th class="text-center txt-white bg-mblue">Measures & Weights</th>
        </tr>

        <tr>
          <td>
           
              <p>Measures are the activities/results by which salespeople are assessed and paid</p>
              <p>Measures should be designed with consideration to:</p>
            
                <ul class="list-none">
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div><div><u>Alignment</u> to strategy and job</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div><div><u>Influence</u> how time is spent</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div><div>Line of Sight</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div><div>Ability to set <u>targets/goals</u></div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div><div>Ability to <u>track</u></div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div><div><u>Objective</u> metrics</div> </div></li>
                </ul>
             
              <p> Measures are assigned weights, which represent the amount of target incentive pay assigned to a
                measure</p>
              
                <ul>
                  <li>Weights should reflect the job’s focus on that particular activity</li>
                </ul>
              
              <p> No more than <u>three</u> measures; no less than 20% weighting each</p>
            
          </td>

        </tr>

      </table>
    </div>


    <div> <div class="triangle-right1"></div></div>
    <div>
      <div class="table">

        <table>
          <tr>
            <th class="text-center txt-white bg-mblue" colspan="2">Wide Variety of Measures Exist…</th>
          </tr>

          <tr>
            <td>Production</td>
            <td>Revenue, Bookings, Gross Margin Dollars, Volume Sold</td>
          </tr>

          <tr>
            <td>Sales Effectiveness</td>
            <td>Product, Account, Margin Percent, Price Management</td>
          </tr>

          <tr>
            <td>Customer Impact</td>
            <td>Customer Satisfaction, Sales Satisfaction, Customer Loyalty</td>
          </tr>

          <tr>
            <td>Resource Management</td>
            <td>Productivity, Channel Effectiveness, Subordinate Success</td>
          </tr>

          <tr>
            <td>Activities</td>
            <td>Sales Milestone Tasks, Sales Events</td>
          </tr>

          <tr>
            <td>Subjective</td>
            <td>Supervisor Evaluation</td>
          </tr>

        </table>


      </div>

      <div class="table mt-1">

        <table>
          <tr>
            <th class="text-center txt-white bg-mblue" colspan="2">But Many Measure Types Should Be Avoided…</th>
          </tr>

          <tr>
            <td>Excessive number of measures</td>
            <td>Wishful thinking measures</td>
          </tr>

          <tr>
            <td>Corporate-wide measures</td>
            <td>Compliance measures</td>
          </tr>

          <tr>
            <td>Activity measures</td>
            <td>‘Cannot measure’ measures</td>
          </tr>


        </table>
      </div>
    </div>
  </div>
</div>


<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Measure Best Practices</h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">Measures should align with overall business goals, be achievable and drive motivation.</h5>

  <div class="d-flex justify-content-center mt-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="rel">
      <img src="assets/images/m4/img12.png">
      <div class="txt1">Financial, Production</div>
      <div class="txt2">Effectiveness</div>
      <div class="txt3">KSO / MBO</div>
      <div class="txt4">Subjective Activities</div>
      <div class="txt5">WEAK</div>
      <div class="txt6">STRONG</div>



    </div>
  </div>

  <p data-aos="fade-up" data-aos-duration="3000"><b>Menu of Performance Measures</b></p>
  <div class="table3" data-aos="fade-up" data-aos-duration="3000">
    <table style="width:100%">
      <tr>
        <th class="bg-lblue text-center">Volume / Production</th>
        <th class="bg-lblue text-center">Sales Effectiveness</th>
        <th class="bg-lblue text-center">Customer Impact (KSO / MBO)</th>
        <th class="bg-lblue text-center"> Other (KSO / MBO)</th>
      </tr>

      <tr>
        <td>
          <ul class="no-ul">
            <li>Revenue Dollars</li>
            <li>Profit Dollars</li>
            <li>Units Sold</li>
            <li>Products Sold</li>
          </ul>
        </td>

        <td>
          <ul class="no-ul">
            <li>Type of Product Sold</li>
            <li>Margin Percent</li>
            <li>Price Control</li>
          </ul>
        </td>

        <td>
          <ul class="no-ul">
            <li>New Customers</li>
            <li>Customer Retention</li>
            <li>Customer Satisfaction</li>
            <li>Customer Loyalty</li>
          </ul>
        </td>

        <td>
          <ul class="no-ul">
            <li>Product Mix</li>
            <li>Sales Milestone Tasks</li>
            <li>Sales Events</li>
          </ul>
        </td>
      </tr>

    </table>
  </div>
</div>




<!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">How to Determine Measurement Scope</h3>
  <ul data-aos="fade-up" data-aos-duration="2000">
    <li>Where possible, jobs should participate in only one type of plan: individual, team, or group</li>
    <li>Plans that use multiple measure levels should ensure proper balance between the components (weighted
      appropriately and linked if necessary)</li>
    <li>Avoid using team or group measures for jobs where there is no unifying leadership or shared mission</li>
  </ul>

  <div class="d-flex justify-content-center gap-30" data-aos="fade-up" data-aos-duration="3000">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-lblue txt-white">Individual Contributor</li>
        <li class="list-group-item">
          <ul>
            <li>Measured and rewarded at the individual level</li>
          </ul>
        </li>
        <li class="list-group-item bg-lblue txt-white">Account Manager or Territory Rep</li>
      </ul>
    </div>

    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-lblue txt-white">Work Team</li>
        <li class="list-group-item">
          <ul>
            <li>Measured and rewarded on collaborative team efforts</li>
          </ul>
        </li>
        <li class="list-group-item bg-lblue txt-white"> National Account Team</li>
      </ul>
    </div>

    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-lblue txt-white">Group (Common Workforce)</li>
        <li class="list-group-item">
          <ul>
            <li>Measured and rewarded at system-wide level</li>
          </ul>
        </li>
        <li class="list-group-item bg-lblue txt-white">Frontline Customer Care Team</li>
      </ul>
    </div>
  </div>
</div>


<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
<div class="container mt-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">General Funding Mechanics</h3>

  <p class="instruction pt-4" data-aos="fade-up" data-aos-duration="2000">Click each tab to know more.</p>
  <div data-aos="fade-up" data-aos-duration="3000">
    <app-tab [data]="this.tabDetails"></app-tab>
  </div>

</div>


<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->
<div class="container mt-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Pay Curve Decisions</h3>
  <h5 data-aos="fade-up" data-aos-duration="2000">Pay curves should be strategically designed to maximize the potential of the sales compensation system.</h5>

  <div class="d-flex gap justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="3000">

    <div class="table1">

      <table>
        <tr>
          <th class="text-center txt-white bg-mblue">Mechanics & Pay Curve</th>

        </tr>

        <tr>
          <td>


            
              <p>Pay curves explain how salespeople earn via illustrating the percentage of target incentive earned at
                various percentages of quota achieved</p>
              <p>Individual element decisions – e.g., threshold, leverage, cap, etc. – work to construct pay curves for
                each job</p>
                <p>Typically, compensation plans should:</p>
              <ul>
               
                <li>Set thresholds at point of recurring business</li>
                <li>Use quotas to accommodate varied territory</li>
                <li>Use excellence to set accelerator rates</li>
                <li>Decelerate rate after excellence to avoid over payment</li>
              </ul>
            <!-- <ul>
              <li>Pay curves explain how salespeople earn via illustrating the percentage of target incentive earned at
                various percentages of quota achieved</li>
              <li>Individual element decisions – e.g., threshold, leverage, cap, etc. – work to construct pay curves for
                each job</li>
                <li>Typically, compensation plans should:</li>
              <ul>
               
                <li>Set thresholds at point of recurring business</li>
                <li>Use quotas to accommodate varied territory</li>
                <li>Use excellence to set accelerator rates</li>
                <li>Decelerate rate after excellence to avoid over payment</li>
              </ul>
            </ul> -->
 
          </td>

        </tr>

      </table>
    </div>


    <div> <div class="triangle-right1"></div></div>

    <div class="mt-4"><img src="assets/images/m4/img13.png"></div>


  </div>

</div>



<!--/////////////////////// section-9 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Pay Curve Options</h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">There are a variety of pay curve options to choose for each plan measure:</h5>

  <p class="instruction" data-aos="fade-up" data-aos-duration="2000">Click each tab to learn more about the testing criteria.</p>
  
  <div data-aos="fade-up" data-aos-duration="3000">
    <app-accordion [data]="this.accordionDetails"></app-accordion>
  </div>

</div>


<!--/////////////////////// section-10 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3 >Threshold Decisions</h3>
  <h5 >Up to 100% quota attainment, pay curves may include one of three threshold types or pay from the first sale.</h5>

  <div class="table4" >

    <table>
      <tr>
        <th class="text-center txt-white bg-lblue">No Threshold</th>
        <th class="text-center txt-white bg-lblue">Soft Threshold</th>
        <th class="text-center txt-white bg-lblue">Hard Threshold</th>
        <th class="text-center txt-white bg-lblue">Hard Threshold with Lump Sum Payout</th>
      </tr>

      <tr>
        <td>Payout from dollar one with no deceleration below 100%</td>
        <td>Payout from dollar one with decelerated pay until threshold met</td>
        <td>Payout begins upon reaching a pre-determined threshold of performance</td>
        <td>Receive a lump-sum payout of target incentive once threshold has been met</td>
      </tr>
      <tr>
        <td><img src="assets/images/m4/tg-1.png"></td>
        <td><img src="assets/images/m4/tg-2.png"></td>
        <td><img src="assets/images/m4/tg-3.png"></td>
        <td><img src="assets/images/m4/tg-4.png"></td>
      </tr>


      <tr>
        <td>
          <p>Use Case:</p>
          <ul>
            <li>New Account Sales</li>
          </ul>
        </td>

        <td>
          <p>Use Case:</p>
          <ul>
            <li>Minimum Performance Expectations</li>
            <li>Cost Savings</li>
          </ul>
        </td>

        <td>
          <p>Use Case:</p>
          <ul>
            <li>Renewals / Recurring Business</li>
            <li>Minimum Performance Expectations</li>
            <li>Higher cost savings</li>
          </ul>
        </td>

        <td>
          <p>Use Case:</p>
          <ul>
            <li>Renewals / Recurring Business</li>
            <li>Minimum Performance Expectations</li>
            <li>Provide immediate reward for achieving minimum performance</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>



<!--/////////////////////// section-11 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>No Threshold Payout Example</h3>
  <h5>In this example, the seller would get paid from dollar one.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Threshold</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$700,000</td>
            <td>N/A</td>
            <td class="b-dashed">$17,500</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>200%</td>
              <td>200%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">None</td>
            </tr>

          </table>
        </div>

        <div><img src="assets/images/m4/t-1.png"></div>
      </div>
    </div>

  </div>
</div>

<!--/////////////////////// section-12 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Soft Threshold Payout Example</h3>
  <h5>In this example, the seller would start getting paid out from dollar one, but at a lower rate.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Threshold</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$700,000</td>
            <td>Soft @50%</td>
            <td class="b-dashed">$14,500</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>50%</td>
              <td>30%</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>200%</td>
              <td>200%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">None</td>
            </tr>

          </table>
        </div>

        <div><img src="assets/images/m4/t-2.png"></div>
      </div>
    </div>

  </div>
</div>

<!--/////////////////////// section-13 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Hard Threshold Payout Example</h3>
  <h5>In this example, the seller would not get paid until they attain 50% of quota.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Threshold</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$700,000</td>
            <td>50%</td>
            <td class="b-dashed">$10,000</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>50%</td>
              <td>0%</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>200%</td>
              <td>200%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">None</td>
            </tr>

          </table>
        </div>

        <div><img src="assets/images/m4/t-3.png"></div>
      </div>
    </div>

  </div>
</div>


<!--/////////////////////// section-14 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Hard Threshold with Lump Sum Payout Example</h3>
  <h5>In this example, the seller would not get paid out until they hit 50%, and then would receive a lump-sum payout of 30% of target incentive.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Threshold</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$700,000</td>
            <td>50%</td>
            <td class="b-dashed">$14,500</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>50%</td>
              <td>30%</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>200%</td>
              <td>200%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">None</td>
            </tr>

          </table>
        </div>

        <div><img  src="assets/images/m4/t_3.png"></div>
      </div>
    </div>

  </div>
</div>

<!--/////////////////////// section-15 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Mechanic Above Excellence Decisions</h3>
  <h5>Excellence and beyond, pay curves may continue to accelerate, decelerate to a less lucrative rate, or cap payments.</h5>

  <div class="table4">

    <table>
      <tr>
        <th class="text-center txt-white bg-lblue">Continued Acceleration</th>
        <th class="text-center txt-white bg-lblue">Deceleration</th>
        <th class="text-center txt-white bg-lblue">Capped</th>
      </tr>

      <tr>
        <td>Payout rate continues to accelerate past excellence point</td>
        <td>Payout rate decelerates upon reaching excellence point</td>
        <td>Payout is capped upon reaching excellence point</td>
      </tr>
      <tr>
        <td><img src="assets/images/m4/tg-5.png"></td>
        <td><img src="assets/images/m4/tg-6.png"></td>
        <td><img src="assets/images/m4/tg-7.png"></td>
      </tr>


      <tr>
        <td>
          <p>Use Case:</p>
          <ul>
            <li>Provides continued motivation </li>
          </ul>
        </td>

        <td>
          <p>Use Case:</p>
          <ul>
            <li>Cost Savings</li>
            <li>Difficult to set quotas</li>
            <li>Mitigates risk from “Blue Birds”</li>
          </ul>
        </td>

        <td>
          <p>Use Case:</p>
          <ul>
            <li>Higher cost savings</li>
            <li>Difficult to set quotas</li>
            <li>Protection from “Blue Birds”</li>
            <li>Little influence after certain level of performance</li>
          </ul>
        </td>

        
      </tr>
    </table>
  </div>
</div>


<!--/////////////////////// section-16 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Continued Acceleration Example</h3>
  <h5>In this example, the seller would continue getting paid out at the same rate beyond excellence.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Threshold</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$1,750,000</td>
            <td>N/A</td>
            <td class="b-dashed">$81,250</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>50%</td>
              <td>30%</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>150%</td>
              <td>250%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">None</td>
            </tr>

          </table>
        </div>

        <div><img src="assets/images/m4/t-4.png"></div>
      </div>
    </div>

  </div>
</div>


<!--/////////////////////// section-17 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Deceleration Example</h3>
  <h5>In this example, the seller would continue getting paid out at a lower rate beyond excellence.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Threshold</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$1,750,000</td>
            <td>N/A</td>
            <td class="b-dashed">$71,875</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>50%</td>
              <td>30%</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>150%</td>
              <td>250%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">50%</td>
            </tr>

          </table>
        </div>

        <div><img src="assets/images/m4/t-5.png"></div>
      </div>
    </div>

  </div>
</div>


<!--/////////////////////// section-17 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
  <h3>Cap Example</h3>
  <h5>In this example, the seller would max out their payout upon achieving excellence.</h5>


  <div class="d-flex justify-content-center">

    <div>
      <div class="table5">
        <table>
          <tr>
            <th class="text-center txt-white bg-lblue">Pay Mix</th>
            <th class="text-center txt-white bg-lblue">Base Salary</th>
            <th class="text-center txt-white bg-lblue">Target Incentive (TI)</th>
            <th class="text-center txt-white bg-lblue">TTC</th>
            <th class="text-center txt-white bg-lblue">Quota</th>
            <th class="text-center txt-white bg-lblue">Quota Attainment</th>
            <th class="text-center txt-white bg-lblue">Decelerator</th>
            <th class="text-center txt-white bg-lblue">Incentive Earned</th>
          </tr>

          <tr>
            <td>75 / 25</td>
            <td>$75,000</td>
            <td>$25,000</td>
            <td>$100,000</td>
            <td>$1,000,000</td>
            <td>$1,750,000</td>
            <td>N/A</td>
            <td class="b-dashed">$62,500</td>
          </tr>

        </table>
      </div>

      <div class="d-flex mt-4 gap-30">
        <div class="table6">
          <table>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">QA%</th>
              <th class="text-center">TI%</th>
            </tr>

            <tr>
              <td>Threshold</td>
              <td>50%</td>
              <td>30%</td>
            </tr>

            <tr>
              <td>Target</td>
              <td>100%</td>
              <td>100%</td>
            </tr>

            <tr>
              <td>Excellence</td>
              <td>150%</td>
              <td>250%</td>
            </tr>

            <tr>
              <td>Decelerator</td>
              <td colspan="2" class="text-center">Cap</td>
            </tr>

          </table>
        </div>

        <div><img src="assets/images/m4/t-6.png"></div>
      </div>
    </div>

  </div>
</div>