
$blue:        #005F86 !default;
$medium-blue: #007582 !default;
$light-blue:  #279989 !default;

$green:       #658D1B !default;
$light-green: #ABAD25 !default;

$yellow:      #DAAA00 !default;
$light-orange:#CF7F00 !default;
$dark-orange: #BE531C !default;
$red:         #9E2A2F !default;

$light-gray   :#EEEEEE;
$white        :#FFFFFF;
$dgreen       :#055B49;
$gray33       :#545454;
$white-smoke  :#F8F8F8;
$persian-green:#279989;
$slate-gray   :#444444;
$grim-gray    :#E3E3D5;
 


$primary: $light-green  ;

