@import "../../../variable.scss";

//////////////////// section-4 ///////////////////////////

// .txt1 {
//     position: absolute;
//     top: 103px;
//     width: 305px;
//     text-align: start;
//   }
  
//   .txt2 {
//     position: absolute;
//     top: 316px;
//     /* left: 116px; */
//     width: 200px;
//     text-align: start;
//   }
  
//   .txt3 {
//     position: absolute;
//     top: 95px;
//     left: 546px;
//     width: 128px;
//     color: #ffffff;
//   }
  
//   .txt4 {
//     position: absolute;
//     top: 276px;
//     left: 503px;
//     width: 159px;
//     text-align: center;
//   }
  
//   .txt5 {
//     position: absolute;
//     top: 317px;
//     right: 0px;
//     width: 169px;
//     text-align: end;
//   }
  
//   .txt6 {
//     position: absolute;
//     top: 394px;
//     left: 348px;
//     width: 137px;
//     color: white;
//     text-align: center;
//   }
  
//   .txt7 {
//     position: absolute;
//     top: 383px;
//     left: 688px;
//     width: 125px;
//     color: white;
//     text-align: center;
//   }



table, td, th {
    border: 1px solid black;
    padding: 5px;
  }
  
  table {
    border-collapse: collapse;

    .head1
    {
    background-color: #005f86;
    color: #fff;
    }

    .head2
    {
    background-color: #c00000;
    color: #fff;
    }

    .head3
    {
    background-color: #018001;
    color: #fff;
    }

    .head4
    {
    background-color: #d7d200;
    color: #fff;
    }

    .head5
    {
    background-color: #ff6600;
    color: #fff;
    }

    .td-gray
    {
        background-color: #d9d9d9;
    }
  }