<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<app-alignment></app-alignment>


  <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue mt-5">
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Pay for Performance Philosophy</h3>


      <div class="row" data-aos="fade-up" data-aos-duration="2000">

        <div class="col-lg-6">
          <img class="img-fluid" src="assets/images/m3/img3.jpg">
        </div>
        
          <div class="col-lg-6 p-5">
           A key step in the SIP process is developing the overall pay-for-performance philosophy. 
             This philosophy will dictate key SIP design elements, such as plan structure, pay mix, and measures. 
             The key decision point at this stage will be where we want to be in relation to the market, 
             and how much we want to differentiate pay for low performers versus high performers.
            </div>
      </div>  
    </div>

  </div>

   <!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Pay for Performance Philosophy</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">Depending on our pay for performance philosophy, the compensation design will have certain features.</h5>
     <div class="" >

       <div class=" mt-5 text-center" data-aos="fade-up" data-aos-duration="2000">
        <img src="assets/images/m3/chart.png">
       </div>

       <div class="  mt-5" data-aos="fade-up" data-aos-duration="3000">
        <table>
          <tr>
            <th></th>
            <th></th>
            <th class="text-center head1">Market Tracker</th>
            <th class="text-center head2">Darwinian </th>
            <th class="text-center head3">Premium Model</th>

          </tr>
          <tr>
            <td rowspan="3" class="td-gray text-center">ORGANIZATION FEATURES</td>
            
          </tr>
          <tr>
            <td class="td-gray text-center">TRAITS</td>
            <td>
              Average cost of sales<br>
              Strong pay for performance correlation<br>
              Average turnover<br>
              Good sales culture</td>
              
              <td>
                High, variable cost of sales<br>
                Strong pay for performance correlation<br>
                High turnover<br>
                Aggressive sales culture
                <td>
                  High, predictable cost of sales<br>
                  Weak pay for performance correlation<br>
                  Low turnover<br>
                  Strong company culture, good sales culture<br></td>
          </tr>
          
          <tr>
            <td class="td-gray text-center">SALES TEAM</td>
            <td>Mix of new and experienced hires<br>
              Mostly individual measures<br>
              Some double crediting<br>
              Average sense of loyalty<br>
              Top performers may seek Darwinian models
              </td>

              <td>
                Mix of new and experienced hires<br>
                Low teaming / collaboration<br>
                Individual measures<br>
                Single quota, single credit<br>
                Good “B” players often left in the dust</td>
                <td>
                  Experienced sales force (buying rolodex)<br>
                  Minimal training needed<br>
                  High use of teaming<br>
                  Difficult to scale<br>
                  Requires robust recruiting & performance mgmt.</td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="text-center head4"> Economy Model</th>
            <th class="text-center head5"> Nice Place to Work </th>
           
          </tr>
          <tr>
            <td rowspan="3" class="td-gray text-center">ORGANIZATION FEATURES</td>
            
          </tr>
          <tr>
            <td class="td-gray text-center">TRAITS</td>
            <td>
              Low cost of sales<br>
              Strong pay for performance correlation<br>
              High turnover<br>
              “Sweat shop” culture<br></td>
              
              <td>
                High, predictable cost of sales<br>
                Weak pay for performance correlation<br>
                Low turnover<br>
                Strong company culture, often weak sales culture<br>
                </td>
          </tr>
          
          <tr>
            <td class="td-gray text-center">SALES TEAM</td>
            <td>Inexperienced sales reps<br>
              Basic training for standard process<br>
              Individual measures<br>
              Single quota, single credit<br>
              Low sense of loyalty, commitment<br>
              </td>

              <td>
                Tenured reps<br>
                High sense of loyalty and commitment<br>
                Individual and team measures<br>
                Double crediting<br>
                Low performers stay, high performers may leave<br></td>
               
          </tr>
        </table>
       </div>

      

     </div>
     
  </div>
 

  

  




