<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Keys to Successful Communications Strategy: Implementation Commitment Ladder</h3>

   <div class="">
    <div class="rel">
        <img src="assets/images/m6/img13.png">
        <div class="box-txt1 fw-bold">COMMITMENT</div>
        <div class="box-txt2 fw-bold">ACCEPTANCE</div>
        <div class="box-txt3 fw-bold">UNDERSTANDING</div>
        <div class="box-txt4 fw-bold">INFORMATION</div>
        <ul class="list-none fst-italic">
            <li class="list1">Champions the <b>future state vision</b></li>
            <li class="list2"><b>Endorses what, how, and why</b> new changes are being made</li>
            <li class="list3">Comprehends the <b>rationale and need for change</b></li>
            <li class="list4">Knows change is occurring</li>
        </ul>
    </div>
   </div>
</div>



<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Implementation Strategy Best Practices</h3>
    <h5>Effective Change Management principles are required to successfully implement and communicate even the best-designed sales compensation programs.</h5>
    <!--  -->
    <div class="d-flex justify-content-center gap-30 mt-4 flex-wrap">
        <div class="list-1">
           <ul>
            <li>Absolute buy-in from the <span class="txt-blue"><b>executive team</b></span></li>
            <li>A <span class="txt-blue"><b>compelling reason</b></span> (business case) for change</li>
            <li>Support from relevant <span class="txt-blue"><b>stakeholders and influencers</b></span> in the organization</li>
            <li>Cascading <span class="txt-blue"><b>communication</b></span> approach; no one is left out of the loop</li>
            <li>Appropriate level of <span class="txt-blue"><b>training</b></span> and communication collateral for all employees</li>
           </ul>

        </div>

        <div class="list-1">
           <ul>
            <li> A smooth <span class="txt-blue"><b>transition strategy</b></span> for all individuals to the new plan</li>
            <li><span class="txt-blue"><b>Administrative systems and reporting</b></span> must be developed and functioning when the new program goes live</li>
            <li>Communicate a <span class="txt-blue"><b>theme</b></span>, not just mechanics</li>
            <li>Use <span class="txt-blue"><b>leadership</b></span> messages</li>
            <li>Develop presentations and <span class="txt-blue"><b>scripts</b></span></li>
            <li><span class="txt-blue"><b>Train</b></span> sales managers</li>

           </ul>
        </div>

        <div class="list-1">
           <ul>
            <li>Provide web-based <span class="txt-blue"><b>documentation</b></span> and <span class="txt-blue"><b>calculation</b></span> models</li>
            <li>Give <span class="txt-blue"><b>ongoing</b></span> access to pay and performance results</li>
            <li>Show how pay and performance contributes to<span class="txt-blue"><b> company</b></span> and <span class="txt-blue"><b>personnel</b></span> rewards</li>
           </ul>
        </div>
    </div>
</div>

<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container ">
    <h3>Roll Out Timing Best Practices</h3>
    <h5>Best practices to ensure a successful rollout:</h5>

    <div class="row">
        <div class="col-lg-5 mt-4"><img class="img-fluid" src="assets/images/m6/img14.jpg"></div>
        <div class="col-lg-7">
            <ul>
                <li>Obtain plan approval in time to update all administration systems in order to provide timely first period payouts</li>
                <li>Communications must include strategic goals and how plan links to those goals</li>
                <li>Obtain design team and legal approval on all communication materials before rolling out new plan</li>
               
                <li>Sales leadership must play a role in communicating the plan, generally kicking it off with how it links to the strategy.  Another resource can go through the details if needed</li>
                <li>Cascade communications to ensure all relevant parties are aware of the program before their direct reports</li>
            <ul>
                <li>Sales leaders who were not involved in design process – generally prior to new fiscal year</li>
                <li>Sales management – generally prior to new fiscal year, but may be at beginning of fiscal year</li>
                <li>Individual contributors – generally at beginning of the fiscal year so as to not disrupt year-end activities</li>
                <li>Note: try to sync communications with other sales events, like kick-off meeting</li>
                <li>Best to bring similar roles together in one meeting/call so everyone hears the same message as opposed to each manager running their own roll out</li>
               </ul>
               <li>Try to link communications of plan design with quota whenever possible</li>
               <li>All managers should have a 1x1 meeting with their direct reports to review new quota and plan details and discuss how employee can achieve/over-achieve their quota their quota and make money on their new plan</li>
            </ul>
        </div>
    </div>
</div> 
</div>

<!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Who Should Communicate the Plan Changes?</h3>
    <h5>Effective communication starts with the right channels.</h5>

   <div class="d-flex gap-30 mt-5 justify-content-center flex-wrap">
    <div class="">
        <div class="card-container">
            <div class="card-head">
                <div class="text-center"><img src="assets/images/m6/c-1.svg"></div>
                <div class="title txt-blue f-20 text-center pt-1 pb-2"><b>Sales Leadership</b></div>
            </div>
            <div class="card-content stackdisc">
                <ul>
                    <li>Sales Leadership should own the sales compensation plan.</li>
                    <li>The sales compensation plan is the Sales Leader’s biggest lever to drive strategy and profitable revenue growth</li>
                    <li>Sales Leadership needs to publicly own the pay program; communicating the new plan is a means of demonstrating leadership</li>
    
                </ul>
            </div>
        </div>
        <div class="bg-box bg-blue"></div>
    </div>


    <div class="">
        <div class="card-container">
            <div class="card-head">
                <div class="text-center"><img src="assets/images/m6/c-2.svg"></div>
                <div class="title txt-mblue f-20 text-center pt-1 pb-2"><b>Sales Operations</b></div>
            </div>
            <div class="card-content stackdisc">
                <ul>
                    <li>Sales Ops typically provide enabling solutions to the salesforce like CRM</li>
                    <li>Using Sales Ops to communicate new plans implies the plan is just an administrative program which reduces motivational impact.</li>                  
                </ul>
            </div>
        </div>
        <div class="bg-box bg-mblue"></div>
    </div>


    <div class="">
        <div class="card-container">
            <div class="card-head">
                <div class="text-center"><img src="assets/images/m6/c-3.svg"></div>
                <div class="title txt-lblue f-20 text-center pt-1 pb-2"><b>Human Resources</b></div>
            </div>
            <div class="card-content stackdisc">
                <ul>
                    <li>HR is not in a position to defend or enforce the new pay program</li>
                    <li>HR can assist with preparation of the communication material</li>  
                    <li>HR should answer questions related to HR practices or employment related policies</li>
                </ul>
            </div>
        </div>
        <div class="bg-box bg-lblue"></div>
    </div>

    <div class="">
        <div class="card-container">
            <div class="card-head">
                <div class="text-center"><img src="assets/images/m6/c-4.svg"></div>
                <div class="title txt-green f-20 text-center pt-1 pb-2"><b>Finance</b></div>
            </div>
            <div class="card-content stackdisc">
                <ul>
                    <li>Finance has an important oversight role with the salesforce</li>
                    <li>If finance communicates the plan, sales personnel will harbor suspicions regarding crediting, goals and earning opportunities</li>  
                </ul>
            </div>
        </div>
        <div class="bg-box bg-green"></div>
    </div>


   </div>
</div>
<!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container ">
    <h3>Communication and Training Materials</h3>
    
    <div class="d-flex gap-30 mt-4 justify-content-center flex-wrap">
        <div class="box">
            <div class="header bg-blue txt-white">Executive Announcement Memo</div>
            <div class="content">
               
                    <p>Announce the new program to the sales force:</p>
                   <ul>
                    <li>Thank Them for All Their Sales Efforts</li>
                    <li>Excitement about the New Plan</li>
                    <li>Commitment to Key Guiding Principles</li>
                    <li>Communication Next Steps</li>
                   </ul>
                
                <div class="mt-4"><img class="img-fluid" src="assets/images/m6/t1.png"></div>
            </div>
        </div>

        <div class="box">
            <div class="header2 bg-mblue txt-white">Leadership Presentation</div>
            <div class="content">
               
                    <p>Restate FY strategy and how the plan aligns to those goals:</p>
                   <ul>
                    <li>How Plan Aligns to FY Strategy</li>
                    <li>Guiding Principles and Goals</li>
                    <li>Plan Highlights (Key Changes)</li>
                   </ul>
                
                <div class="mt-4"><img class="img-fluid" src="assets/images/m6/t2.png"></div>
            </div>
        </div>

        <div class="box">
            <div class="header3 bg-lblue txt-white">Sales Management Training Presentation</div>
            <div class="content">
                
                    <p>Provide sales management detailed training on how the plan works and their role in the roll-out process:</p>
                   <ul>
                    <li>Mgmt Role and Expectations</li>
                    <li>Why a New Plan?</li>
                    <li>Key Concepts and Market Practice Training</li>
                    <li>Company Sales Comp Goals and Principles</li>
                    <li>What’s Changed and Why</li>
                    <li>Plan Details and Calculation Examples</li>
                    <li>New Policies (if applicable)</li>
                    <li>Administration and Next Steps</li>
                    <li>Q & A</li>
                   </ul>
                
            </div>
        </div>

        <div class="box">
            <div class="header4 bg-yellow txt-white">Sales Force Communication Presentation</div>
            <div class="content">
                
                    <p>Communicate the new plan to the sales force:</p>
                   <ul>
                    <li>Separate Presentation for Each Team</li>
                    <li>Why a New Plan?</li>
                    <li>Company Sales Comp Goals and Principles</li>
                    <li>What’s Changed and Why</li>
                    <li>Plan Details and Calculation Examples</li>
                    <li>New Policies (if applicable)</li>
                    <li>Administration and Next Steps</li>
                    <li>Q & A</li>
                   </ul>
                
                
            </div>
        </div>
    </div>
</div> 
</div>


<!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Example Communication Strategy </h3>
    <h5>Communication is key to the success of institutionalizing new compensation plan designs. Below is an example of a multi-step communication process and collateral.</h5>

    <div class="table1">
        <table>
            <tr>
              <th class="bg-blue text-center"> 1. Leadership Training</th>
              <th class="bg-mblue text-center">2. Train the Trainer</th>
              <th class="bg-lblue text-center">3. Individual Communication</th>
              <th class="bg-yellow text-center">4. Post Launch</th>
            </tr>
            <tr>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td class="bg-blue">Audience:</td>
              <td class="bg-mblue">Audience:</td>
              <td class="bg-lblue">Audience:</td>
              <td class="bg-yellow">Audience:</td>
            </tr>

            <tr>
                <td><ul><li>All Sales Staff impacted by Sales Compensation plan change</li></ul></td>
                <td><ul><li>1<sup>st</sup> Line, Second Line Sales Managers and 3<sup>rd</sup> Line Sales Leaders </li></ul></td>
                <td><ul><li>Front Line Sellers by Sales Compensation categorization</li></ul></td>
                <td><ul><li>All Front-Line Sellers</li></ul></td>
                
            </tr>

            <tr>
                <td class="bg-blue">Message Details:</td>
                <td class="bg-mblue">Message Details:</td>
                <td class="bg-lblue">Message Details:</td>
                <td class="bg-yellow">Message Details:</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>Plan Strategy</li>
                        <li>Alignment with Business Objectives</li>
                        <li>Target Outcomes and Expected Benefits</li>
                    </ul>
                </td>
                
                <td>
                    <ul>
                        <li>Plan Strategy (Key Changes and Rationale)</li>
                        <li>Benefits of New Plan</li>
                        <li>Target Outcomes</li>
                        <li>Plan Overview</li>
                        <li>Detailed Review of Plan Mechanics</li>
                        <li>How to Succeed with Examples</li>
                        <li>Expected Q&A from Reps</li>
                        <li>Q&A</li>
                    
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>Plan Strategy (Key Changes and Rationale)</li>
                        <li>Desired Behavior Impact </li>
                        <li>Plan Document and Term Details</li>
                        <li>Individual Earnings Impact </li>
                        <li>Detailed Review of Plan Mechanics</li>
                        <li>How to Succeed with Examples</li>
                    
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>Understanding of Plan Impact following first month payout</li>
                        <li>Individual Earnings Impact following third month (first quarter) payout</li>
                        <li>Survey 5-7 questions</li>  
                    </ul>
                </td>
            </tr>

            <tr>
                <td class="bg-blue">Communication Media:</td>
                <td class="bg-mblue">Communication Media:</td>
                <td class="bg-lblue">Communication Media:</td>
                <td class="bg-yellow">Communication Media:</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>Emailed leadership memo</li>
                        
                    </ul>
                </td>


                <td>
                    <ul>
                        <li>Conference Call Presentation and Q&A Session</li>
                        
                    </ul>
                </td>


                <td>
                    <ul>
                        <li>Individual face-to-face meeting and Q&A Session</li>
                        
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>Individual face-to-face meeting and Q&A Session</li>
                        
                    </ul>
                </td>
            </tr>
            
          </table>
    </div>
</div>

<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
<div class="container ">
    <h3>Change Management Communication </h3>
    <h5>Key elements for all Executive Messages:</h5>

    <div class="box-border mt-4">
        <ol class="">
            <li class="txt-blue f-25"><b> Address / Acknowledge Current State</b></li>
            <ul class="list-none">
                <li>“Over the last year we embarked on an initiative to better align our compensation with our overall strategy.”</li>
            </ul>
            <li class="txt-blue f-25"><b>Disconnect from the Past</b></li>
            <ul class="list-none">
                <li>“We are looking forward to a bright future.”</li>
            </ul>
            <li class="txt-blue f-25"><b>Vision of the Future</b></li>
            <ul class="list-none">
                <li>“With these new plans, we expect to better retain the talent we need as well as ensure that we appropriately reward for success.”</li>
            </ul>
            <li class="txt-blue f-25"><b>How we’ll get there</b></li>
            <ul class="list-none">
                <li>“Over the next week, you will be seeing detailed information from your Sales Manager, including plan estimators to clearly understand how you stand to benefit.”</li>
            </ul>
            <li class="txt-blue f-25"><b>Call to Action</b></li>
            <ul class="list-none">
                <li>“I’m looking forward to embarking with you on the journey to an exciting year to come!”</li>
            </ul>
        </ol>
    </div>
</div>
</div>

<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Executive Communications Memo Example</h3>
    <h5>Leadership memo example template to be delivered to the entire salesforce.</h5>

    <div class="letter mt-3 f-italic">
        <p>FROM: <b>Sales Leader</b></p>
        <p>SUBJECT: Announcement: Compensation Program Changes</p>
        <p>As we look to the future, we regularly review our sales programs to ensure that our go-to-market strategy continues to support our customer experience objectives and optimize our revenue opportunities in a continually evolving marketplace. Over the last year we embarked an initiative to better align our compensation with our overall strategy.</p> 
        <p> We are looking forward to a bright future and sustained growth. As such, with these new plans, we expect to better retain the talent we need as well as ensure that we appropriately reward for success. We are confident that many of you will be pleased with the changes to the new compensation plans. Additionally, we have designed the plans to better reward above target performance.</p>
        <p>Over the next week, you will be seeing detailed information from your Sales Manager, including plan estimators to clearly understand how you stand to benefit. We’re looking forward to rewarding you for accelerated growth as we move forward in our new go-to-market strategy. I’m looking forward embarking with you on the journey to an exciting year to come!</p>
    </div>
</div>



<!--/////////////////////// section-9 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Communication and Implementation Pitfalls to Avoid</h3>

    <div class="table1">
        <table>
            <tr>
              <th class="bg-blue text-center">Communication Plan Pitfalls to Avoid</th>
              <th class="bg-mblue text-center">Train-the-Trainer Pitfalls to Avoid</th>
              <th class="bg-lblue text-center">Cascading Communication Pitfalls to Avoid</th>
              <th class="bg-yellow text-center">Post-Launch Communication Pitfalls to Avoid</th>
            </tr>
            <tr>
             <td>
                 <ul class="cross">
                     <li>Lack of clear communication dates</li>
                        <li> Long gaps between communications</li>
                            <li>  Not sharing calendar with leadership team</li>
                                <li>  Unclear meeting objectives and agendas</li>
                 </ul>
                </td>


                <td>
                    <ul class="cross">
                        <li>Not scheduling enough time to cover all the details</li>
                            <li>Jumping to plan details (skipping strategic messaging)</li>
                                <li>   One-way communication vs. an interactive session</li>
                                    <li>    Absence or neglect of lower priority plans</li>
                                        <li>    Not allowing for feedback or Q&A</li>
                                            <li>   Not establishing clear expectations and next steps</li>
                    </ul>
                </td>

                <td>
                    <ul class="cross">
                        <li>Communicating plans too early</li>
                            <li>    Lack of collateral to support the conversation</li>
                                <li>    Elongating the communication process</li>
                                    <li>    Losing sight and/or control of the message</li>
                                        <li>    Inconsistent messaging from managers</li>
                    </ul>
                </td>

                <td>
                    <ul class="cross">
                        <li>Limiting clarification to only those that ask questions</li>
                        <li>Lacking a formal feedback process or loop</li>
                         <li>Not leveraging feedback to inform future plan designs</li>
                    </ul>
                </td>
            </tr>
        </table>
</div>
</div>
</div>         
<!--/////////////////////// section-10 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Collateral Materials to Ensure a Successful Rollout </h3>
    <h5>Collateral that clearly explains how the new plans work, the rationale for changes and how to maximize earnings needs to be distributed to the incumbents impacted.</h5>

    <div class="box-border mt-4">
        <ol>
            <li class="f-20"><b> Comprehensive plan document</b></li>
            <ul class="list-none">
                <li>Include key sections such as eligibility, general terms and conditions, compensation elements, crediting rules, quotas and definitions of key terms</li>
            </ul>
            <li class="f-20"><b>Variable incentive calculators</b></li>
            <ul class="list-none">
                <li>Simple excel-based tool that allows sellers to calculate their incentive earning based on their performance</li>
            </ul>
            <li class="f-20"><b>Payout examples</b></li>
            <ul class="list-none">
                <li>Payout examples that clearly illustrate how each measure and mechanic works </li>
            </ul>
            <li class="f-20"><b>Examples of “how to win”</b></li>
            <ul class="list-none">
                <li>Payout examples that illustrate how to maximize earnings </li>
            </ul>
        </ol>
    </div>
</div>






 


<!--/////////////////////// section-11 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
    <div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Plan Document: Design Details</h3>
    <h5>Plan documents should be clear and objective.</h5>

    <div><img class="img-fluid" src="assets/images/m6/img17.png"></div>
    <div class="list-type justify-content-center gap-50">
       <div>
        
            <p class="fw-bold"> Key Sections:</p>
            <ul>
                <li> Plan Overview</li>
                    <li>    How to be Successful on the Plan</li>
                    <li>Plan Components</li>
                        <li>    Measure Details – definition, calculation methodology, rates and pay curve (visual if possible)</li>
                            <li>    Calculation Example</li>
                            
        </ul>
       </div>

       <div class="border-dashed fw-bold fst-italic">
        It is important to note that this document is confidential and should only be shared with the appropriate party(ies)

       </div>


    </div>
</div>

<!--/////////////////////// section-12 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Plan Document: Plan Acknowledgement Form</h3>
    <h5>Plan acknowledgement forms should contain the following:</h5>

    <div class="d-flex justify-content-center align-items-center gap-20">
        <div><img class="img-fluid" src="assets/images/m6/img16.png"></div>
        <div class="triangle-right1"></div>
        <div class="list-type">
           
               <div>
                <p class="fw-bold"> Key Sections:</p>
                <ul>
                    <li> Employee and Total Pay Details</li>
                        <li>    Target Incentive by Measure Details</li>
                        <li>Quota (and ICR) Details</li>
                            <li>    Acceptance Language</li>
                                <li>    Signatures</li>
                                
            </ul>
               
               </div>
               
        </div>
    </div>
</div>


<!--/////////////////////// section-13 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Plan Document: Policy Details</h3>
    <h5>Ensure plan policies are clear and easily accessed.</h5>

    <div class="d-flex justify-content-center align-items-center gap-20">
        <div><img class="img-fluid" src="assets/images/m6/img15.png"></div>
        <div class="triangle-right1"></div>
        <div class="list-type">
           
             <div>
                <p class="fw-bold"> Key Sections:</p>
                <ul>
                    <li>Eligibility</li>
                        <li>    General Terms and Conditions</li>
                            <li>    Compensation Elements</li>
                                <li>    Crediting Rules</li>
                                    <li>    Employee Changes</li>
                                        <li>    Quotas</li>
                                            <li>   Compensation Review Board</li>
                                                <li>    SPIFF</li>
                                                <li>Recognition Programs</li>
                                                <li>Definition of Terms</li>
                </ul>
             </div>
           
        </div>
    </div>
</div>
</div>

<!--/////////////////////// section-14 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Plan Calculators Allows for Independent and Interactive Learning of Compensation Plans</h3>
    <h5>A plan calculator is included in the SIP Toolkit.</h5>

    <div class="d-flex justify-content-center align-items-center gap-20">
        <div><img class="img-fluid" src="assets/images/m6/img14.png"></div>
        <div class="triangle-right1"></div>
        <div class="list-type">
         
              <div>
                <p class="fw-bold">Key Design Elements:</p>
                <ul>
                    <li>Provide Instructions</li>
                        <li>    Simple and Easy-to-Use</li>
                            <li>    Must be Dynamic</li>
                                <li>    Estimate Annual Earnings</li>
                                    <li>    Estimate YTD Earnings</li>
                                        <li>    If Appropriate, include YOY Payout Comparison</li>
                                            <li>   Emphasize Tool as an <u>Estimator</u></li>
                                                <li>    Use graphics to display</li>
                </ul>
              </div>
         
</div>
    </div>
</div>