<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->

<div class="container mt-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">About the Sales Incentive Program</h3>

    <div class="row">
        <div class="col-lg-7">
           
            <p  data-aos="fade-up" data-aos-duration="1000">The Sales Incentive Program is a global initiative to elevate Cargill’s 
            sales incentive designs and practices using common frameworks and principles to better support our customer growth strategy.</p>

<!-- <div class="card-wrapper">

<div class="card1 education"  data-aos="fade-up" data-aos-duration="2000">
  
     <div class="overlay"></div>
   <div class="circle">
     <div class="img">
         <img src="assets/images/m1/c1.png">
     </div>
    
   </div>

  
    <p class="p1">Sales compensation plans that will support our powerful customer growth strategy, rewarding delivery of customer-driven business</p>
 
</div>

<div class="card1 credentialing" data-aos="fade-up" data-aos-duration="2000">
  
    <div class="overlay"></div>
    <div class="circle">
      <div class="img">
          <img src="assets/images/m1/c2.png">
      </div>
     
    </div>
 
 
  <p class="p1">A common global framework based on consistent guiding principles for fairness and transparency while supporting regional needs and strategies​</p>

</div>


<div class="card1 wallet" data-aos="fade-up" data-aos-duration="2000">
  
    <div class="overlay"></div>
    <div class="circle">
      <div class="img">
          <img src="assets/images/m1/c3.png">
      </div>
     
    </div>
  
 
  <p class="p1">Compensation plans that reflect the intent of sales roles and align to benchmarked external jobs in support of attracting and retaining top talent</p>

</div>

<div class="card1 human-resources" data-aos="fade-up" data-aos-duration="2000">
   
      <div class="overlay"></div>
    <div class="circle2">
      <div class="img">
          <img src="assets/images/m1/c4.png">
      </div>
     
    </div>
   
      <p class="p2">Clear processes and governance to maintain plans beyond the project</p>
   
</div>
</div> -->

<div class="card-wrapper">

  <div class="card1 education"  data-aos="fade-up" data-aos-duration="2000">
    
       <div class="overlay"></div>
     <div class="circle">
       <div class="img">
           <img src="assets/images/m1/c1.png">
       </div>
      
     </div>
  
    
      <p class="p1 p1_pos">Sales compensation plans that will support our powerful customer growth strategy, rewarding delivery of customer-driven business</p>
   
  </div>
  
  <div class="card1 credentialing" data-aos="fade-up" data-aos-duration="2000">
    
      <div class="overlay"></div>
      <div class="circle">
        <div class="img">
            <img src="assets/images/m1/c2.png">
        </div>
       
      </div>
   
   
    <p class="p1 p1_pos">A common global framework based on consistent guiding principles for fairness and transparency while supporting regional needs and strategies​</p>
  
  </div>
  
  
  <div class="card1 wallet" data-aos="fade-up" data-aos-duration="2000">
    
      <div class="overlay"></div>
      <div class="circle">
        <div class="img">
            <img src="assets/images/m1/c3.png">
        </div>
       
      </div>
    
   
    <p class="p1 p1_pos">Compensation plans that reflect the intent of sales roles and align to benchmarked external jobs in support of attracting and retaining top talent</p>
  
  </div>
  
  <div class="card1 human-resources" data-aos="fade-up" data-aos-duration="2000">
     
        <div>
          <div class="overlay"></div>
      <div class="circle">
        <div class="img">
            <img src="assets/images/m1/c4.png">
        </div>
       
      </div>
        </div>
     
        <p class="p1 p1_pos">Clear processes and governance to maintain plans beyond the project</p>
     
  </div>
  </div>
        </div>


        <div class="col-lg-5 text-center" data-aos="fade-up" data-aos-duration="2000">
            <img class="img-fluid" src="assets/images/m1/img1.png">
        </div>
    </div>



</div>


<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue mt-5">
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000"> Total Compensation is Comprised of Many Types of Payouts & Rewards</h3>
   
      <div class="d-flex justify-content-center mt-4">
       <div class="rel " data-aos="fade-up" data-aos-duration="2000">
        <img class="" src="assets/images/m1/img2.svg" >
        <div class="txt1 m_width" >Recognition</div>
        <div class="txt2 m_width" >Contests/Spiffs</div>
        <div class="txt3 m_width" >Over Target Incentive Pay</div>
        <div class="txt4 m_width" >Target Incentive Pay</div>
        <div class="txt5 m_width" >Salary</div>
        <div class="txt6 m_width" ><b>Benefits</b></div>
        <div class="txt7 m_width" ><b>Sales Expenses</b></div>
        <div class="txt8" >Intrinsic Rewards</div>
        <div class="txt9" >Focused Efforts</div>
        <div class="txt10" >Outstanding Pay</div>
        <div class="txt11" >At-Risk Pay</div>
        <div class="txt12 " >Retention/Non-Sales Pay</div>
        <div class="txt13" >Security Needs</div>
        <div class="txt14" >Reimbursement</div>
        <div class="txt15" >Special Compensation</div>
        <div class="txt16" >Sales Compensation</div>
        <div class="txt17" >Fixed Compensation</div>
        <div class="txt18" >Performance Based Compensation</div>
        <div class="txt19" >Total Target Compensation</div>
       </div>
      </div>
  
  </div>
</div>




<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="container mt-5">
  <h3 data-aos="fade-up" data-aos-duration="1000"> Sales Compensation vs. Other Performance Mgmt. Levers </h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">Although sales compensation is a powerful method to drive performance, it is not the only tool.</h5>
  
      

        <div class="pt-4 pb-5">
         
         <table class="table">
            <thead>
              <tr data-aos="fade-up" data-aos-duration="2000">
               
                <th scope="col">Factor</th>
                <th scope="col">Description</th>
                <th scope="col">Methods</th>
              </tr>
            </thead>
            <tbody>
              <tr data-aos="fade-up" data-aos-duration="2000">
             
                <td><p class="txt-box box1 mt-3">Leadership</p></td>
                <td><ul class="no-ul"><li>Corporate Vision</li><li>Clear Strategy</li><li>Communication</li></ul></td>
                <td><ul class="no-ul"><li>Speeches</li><li>Orientation and Learning</li><li>Leadership Conferences</li></ul></td>
              </tr>

              <tr data-aos="fade-up" data-aos-duration="2000">
               
                 <td><p class="txt-box box2 mt-3">Accountability</p></td>
                <td><ul class="no-ul"><li>Measurement</li><li>Engaged Management</li></ul></td>
                <td><ul class="no-ul"><li>Appraisal Process</li><li>Program Execution</li><li>Reporting</li></ul></td>
              </tr>

              <tr data-aos="fade-up" data-aos-duration="2000">
                <td><p class="txt-box box3 mt-3">Skills and Self-Accomplishment</p></td>
                <td><ul class="no-ul"><li>Individual Goals and Needs</li><li>Personal Achievement Programs</li><li>Affiliation/Team</li></ul></td>
                <td><ul class="no-ul"><li>Career Progression</li><li>Recognition Programs</li><li>Training</li></ul></td>
              </tr>

              <tr data-aos="fade-up" data-aos-duration="2000">
                <td><p class="txt-box box4 mt-3">Remuneration</p></td>
                <td><ul class="no-ul"><li>Cash</li><li>Security Programs</li><li>Incentives</li></ul></td>
                <td><ul class="no-ul"><li>Base Pay</li><li>Benefits / Stock </li><li class="txt-blue">Sales Compensation</li></ul></td>
                
              </tr>
            </tbody>
          </table>


    </div>
</div>



<!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
<app-alignment></app-alignment>
<!-- <div class="container mt-5">
  <h3>Sales Compensation is an Alignment Program</h3>
  <h5>Sales compensation is an alignment program. It connects the company's growth strategy with its management narrative through design principles that leverage center practices.</h5>
  <p>A World-Class Sales Compensation Program Is Aligned to Strategy and Principles while considering Market practices</p>
  <div class="d-flex justify-content-center">
   <div class="rel">
    <img class="mt-4 img-100" src="assets/images/m1/img3.png">
    <div class="txt1">Does your program drive your business’ strategy and align with its job roles?</div>
    <div class="txt2">Does your program align to best-in-class principles?</div>
    <div class="txt3">Strategic Alignment</div>
    <div class="txt4">Program Effectiveness</div>
    <div class="txt5">How aligned is your program to the market?</div>
    <div class="txt6">Principle Alignment</div>
    <div class="txt7">Market Alignment</div>
   </div>
  </div>
</div> -->

<!--/////////////////////// section-5 /////////////////////////////////////////////////////////--> 
<div class="container mt-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Why Is Sales Compensation Important Work?</h3>

  <div class="instruction pt-5" data-aos="fade-up" data-aos-duration="1000">Hover the images to learn more.</div>
  <div class="d-flex flex-wrap justify-content-center  mb-5" data-aos="fade-up" data-aos-duration="3000">
    
      <div class="flip" >
        <div class="image">
          <img src="assets/images/m1/f0.png">
        </div>
        <div class="details">
          <div class="center">
            <p>Biggest source of spend for sales companies (SG&A)</p>
            Helps support commercial strategies and organizations to achieve their goals
           
          </div>
        </div>
      </div>

      <div class="flip ">
        <div class="image">
          <img src="assets/images/m1/f2.png">
        </div>
        <div class="details">
          <div class="center">
            <p>Major lever to changing sales force behavior (or is it?)</p>
            Helps motivate sales team to go above and beyond
            
          </div>
        </div>
      </div>


      <div class="flip">
        <div class="image">
          <img src="assets/images/m1/f3.png">
        </div>
        <div class="details">
          <div class="center">
            <p>Emotional</p>
            <p>Used as a talent attraction and retention tool</p>
           
          </div>
        </div>
      </div>
    </div>

</div>


<!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue mt-5">
<div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">What is SIP?</h3>
    <div class="row">
      <div class="col-lg-6 text-center mt-5 ">
        <img class="img-fluid" src="assets/images/m1/img4.png" data-aos="fade-up" data-aos-duration="1000">
      </div>
      <div class="col-lg-6 mt-5 mb-5">
        <div class="pt-5">
          <p data-aos="fade-up" data-aos-duration="2000">SIP is a sales incentive plan. Sales incentive plans are intended to reward sellers for their performance and results that align to the overall success of the organization. 
            SIP plans support our customer growth strategy, promote customer focus and reward profitable sales.</p>
          <p data-aos="fade-up" data-aos-duration="2000">Sales incentive plan design / redesign is a multi-step process that includes planning, designing, and rolling out new plans. 
            It also involves monitoring the plans throughout the year and analyzing results to ensure that the plans are working effectively.</p>
        </div>
      </div>
    </div>
   
</div>
</div>


<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
<div class="container mt-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Well Designed SIP Leads to ROI</h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">Impacts of a well-designed SIP:</h5>
   
      <p class="instruction pt-4" data-aos="fade-up" data-aos-duration="1000">Click each tab to know more.</p>
     <div data-aos="fade-up" data-aos-duration="2000">
      <app-tab [data]="this.tabDetails"></app-tab>
     </div>

      <div class="timex mt-5" data-aos="fade-up" data-aos-duration="3000">
      <div class="d-flex">

        <div class="time">
          <img src="assets/images/m4/img11.png">
        </div>
        <div class="border-blue">Time to Full Impact: 6-12 Months</div>

      </div>
     </div>
</div>

     <!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->

     <div class="bg-lblue mt-5">
      <div class="container pt-5 pb-5">
        
          <h3 class="txt-white" data-aos="fade-up" data-aos-duration="1000">What A Successful Outcome Looks Like</h3>
         
        <div class="d-flex flex-wrap justify-content-center">
          <div class="mt-4" data-aos="fade-up" data-aos-duration="1000">
            <img src="assets/images/m1/img5.png">
          </div>
      
          <div class="mt-4">
            <div class="d-flex flex-wrap" data-aos="fade-up" data-aos-duration="1000">
              <div class="t-box" >
                <p>Engaged, high-performing sales talent</p>
               </div>
      
                <div class="t-box" >
                  <p>Customer centric incentive plans</p>
                 
                  
                </div>
            </div>
      
            <div class="d-flex flex-wrap" data-aos="fade-up" data-aos-duration="2000">
              <div class="t-box">
                <p>Simpler, more consistent sales incentives plans</p>
               </div>
      
                <div class="t-box">
                  <p>Alignment to team’s commercial activities and performance</p>
                 
                  
                </div>
            </div>
      
            <div class="d-flex flex-wrap" data-aos="fade-up" data-aos-duration="3000">
              <div class="t-box">
                <p >Alignment to commercial strategy and business growth objectives</p>
               </div>
      
                <div class="t-box">
                  <p>Strong understanding of plan design and plan governance</p>
                 
                  
                </div>
            </div>
          </div>
      
        </div>
        </div>
      
     </div>



<!--/////////////////////// section-9 /////////////////////////////////////////////////////////-->
<!-- <app-cycle></app-cycle> -->
<div class="container mt-5 mb-5">
  <h3>Sales Compensation Program Management</h3>
  <div class="instruction">Hover over each of the components to learn more.</div>
  <div class="d-flex justify-content-center mt-5">
    <div class="rel">
      <img class="ring" src="assets/images/m1/ring.svg">
      <div class="ring-cirlce1" (mouseover) = "tab(1)" (mouseout) = "close()">Plan</div>
      <div class="ring-cirlce2" (mouseover) = "tab(2)" (mouseout) = "close()">Assess</div>
      <div class="ring-cirlce3" (mouseover) = "tab(3)" (mouseout) = "close()">Design</div>
      <div class="ring-cirlce4" (mouseover) = "tab(4)" (mouseout) = "close()">Administer</div>
      <div class="ring-cirlce5" (mouseover) = "tab(5)" (mouseout) = "close()">Implement</div>
      <div class="ins-txt1">Manage</div>
      <div class="ins-txt2">Manage</div>
      <div class="plan" *ngIf ="selectedContent == 1">
        <p>Plan</p>
  
        <ol>
          <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
          <li>Positions defined consistently with clear accountability and behaviors</li>
        </ol>
      </div>

      <div class="Assess" *ngIf ="selectedContent == 2">
        <p>Assess</p>
  
        <ol>
          <li>Collect sales force feedback</li>
          <li>Analyze pay-for-performance, effectiveness</li>
          <li>Compare plan results to appropriate market data (pay and practices)</li>
          <li>Ongoing sales performance and operations reporting is performed</li>
        </ol>
      </div>

      <div class="Design" *ngIf ="selectedContent == 3"><p>Design</p>
        <ol>
          <li>Align with compensation design principles</li>
          <li>Clear line of sight between measures and outcomes</li>
          <li>Measures are feasible</li>
          <li>Plans are competitive with external market</li>
          <li>Design includes cross functional input</li>
        </ol>
      </div>

      <div class="Administer" *ngIf ="selectedContent == 4"><p>Administer</p>
        <ol>
          <li>Systems track and report on progress, metrics</li>
          <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
          <li>Employee results communication and payment processing</li>
        </ol>
      </div>

      <div class="Implement" *ngIf ="selectedContent == 5"><p>Implement</p>
        <ol><li>Plans, targets and territories determined prior to new fiscal year</li>
        <li>Legal reviews</li>
        <li>Administration system setup</li>
        <li>Change and Communications Management</li>
        <li>Governance</li></ol>
      </div>
    </div>
  </div>
  <!-- <div class="bg-img">
   <div class="t1">Manage</div>
    <div class="t2">Manage</div> 
    <div class="d-flex justify-content-center"> 
      <div class="l-box l-b1">
        <p>plan</p>
  
        <ol>
          <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
          <li>Positions defined consistently with clear accountability and behaviors</li>
        </ol>
  
      </div>
    </div>
  
    <div class="d-flex justify-content-around">
      <div class="l-box l-b2"><p>Assess</p>
      <ol>
        <li>Collect sales force feedback</li>
        <li>Analyze pay-for-performance, effectiveness</li>
        <li>Compare plan results to appropriate market data (pay and practices)</li>
        <li>Ongoing sales performance and operations reporting is performed</li>
      </ol>
      </div>
  
  
      <div class="l-box l-b3"><p>Design</p>
        <ol>
          <li>Align with compensation design principles</li>
          <li>Clear line of sight between measures and outcomes</li>
          <li>Measures are feasible</li>
          <li>Plans are competitive with external market</li>
          <li>Design includes cross functional input</li>
        </ol>
      </div>
    </div>
  
    <div class="d-flex justify-content-evenly">
      <div class="l-box l-b4"><p>Administer</p>
        <ol>
          <li>Systems track and report on progress, metrics</li>
          <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
          <li>Employee results communication and payment processing</li>
        </ol>
      </div>
      <div class="l-box l-b5"><p>Implement</p>
        <li>Plans, targets and territories determined prior to new fiscal year</li>
        <li>Legal reviews</li>
        <li>Administration system setup</li>
        <li>Change and Communications Management</li>
        <li>Governance</li>
      </div>
    </div>
  </div> -->
</div>



 <!--/////////////////////// section-10 /////////////////////////////////////////////////////////-->

 <div class="bg-lsblue mt-5">
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Cargill’s Sales Compensation Design Guiding Principles</h3>


   <div class="tile">
    <div class="d-flex flex-row  mt-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="p-2  heading">Goal</div>
      <div class="p-2  bg-lblue heading1">Attract and retain best-in-class talent through differentiated rewards that recognize 
        performance resulting in increased business proﬁtability and growth
    </div>
     
    </div>

    <div class="d-flex flex-row  mt-2 mb-2" data-aos="fade-up" data-aos-duration="2000">
      <div class="p-2  heading">Guiding Principles</div>
      <div class="p-2  bg-lblue heading2">Aligned to Business Strategy and Job</div>
      <div class="p-2  bg-lblue heading3">Market Competitive and Motivational</div>
      <div class="p-2  bg-lblue heading3">Pay for influence and Performance</div>
      <div class="p-2  bg-lblue heading3">Transparent and Simple</div>


    </div>


    <div class="d-flex flex-row  mt-2 mb-2" data-aos="fade-up" data-aos-duration="3000">
      <div class="p-2  heading_excep">Component Guidelines</div>
      <div class="p-2  bg-lblue heading4">Eligibility</div>
      <div class="p-2  bg-lblue heading5">Target Total Comp</div>
      <div class="p-2  bg-lblue heading5"> Pay Mix</div>
      <div class="p-2  bg-lblue heading5">Upside (Leverage)</div>
      <div class="p-2  bg-lblue heading5"> Measures</div>
      <div class="p-2  bg-lblue heading5">Mechanics and Pay Curve</div>
      <div class="p-2  bg-lblue heading5">Perf and Payout Periods</div>
      <div class="p-2  bg-lblue heading5"> Targets / Goals</div>
      <div class="p-2  bg-lblue heading5">Crediting and Policies</div>
      <div class="p-2  bg-lblue heading5">Special incentives and Rewards</div>


    </div>


    <div class="d-flex flex-row  mt-2 mb-2" data-aos="fade-up" data-aos-duration="3000">
      <div class="p-2  heading">Support Element Guidelines</div>
      <div class="p-2  bg-lblue heading6">Investment/ROI</div>
      <div class="p-2  bg-lblue heading7">Change and Communications</div>
      <div class="p-2  bg-lblue heading7">Administration</div>
      <div class="p-2  bg-lblue heading7">Governance and Process</div>


    </div>
   </div>
   </div>
 </div>



  <!--/////////////////////// section-11 /////////////////////////////////////////////////////////-->

 <div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation Design Methodology</h3>
  <h5 data-aos="fade-up" data-aos-duration="1000">Component-by-component plan design entails aligning on component decisions for each eligible role before moving to next component.</h5>
   
      <div class="" data-aos="fade-up" data-aos-duration="2000">
        <!-- <img class="m-2 " src="assets/images/m1/img6.png"> -->
        <div class="table0">
          <table>
            <tr>
              <th class="text-center bg-blue">PLAN</th>
              <th class="text-center" colspan="11">DESIGN</th> 
              <th class="text-center bg-blue">IMPLEMENT</th>
            </tr>
            <tr>
              <td rowspan="5">
                <ul class="no-ul">
                  <li><b>Business Objectives</b></li>
                  <li><b>Sales Strategy & Structure</b></li>
                  <li><b>Job Design</b></li>
                  <li><b>Corporate Sales Compensation Philosophy</b></li>
                </ul>
              </td>
              <td><b>Roles</b></td>
              <td>Eligibility</td>
              <td>Pay Level</td>
              <td>Pay Mix</td>
              <td>Leverage</td>
              <td>Measures</td>
              <td>Mechanics</td>
              <td>Periods</td>
              <td>Quotas</td>
              <td>Crediting</td>
              <td>SPIFFs</td>
              <td rowspan="5">
                <ul class="no-ul">
                  <li><b>Cost Modelling</b></li>
                  <li><b>Administration</b></li>
                  <li><b>Documentation, Communication, and Rollout</b></li>
                  <li><b>Ongoing Evaluation</b></li>
                </ul>

              </td>
            </tr>
            <tr>
              <td><b>Territory Rep</b></td>
              <td rowspan="4"><img src="assets/images/m1/img8.png"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><b>National Account Manager</b></td>
             
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><b>Product Specialist</b></td>
              
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><b>Sales Manager</b></td>
             
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="3000">
        <ul>
          <li>Provides correct amount of differentiation across roles</li>
          <li>Comparing plan design decisions for related roles ensures components are appropriately designed in relation to one another (e.g., can ensure total target comp makes sense compared to related roles, can set pay mixes in-line with level of persuasion involved in job role)</li>
        </ul>
      </div>
</div>     
  


<!--/////////////////////// section-12 /////////////////////////////////////////////////////////--> 
<div class="bg-lsblue pt-5 pb-5">
<div class="container ">
  <h3 data-aos="fade-up" data-aos-duration="1000">Best Practice Guidelines </h3>
  <div class="table2 mt-5 mb-5" data-aos="fade-up" data-aos-duration="1000">
    <table style="width:100%">
      <tr class="">
        <th class="text-center bg-blue txt-white">Component</th>
        <th class="text-center bg-lblue txt-white">Best Practice Guidelines</th> 
      </tr>
      <tr>
        <td class="t-center">Plan Structure</td>
        <td class="p-2">Appropriate number of distinct or unique plans for available sales roles</td>
       
      </tr>
      <tr>
        <td class="t-center">Eligibility</td>
        <td class="p-2">
          <p>Eligibility is determined at the job and not incumbent level</p>
          <p>Primary job function must meet ALL three of the following criteria:</p>
          <ul>
            <li>Significant customer / partner contact and relationship</li>
            <li>Persuade the customer to purchase a product/service</li>
            <li>Clear and quantifiable sales objectives</li>

          </ul>
        </td>
     
      </tr>
      <tr>
        <td class="t-center">Pay Levels</td>
        <td class="p-2">
          <ul class="no-ul">
            <li>Set Target Total Compensation at the appropriate percentile to attract and retain the right talent </li>
            <li>Benchmark to the right roles based upon job content; use internal equity when no market benchmark exists</li>
            <li>Benchmark to select group of companies based on where the firm competes for product and talent.  
              When needed, expand the definition to include companies with similar sales motions</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="t-center">Pay Mix</td>
        <td class="p-2">
          <ul class="no-ul">
            <li>Pay mix reflects the job’s degree of individual customer or business partner persuasion while considering corporate pay philosophy and market benchmarks</li>
            <li>Jobs with the most individual persuasion have more aggressive pay mix (more at-risk)</li>
            <li>Use a global pay mix structure that fits each role’s degree of risk tolerance</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="t-center">Performance Measures and Weights</td>
        <td class="p-2">
          <p><b>Measure rules:</b></p>
          <ul>
            <li> &lt; 3 measures to keep focus (1-2 measures preferred)</li>
            <li>Weights reflect the job’s focus and have impact &gt;=20% of Target Incentive (TI)</li>
          </ul>

          <p><b>Criteria include:</b></p>
          <ul>
            <li> Alignment to strategy and job</li>
            <li>Influence their measures</li>
            <li>(Line of Sight)</li>
            <li>Ability to set quotas/goals</li>
            <li>Ability to track</li>
            <li>Objective metrics</li>
          </ul>
          <p><b>Use Key Sales Objectives to drive business outcomes that cannot be tracked with sales (requires governance investment)</b></p>
        </td>
      </tr>


      <tr>
        <td class="t-center">Mechanics and Pay Curves</td>
        <td class="p-2">
          <p><b>Simple mechanics:</b></p>
          <ul>
            <li>Quota-based incentive mechanic to accommodate varied territories/quotas</li>
            <li>Commission rate when roles have equal territories/quotas</li>
          </ul>

          <p><b>Pay curves link pay with performance:</b></p>
          <ul>
            <li>Use thresholds to limit pay for recurring revenus</li>
            <li>Use leverage and excellence levels to set accelerator rates</li>
            <li>Provide unlimited upside, unless extreme payouts occus</li>
            <dd>
              <ul>
                <li>Use linkages (gates, multiplier, modifiers, and matrices) to link measures together if necessary</li>
                <li>Use uplifts and downlifts to drive strategic focus if necessary</li>
                <li>Use windfall policy, decelerator rates, deal caps, or pay caps to manage extreme payouts</li>
              </ul>
            </dd>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="t-center">Performance & Payout Frequency</td>
        <td class="p-2">
          <p><b>Performance periods should:</b></p>
          <ul>
            <li>Match sales cycle length</li>
            <li>Set realistic goals</li>
            <li>Align to annual budget whenever possible</li>
            <li>Minimize pushing/pulling orders</li>
          </ul>

          <p><b>Payment frequency should:</b></p>
          <ul>
            <li>Occur close to sales event</li>
            <li>Ensure proper cash flow</li>
            <li>Be consequential</li>
          </ul>

          <p><b>Appropriate calculation methodology based on:</b></p>
          <ul>
            <li>Quarterly vs. annual focus</li>
            <li>Ability to push/pull orders</li>
            <li>Advanced accelerated payouts</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="t-center">Quotas / Targets</td>
        <td class="p-2">
  
          <ul class="no-ul">
            <li>Quotas are fair, realistic, stretch goals based on sales potential</li>
            <li>Motivational participation rate (50-60% of incumbents achieve goal)</li>
            <li>Consistent quota methodology for similar roles/segments</li>
            <li>Well documented and communicated</li>
            <li>Process includes both top-down and bottom-up inputs</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="t-center">Crediting and Policies</td>
        <td class="p-2">
          <p><b>Sales crediting rules:</b></p>
          <ul>
            <li>Align to strategy</li>
            <li>Pay for persuasion</li>
            <li>Minimizes financial risk</li>
            <li>Recognize quota setting difficulties</li>
            <li>Can be efficiently administered</li>
            <li>Validated source (no self-reported)</li>
            <li>No budget inflation</li>
          </ul>

          <p><b>Policies for:</b></p>
          <ul>
            <li>Management rights</li>
            <li>Employee changes (e.g. new hires, terminations, transfers, leaves of absence)</li>
            <li>Quota changes</li>
            <li>Windfall deals/mega deals</li>
            <li>Sales crediting</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="t-center">Special Incentives & Rewards</td>
        <td class="p-2">
          <p><b>SPIFFs/Contests will:</b></p>
          <ul>
            <li>Not compete with annual sales compensation plan</li>
            <li>Can not exceed 25% of recipient’s target incentive</li>
            <li>Not exceed 5% of population’s TTC</li>
            <li>&lt; 5 special incentives a year per job</li>
            <li>Last no longer than 1-3 months</li>
            <li>Communicate as % of target incentive to accommodate varied pay levels</li>
          </ul>
          <p><b>Recognition programs to acknowledge top performers and reinforce company values</b></p>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>

 <!--/////////////////////// section-13 /////////////////////////////////////////////////////////-->

<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Definitions of Key SIP Terms </h3>
  <div class="d-flex flex-wrap justify-content-center mt-5 mb-5">
  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body" >
      <h5 class="card-title">Total Target Cash (TTC)</h5>
      <p class="card-text">Base Salary + Target Incentive
      </p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Target Incentive (TI)</h5>
      <p class="card-text">Portion of TTC that is not guaranteed – Paid upon meeting goals

      </p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Target Pay Mix</h5>
      <p class="card-text">Split between Salary and Target Incentive; expressed as % of TTC (e.g., 60/40)</p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Leverage</h5>
      <p class="card-text">Target Incentive earned by top performers (commonly benchmarked to 90<sup>th</sup> percentile); typically expressed as a multiple of Target Incentive (e.g., 3x) </p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Performance Measures</h5>
      <p class="card-text">Metrics against which incentive pay is awarded (e.g., revenue, profitability, key sales objectives)</p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Threshold</h5>
      <p class="card-text">Minimum performance to earn incentive pay</p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Hurdle</h5>
      <p class="card-text">Ties upside payouts to the outcomes of a secondary performance measure </p>
      
    </div>
  </div>
  
  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Excellence</h5>
      <p class="card-text">A design point where top 10% of sellers earn full upside</p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Cap</h5>
      <p class="card-text">Maximum amount of earnings available - Not a preferred mechanic</p>
      
    </div>
  </div>

  <div class="card" data-aos="fade-up" data-aos-duration="3000">
    <div class="card-body">
      <h5 class="card-title">Decelerator</h5>
      <p class="card-text">A design point where the payout rate decreases; typically applied at excellence or excluded from plan design</p>
      
    </div>
  </div>
 </div> 
</div>






 
 



























     
     
     
     



     
     


     

     


     
     
         
     
     
     
     
    
     
     