<div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation Program Management</h3>
 <div class="d-flex justify-content-center">
  <div class="rel mt-15" data-aos="fade-up" data-aos-duration="3000">
    <img class="img-bg" src="assets/images/m1/Picture3.png">
    <div class="t1">Manage</div>
    <div class="t2">Manage</div>
 
   
      <div class="l-box1 l-b1">
        <p class="text-center"><b>PLAN</b></p>
  
        <ol>
          <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
          <li>Positions defined consistently with clear accountability and behaviors</li>
        </ol>
  
      </div>

      <div class="l-box2 l-b2"><p class="text-center"><b>ASSESS</b></p>
        <ol>
          <li>Collect sales force feedback</li>
          <li>Analyze pay-for-performance, effectiveness</li>
          <li>Compare plan results to appropriate market data (pay and practices)</li>
          <li>Ongoing sales performance and operations reporting is performed</li>
        </ol>
        </div>

        <div class="l-box3 l-b3"><p class="text-center"><b>DESIGN</b></p>
          <ol>
            <li>Align with compensation design principles</li>
            <li>Clear line of sight between measures and outcomes</li>
            <li>Measures are feasible</li>
            <li>Plans are competitive with external market</li>
            <li>Design includes cross functional input</li>
          </ol>
        </div>

        
          <div class="l-box4 l-b4"><p class="text-center"><b>ADMINISTER</b></p>
            <ol>
              <li>Systems track and report on progress, metrics</li>
              <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
              <li>Employee results communication and payment processing</li>
            </ol>
          </div>


          <div class="l-box5 l-b5"><p class="text-center"><b>IMPLEMENT</b></p>
            <ol>
             <li>Plans, targets and territories determined prior to new fiscal year</li>
             <li>Legal reviews</li>
             <li>Administration system setup</li>
             <li>Change and Communications Management</li>
             <li>Governance</li>
            </ol>
           </div>
      </div>
 </div>
  

    
  
</div>