<app-breadcrumbs></app-breadcrumbs>

<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<!-- <app-cycle></app-cycle> -->
<div class="container mt-5 mb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Sales Compensation Program Management</h3>
  <div class="instruction" data-aos="fade-up" data-aos-duration="2000">Hover over each of the components to learn more.</div>
  <div class="d-flex justify-content-center mt-5">
    <div class="rel" data-aos="fade-up" data-aos-duration="3000">
      <img class="ring" src="assets/images/m1/ring.svg">
      <div class="ring-cirlce1" (mouseover) = "tab(1)" (mouseout) = "close()">Plan</div>
      <div class="ring-cirlce2" (mouseover) = "tab(2)" (mouseout) = "close()">Assess</div>
      <div class="ring-cirlce3" (mouseover) = "tab(3)" (mouseout) = "close()">Design</div>
      <div class="ring-cirlce4" (mouseover) = "tab(4)" (mouseout) = "close()">Administer</div>
      <div class="ring-cirlce5" (mouseover) = "tab(5)" (mouseout) = "close()">Implement</div>
      <div class="ins-txt1">Manage</div>
      <div class="ins-txt2">Manage</div>
      <div class="plan" *ngIf ="selectedContent == 1">
        <p>Plan</p>
  
        <ol>
          <li>Alignment of business strategy, GTM approach, sales coverage and organization design decisions</li>
          <li>Positions defined consistently with clear accountability and behaviors</li>
        </ol>
      </div>

      <div class="Assess" *ngIf ="selectedContent == 2">
        <p>Assess</p>
  
        <ol>
          <li>Collect sales force feedback</li>
          <li>Analyze pay-for-performance, effectiveness</li>
          <li>Compare plan results to appropriate market data (pay and practices)</li>
          <li>Ongoing sales performance and operations reporting is performed</li>
        </ol>
      </div>

      <div class="Design" *ngIf ="selectedContent == 3"><p>Design</p>
        <ol>
          <li>Align with compensation design principles</li>
          <li>Clear line of sight between measures and outcomes</li>
          <li>Measures are feasible</li>
          <li>Plans are competitive with external market</li>
          <li>Design includes cross functional input</li>
        </ol>
      </div>

      <div class="Administer" *ngIf ="selectedContent == 4"><p>Administer</p>
        <ol>
          <li>Systems track and report on progress, metrics</li>
          <li>Mid-year crediting or sales target adjustments reviewed through governance</li>
          <li>Employee results communication and payment processing</li>
        </ol>
      </div>

      <div class="Implement" *ngIf ="selectedContent == 5"><p>Implement</p>
        <ol><li>Plans, targets and territories determined prior to new fiscal year</li>
        <li>Legal reviews</li>
        <li>Administration system setup</li>
        <li>Change and Communications Management</li>
        <li>Governance</li></ol>
      </div>
    </div>
  </div>
  </div>

<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue mt-5">
    <div class="container pt-5 pb-5">
      <h3 data-aos="fade-up" data-aos-duration="1000">SIP Process Overview-Plan </h3>
      <h5 data-aos="fade-up" data-aos-duration="2000">The planning step is crucial to setting the groundwork for effective SIP.</h5>
        <div class="row" data-aos="fade-up" data-aos-duration="3000">
          <div class="col-lg-6 text-center mt-5 ">
            <img class="img-fluid" src="assets/images/m3/img1.jpg">
          </div>
          <div class="col-lg-6 mt-5 mb-5">
            <div class="pt-2">
             
                <p>Develop a detailed workplan for SIP Design</p>
                <ul>
                   
                        <li> Use a Gantt Chart format</li>
                        <li>Provide an overview of dates and expected milestones</li>
                   
                </ul>
                <p>Align on the team strategy and what behaviors the SIP should reinforce</p>
                <p>Select the roles that will be part of the SIP design process</p>

                <ul>
                   
                        <li>Roles should be within the sales or sales support organization</li>
                   
                </ul>
                <p>Map selected roles to the Platform Jobs</p>

                <ul>
                   
                        <li>Platform Jobs Framework will be provided</li>
                   
                </ul>
                <p>Collect and analyze the necessary data</p>

                <ul>
                   
                        <li>Performance Targets and ranges</li>
                        <li>Actual seller achievements and payouts</li>
                   
                </ul>
         

              <!-- <ul>
                    <li>Develop a detailed workplan for SIP Design</li>
                    <ul>
                        <dd>
                            <li> Use a Gantt Chart format</li>
                            <li>Provide an overview of dates and expected milestones</li>
                        </dd>
                    </ul>
                    <li>Align on the team strategy and what behaviors the SIP should reinforce</li>
                    <li>Select the roles that will be part of the SIP design process</li>

                    <ul>
                        <dd>
                            <li>Roles should be within the sales or sales support organization</li>
                        </dd>
                    </ul>
                    <li>Map selected roles to the Platform Jobs</li>

                    <ul>
                        <dd>
                            <li>Platform Jobs Framework will be provided</li>
                        </dd>
                    </ul>
                    <li>Collect and analyze the necessary data</li>

                    <ul>
                        <dd>
                            <li>Performance Targets and ranges</li>
                            <li>Actual seller achievements and payouts</li>
                        </dd>
                    </ul>
              </ul> -->
            </div>
          </div>
        </div>
       
    </div>
    </div>


 <!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<!-- <app-table></app-table> -->
<div class="container mt-5 mb-5">
  <h3>Expected SIP Timeline (High-Level)</h3>
  <h5>The SIP Process should initiate in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
 
  <div class="">
    <div class="d-flex justify-content-end align-items-center">
      <div><img  src="assets/images/tri.png"></div>
      <div>= Key Milestone</div>

    </div>
    <img class="mt-4 img-fluid" src="assets/images/m3/table.png">
    
  </div>
</div>


  
   


    

     
 
    
    
