<app-breadcrumbs></app-breadcrumbs>

  <!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
  <!-- <app-table></app-table> -->
  <div class="container mt-5 mb-5">
    <h3>Expected SIP Timeline (High-Level)</h3>
    <h5>The SIP Process should initiate in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
   
    <div class="">
      <div class="d-flex justify-content-end align-items-center">
        <div><img  src="assets/images/tri.png"></div>
        <div>= Key Milestone</div>
  
      </div>
      <img class="mt-4 img-fluid" src="assets/images/m3/table2.png">
      
    </div>
  </div>

    <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
    <div class="bg-lsblue mt-5">
        <div class="container pt-5 pb-5">
        <h3 data-aos="fade-up" data-aos-duration="1000">Stakeholder Commitment – Time Allocation by Group</h3>
        <h5 data-aos="fade-up" data-aos-duration="2000">There are various key stakeholders that are involved in the SIP process. Some help drive the execution, some help drive the strategy and direction, and some provide critical input.</h5>
       
        <div class="table mt-5 mb-5" data-aos="fade-up" data-aos-duration="3000">
            <table>
                <tr>
                  <th class="bg-blue">Group</th>
                  <th class="bg-lblue">Typical Members</th>
                  <th class="bg-lblue">Role</th>
                  <th class="bg-green">Time Commitment</th>
                </tr>

                <tr>
                  <td><b>Project Sponsor</b></td>
                  <td>
                      <ul class="no-ul">
                        <li>Sales Leadership</li>
                        <li>Managing Director/Business Leadership</li>
                      </ul>
                  </td>
                  <td>Owns the project, helps clarify objectives and ensure that there are no roadblocks</td>
                   <td>
                       <ul class="no-ul">
                           <li> 2-4 meetings</li>
                           <li>Ad-hoc time to review materials and escalate issues as needed </li>
                       </ul>
                   </td>
                </tr>

                <tr>
                  <td><b>Steering Committee</b></td>
                  <td><ul class="no-ul">
                      <li>Sales Leadership </li>
                      <li>HR and Total Rewards Leadership </li>
                      <li>Finance Leadership</li>
                  </ul></td>
                  <td>
                      <ul class="no-ul">
                            <li>Set the business, sales strategy and financial objectives</li>
                            <li>Define sales compensation design principles and next fiscal year’s sales compensation goals</li>
                            <li>Approve plan design, costs and implementation plan</li>
                            <li>Resolve escalated issues from Design Team, including issues and conflicts across organizations</li>
                      </ul>
                  </td>
                  <td>
                      <ul class="no-ul">
                          <li> 2-4 meetings</li>
                          <li>1 hour each</li>
                      </ul>
                  </td>
                </tr>
               
                <tr>
                  <td><b>Design Team</b></td>
                  <td><ul class="no-ul">
                      <li> Commercial Leadership (MD)</li>
                      <li>Sales Management</li>
                      <li>Sales Operations</li>
                      <li>HR</li>
                      <li>Finance</li>
                      <li>Sales Data Analyst</li>
                      <li>Project Manager</li>
                  </ul></td>
                  <td>
                      <ul class="no-ul">
                            <li>Work within established principles and goals to assess, design, cost model and implement the incentive compensation plan</li>
                            <li>Work together to test ideas and make plan design recommendations</li>
                            <li>Represents both functional interests and company goals</li>
                            <li>Includes a design leader to provide direction and act as tie breaker</li>
                            
                      </ul>
                  </td>
                  <td>
                      <ul class="no-ul">
                          <li> 2-7 meetings depending on degree of change</li>
                          <li>2-4 hours each</li>
                          <li>Ad-hoc time to review materials and socialize ideas</li>
                                      
                      </ul>
                  </td>
                </tr>



                <tr>
                    <td><b>Total Rewards</b></td>
                    

                    <td><ul class="no-ul">
                        <li> STI Design COE</li>
                        <li>Enterprise Compensation</li>
                    </ul></td>
                    <td>
                        <ul class="no-ul">
                              <li>Work with Steering Committee to define the sales compensation design principles and next fiscal year’s goals</li>
                              <li>Manage the overall sales compensation design process and work plan</li>
                              <li>Facilitate sales compensation design meetings</li>
                              <li>Provides guidance and responds to questions concerning center practices and the Cargill SIP Framework</li>
                              
                        </ul>
                    </td>
                    <td>
                        <ul class="no-ul">
                            <li>Weekly meetings</li>
                            <li>30 minutes each</li>
                            <li>Ad-hoc to prepare for any team meetings</li>
                                        
                        </ul>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Other Stakeholders</b></td>
                    <td><ul class="no-ul"> 
                        <li> Employee Relations</li>
                        <li>Legal</li>
                        <li>IT</li>
                    </ul></td>
                    <td>
                        <ul class="no-ul">
                              <li>Provide key input and flag any issues (i.e. systems issues with administering plan designs)</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="no-ul">
                            <li> Ad-hoc time</li>     
                        </ul>
                    </td>
                  </tr>
                
              </table>
        </div>
        
      </div>
</div>

<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->

    <div class="container pt-5 pb-5">
      <h3 data-aos="fade-up" data-aos-duration="1000">Design Team Selection Process</h3>
      <h5 data-aos="fade-up" data-aos-duration="2000">How to think about organizing the team.</h5>
        <div class="row" data-aos="fade-up" data-aos-duration="3000">
          <div class="col-lg-6 text-center mt-5 ">
            <img class="img-fluid" src="assets/images/m3/img4.jpg">
          </div>
          <div class="col-lg-6 mt-5 mb-5">
            <div class="pt-5">
              <p>When pulling together a design team to ultimately recommend a sales compensation design to your Steering Committee, you should choose members that will:</p>
              <ul>
                    <li>Provide meaningful expertise to the design process</li>
                    <li>Represent resources needed for meaningful compensation plan design and implementation</li>
                    <li>Lend credibility to the proposed solution with the Steering Committee</li>
                    <li>Act as change agents later on in the implementation process</li>
                    <li>Have the capacity to make the needed time commitment</li>
              </ul>
            </div>
          </div>
        </div>
       
    </div>
      
 <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->

 <div class="bg-lsblue mt-5">
  <div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Design Team Selection Process – Org Structure</h3>
  <h5 data-aos="fade-up" data-aos-duration="2000">Typically, design teams are comprised of 7-8 members representing the following expertise areas. Someone should be identified as the overall initiative owner.</h5>
  <div class="d-flex flex-wrap justify-content-center mt-5 mb-5" data-aos="fade-up" data-aos-duration="1000">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>MD</b> <i>(recommended)</i></h5>
      <p class="card-text">Informs strategic alignment, voice of steering committee and owns outcome</p>
      
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sales Management</h5>
      <p class="card-text">Brings field perspective, confirms current practices</p>
      
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Finance</h5>
      <p class="card-text">Provides performance data, validates cost/benefit</p>
      
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Human Resources</h5>
      <p class="card-text">Anticipates change impact, provides market data</p>
      
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project Manager</h5>
      <p class="card-text">Owns project execution, clarifies objectives, oversees day-to-day operations</p>
      
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sales Operations</h5>
      <p class="card-text">Reviews job content, provides data, collaborating during design process</p>
      
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Other</h5>
      <p class="card-text">Consider representation from IT, Marketing</p>
      
    </div>
  </div>
</div>
 </div> 
</div>

    
<!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->

<div class="container pt-5 pb-5">
  <h3 data-aos="fade-up" data-aos-duration="1000">Steering Committee Selection Process</h3>
  <h5 data-aos="fade-up" data-aos-duration="2000">How a well-organized Steering Committee Contributes.</h5>
    <div class="row" data-aos="fade-up" data-aos-duration="3000">
      <div class="col-lg-6 text-center mt-5 ">
        <img src="assets/images/m3/img5.jpg">
      </div>
      <div class="col-lg-6 mt-5 mb-5">
        <div class="pt-5">
          <p>The Steering Committee should serve as the ultimate leadership team during the SIP transformation process. Their overarching purpose is to:</p>
          <ul>
                <li>Set the business, sales strategy and financial objectives</li>
                <li>Define sales compensation design principles and next fiscal year’s sales compensation goals</li>
                <li>Approve plan design, costs and implementation plan</li>
                <li>Resolve escalated issues from Design Team, including issues and conflicts across organizations</li>
          </ul>
        </div>
      </div>
    </div>
   
</div>