<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->

  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Expected SIP Timeline (High-Level)</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">The SIP Process should be initiated in Q1 and be finalized before the end of the fiscal year to ensure successful rollout for the upcoming fiscal year.</h5>
    <div class="mt-4" data-aos="fade-up" data-aos-duration="3000">
      <div class="d-flex justify-content-end align-items-center">
        <div><img  src="assets/images/tri.png"></div>
        <div>= Key Milestone</div>
  
      </div>
      <img class="img-fluid" src="assets/images/m7/table1.png"></div>
</div>

  <!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
  
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">SIP Process Overview-Assessment</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">SIP should be monitored on an ongoing basis to ensure that it is working effectively, and a formal assessment should be conducting annually.</h5>
    

    <div class="row mt-4">
        <div class="col-lg-5" data-aos="fade-up" data-aos-duration="2000"><img class="img-fluid" src="assets/images/m7/img1.jpg"></div>
        <div class="col-lg-7 pt-3" data-aos="fade-up" data-aos-duration="2000">
            <ul>
                <li>Plan performance should be collected and assessed on an ongoing basis </li>
                <li>Plan participant feedback should be collected through a survey or informal discussion</li>
                <ul>
                    <li>Feedback should be analyzed and shared across the team </li>
                </ul>
                <li>Plan effectiveness analyses should be conducted</li>
                <ul>
                    <li> Analyses examples include pay-for-performance analysis and quota performance distributions</li>
                </ul>

            </ul>
        </div>
    </div>
</div>

<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
  
<div class="bg-lsblue pt-5 pb-5">
  <div class="container ">
    <h3 data-aos="fade-up" data-aos-duration="1000">SIP Assessment Process</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">Assessing the SIP program helps determine what is working well and there are areas of opportunity and improvement.</h5>
    
    <div class="row mt-4">
        <div class="col-lg-5" data-aos="fade-up" data-aos-duration="3000"><img class="img-fluid" src="assets/images/m7/img2.jpg"></div>
        <div class="col-lg-7 pt-3" data-aos="fade-up" data-aos-duration="3000">
            <ul>
                <li>Assessing the SIP plan involves qualitative and quantitative feedback regarding the effectiveness of the program</li>
                <li>Qualitative assessment methodologies:</li>
                <ul>
                    <li>Web-based survey to get overall feedback on how the plan is working</li>
                    <li>One-on-one Interviews with key stakeholders such as sales managers and individual sellers</li>
                </ul>
                <li>Quantitative assessment methodologies:</li>
                <ul>
                    <li>Analyzing annual quota distributions per measure</li>
                    <li>Analyzing the correlation between payout and performance per measure </li>
                    <li>Analyzing variable payout distribution  </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
</div>

    <!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
  
<div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Qualitative Survey Question Examples</h3>
    <h5 data-aos="fade-up" data-aos-duration="2000">Before redesigning the SIP program, it is important to understand where opportunities for improvement exist. An effective way to do this is by conducting a survey for SIP eligible incumbents. Below are sample Likert-style survey questions:</h5>
    
    <table data-aos="fade-up" data-aos-duration="3000">
        <tr>
            <th class="text-center bg-blue txt-white" colspan="2">“On a Scale of 1 to 5 with 1 being Strongly Disagree, and 5 being Strongly Agree, how much do you agree with the following statements?”</th>
         
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td>I believe that my target total compensation/on-target earnings (base + target incentive) is competitive with target total compensation/on-target earnings offered by other companies in my industry.</td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td>I believe that top performers are paid competitively compared to top performers at other companies in my industry.</td>
        </tr>

        <tr>
            <td class="text-center">3</td>
            <td>I am comfortable with the amount of pay in my target incentive versus my base salary pay.</td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td>I feel that the measures in my plan align with my organization’s sales strategy.</td>
          </tr>

          <tr>
            <td class="text-center">5</td>
            <td>I have the ability to affect my measure(s).</td>
          </tr>
          <tr>
            <td class="text-center">6</td>
            <td>I understand how I receive sales credit for compensation purposes.</td>
          </tr>
          <tr>
            <td class="text-center">7</td>
            <td>I understand how my incentive pay is calculated.</td>
          </tr>
          <tr>
            <td class="text-center">8</td>
            <td>My incentive plan motivates me to over-achieve my assigned goals.</td>
          </tr>

          <tr>
            <td class="text-center">9</td>
            <td>My management clearly communicated my plan to me.</td>
          </tr>
          <tr>
            <td class="text-center">10</td>
            <td>The plan document clearly communicates the plan details so that it is easy to understand.</td>
          </tr>

          <tr>
            <td class="text-center">11</td>
            <td>I can easily track my sales performance.</td>
          </tr>
          <tr>
            <td class="text-center">12</td>
            <td>I can easily track when my incentives are earned.</td>
          </tr>

          <tr>
            <td class="text-center">13</td>
            <td>I believe my payments are accurate and timely.</td>
          </tr>
          <tr>
            <td class="text-center">14</td>
            <td class="fst-italic">Open-question for other feedback</td>
          </tr>
      </table>
</div>

  <!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
  <div class="bg-lsblue pt-5 pb-5">
    <div class="container ">
    <h3 data-aos="fade-up" data-aos-duration="1000">One-on-one Interview Question Examples</h3>
    <h5>Interviewing key stakeholders helps to understand the sales strategy and compensation feedback. It is then possible to compare interview findings to identify perceptional mismatches.</h5>
    <div class="questions d-flex flex-wrap justify-content-center">

      <div class="ques"><div class="d-flex "><div class="pe-2">1.</div><div>Describe your compensation plan.</div> </div></div>
     <div class="ques"> <div class="d-flex "><div class="pe-2">2.</div><div>What is the biggest positive about the current compensation plans?</div> </div></div>
     <div class="ques"><div class="d-flex "><div class="pe-2">3.</div><div>Does your compensation plan align with business goals to which you are assigned? </div> </div></div>
     <div class="ques"> <div class="d-flex "><div class="pe-2">4.</div><div>Who is responsible for communicating regarding your compensation plan? Is that communication effective?</div> </div></div>

     <div class="ques"><div class="d-flex "><div class="pe-2">5.</div><div>How do you identify your top performing salespeople and account mangers?</div> </div></div>
     <div class="ques"> <div class="d-flex "><div class="pe-2">6.</div><div>Describe the quota-setting process.</div> </div></div>
     <div class="ques"><div class="d-flex "><div class="pe-2">7.</div><div>What input do you provide in the quota-setting process?</div> </div></div>
     <div class="ques"> <div class="d-flex "><div class="pe-2">8.</div><div>Does the current sales incentive compensation program motivate to meet or exceed your goals?</div> </div></div>

      <div class="ques"> <div class="d-flex "><div class="pe-2">9.</div><div>What would you like to see improved in your current compensation plan?</div> </div></div>
      <div class="ques"><div class="d-flex "><div class="pe-2">10.</div><div>What haven’t we spoken about during this call that you wanted to make sure we heard?</div> </div></div>
      <div class="ques"> <div class="d-flex "><div class="pe-2">11.</div><div>If you could summarize the top takeaway regarding your SIP, what would it be?</div> </div></div>
        <!-- <ul class="list-none" data-aos="fade-up" data-aos-duration="2000">
            <li><div class="d-flex "><div class="pe-2">1</div><div>Describe your compensation plan.</div> </div></li>
            <li>What is the biggest positive about the current compensation plans?</li>
            <li>Does your compensation plan align with business goals to which you are assigned? </li>
            <li>Who is responsible for communicating regarding your compensation plan? Is that communication effective?</li>

            <li> How do you identify your top performing salespeople and account mangers?</li>
            <li> Describe the quota-setting process.</li>
            <li>What input do you provide in the quota-setting process?</li>
            <li>Does the current sales incentive compensation program motivate to meet or exceed your goals?</li>

            <li> What would you like to see improved in your current compensation plan?</li>
            <li>What haven’t we spoken about during this call that you wanted to make sure we heard?</li>
            <li>If you could summarize the top takeaway regarding your SIP, what would it be?</li>
        </ul> -->
    </div>
     </div>
</div>

      <!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Quantitative Analysis Examples </h3>
    
    <div class="d-flex fcenter gap-30 flex-wrap" data-aos="fade-up" data-aos-duration="2000">

        <div class="text-center"><p class="txt-blue f-20 f-bold">Pay-for-Performance Analysis </p>
            <div class="box box1">
                <p>Generate a scatterplot of individual quota performance by measure and payout by measure </p>
                <img class="img-fluid" src="assets/images/m7/img3.png">
            </div>
        </div>
        
        <div class="text-center"><p class="txt-mblue  f-20 f-bold">Quota Distribution Analysis </p>
            <div class="box box2">
                <p>Generate a histogram of quota performance by measure to understand the shape of the distribution</p>
                <img class="img-fluid" src="assets/images/m7/img4.png">
            </div>
        </div>

    </div>
     </div>
    


              <!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
  <div class="container pt-5 pb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">How to Interpret Pay-for-Performance Analysis </h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">What to look for in a Pay for Performance Chart:</h5>

  <div class="bg-lsblue" data-aos="fade-up" data-aos-duration="2000">
    <div class="d-flex fcenter gap-30" >
      <div>
          <ul class="no-ul">
              <li><b>Ideal Curve</b></li>
              <li>Higher performers receive higher incentive pay </li>
              <li>Few outliers</li>
              <li>There is a strong correlation (high R2)</li>
          </ul>
      </div>
      <div>
          <img class="img-fluid" src="assets/images/m7/d1.png">
      </div>
  </div>
  </div>


    <div class="d-flex fcenter gap-30 mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div>
            <img class="img-fluid" src="assets/images/m7/d2.png">
            <ul>
                <li>Weaker correlation between performance and pay</li>
            </ul>
        </div>
        <div>
            <img class="img-fluid" src="assets/images/m7/d3.png">
            <ul>
                <li> Minimal reward for over performance</li>
               <li>Poor differentiation in pay for top and bottom performers</li>
            </ul>
        </div>

        <div>
            <img class="img-fluid" src="assets/images/m7/d4.png">
            <ul>
                <li>(1) High variability in pay for same level of over performance</li>
                <li>(2) Same pay for different performance</li>
            </ul>
        </div>
    </div>
     </div>

<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->
    <div class="bg-lsblue pt-5 pb-5">
    <div class="container ">
    <h3 data-aos="fade-up" data-aos-duration="1000">How to Interpret Quota Distribution Analysis </h3>
    <h5>This analysis is conducted if the team has a goal-based plan. A Quota distribution should typically resemble a bell-shaped curve, with 50%-60% of team members exceeding quota.</h5>
    
    <div class="text-center" data-aos="fade-up" data-aos-duration="2000"><img class="img-fluid" src="assets/images/m7/img5.png"></div>
     </div>
     </div>



     
     
     
     
    
    
     
     
    
     
     
     
  

 
 
 
