<app-breadcrumbs></app-breadcrumbs>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
  <div class="container ">
    <h3>SIP Governance and Program Management</h3>
    <div class="d-flex gap-30 mt-3 flex-wrap">
        <div><img class="img-fluid" src="assets/images/m6/img18.jpg"></div>
        <div class="mt-4">
            <h5>Governing Plan Design and Performance</h5>
            <b>1. Governance Model and Roles</b>
            <ul class="list-none">
              <li>Crediting and payment processing</li>
              <li>Quota or pay adjustments</li>
              <li>Issue & dispute management</li>
            </ul>
            <h5>Program Management Topics</h5>
            <p><b>2. Plan Participation Norms</b></p>
            <p><b>3. Crediting Approaches</b></p>
            <p><b>4. Plan Migration Strategy</b></p>
            
        </div>
    </div>
</div>
</div>
<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="title-box">SIP Governance Framework</div>
<div class="container mt-5 mb-5">
  <h3>To Allocate Decision Rights, We Use the RAPID<sup>®</sup> Framework</h3>
  <div class="info-box mt-4">
    <div class="d-flex flex-wrap">
      <div class="heading bg-red">Recommend</div>
      <div class="content b-red">
        <ul class="list-none">
          <li>Agree on the criteria, required burden of proof, and decision process with the ‘D’ upfront</li>
          <li>Consult all ‘I’s early enough in the process</li>
          <li>Give all input due consideration</li>
          <li>Involve any ‘A’s effectively</li>
          <li>Work in a collaborative manner</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-wrap mt-3">
      <div class="heading bg-gray0">Agree</div>
      <div class="content b-gray0">
        <ul class="list-none">
          <li>Engage in the process in a constructive fashion (e.g., work with the ‘R’ to avoid any last minute conflict) </li>
          <li>Work collaboratively to resolve issues, develop alternatives if can’t approve a recommendation</li>
          <li>Use the ‘A’ on appropriate basis</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-wrap mt-3">
      <div class="heading bg-yellow">Perform</div>
      <div class="content b-yellow">
        <ul class="list-none">
          <li>Move into prompt execution, even if the decision isn’t in line with your views</li>
          <li>Don’t reopen the decision unless there is a major change or unforeseen circumstances</li>
          <li>Put in feedback loops and respond appropriately</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-wrap mt-3">
      <div class="heading bg-grey">Input</div>
      <div class="content b-grey">
        <ul class="list-none">
          <li>Provide input and considered opinions in a thoughtful, timely manner</li>
          <li>Don’t insist on having a greater role – ‘I’s are not ‘A’s</li>
          <li>If the decision isn’t in line with your views, support it (‘Disagree and commit’)</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-wrap mt-3">
      <div class="heading bg-bgreen">Decide</div>
      <div class="content bgreen">
        <ul class="list-none">
          <li>Establish criteria and expectations for the process upfront</li>
          <li>Consider recommendation and input carefully</li>
          <li>Be decisive</li>
          <li>Ensure people respect decision roles </li>
          <li>Communicate decision and rationale and ensure resources set up for execution</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->

<div class="bg-lsblue pt-5 pb-5">
<div class="container ">
    <h3>Governance Framework Example</h3>

    <div class="table01">
      <table>
        <tr>
          <td class="bg-red">R</td>
          <td class="bg-lpurple">A</td>
          <td class="bg-yellow">P</td>
          <td class="bg-lgray">I</td>
          <td class="bg-bgreen">D</td>
        </tr>
        </table>
        </div>
   
    <div class="table0 mt-2">
      <table>
        <tr>
          <th rowspan="2" class="bg-gray">L1.  PROCESS AREA</th>
          <th rowspan="2" class="w-50 bg-gray" >L2.  PROCESS AREA</th>
          <th colspan="4" class="bg-egray">Commercial Management</th>
          <th colspan="8" class="bg-egray">Functional Support</th>
        </tr>
        <tr>
          <td class="bg-gray1">Group Leaders</td>
          <td class="bg-gray1">RMD</td>
          <td class="bg-gray1">MD</td>
          <td class="bg-gray1">BU Sales Leadership</td>
          <td class="bg-gray1">Commercial Excellence</td>
          <td class="bg-gray1">Business Finance</td>
          <td class="bg-gray1">Legal</td>
          <td class="bg-gray1">BHR</td>
          <td class="bg-gray1">Sales Ops</td>
          <td class="bg-gray1">Total Rewards</td>
          <td class="bg-gray1">ERIR</td>
          <td class="bg-gray1">IT/Data</td>
        </tr>
        <!-- 1 -->
        <tr>
          <td rowspan="4" class="bg-purple">1. Plan</td>
          <td class="text-start bg-sblue fw-bold">1.1 Detailed Work Plan</td>
          <td></td>
          <td class="bg-bgreen">D</td>
          <td class="bg-red">R</td>
          <td class="bg-yellow">P</td>
          <td class="bg-lgray">I</td>
          <td class="bg-yellow">P</td>
          <td class="bg-lgray">I</td>
          <td class="bg-yellow">P</td>
          <td class="bg-lgray">I</td>
          <td class="bg-yellow">P</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
            <td class="text-start bg-sblue fw-bold">1.2 Business Strategy and Objectives</td>
            <td></td>
            <td class="bg-bgreen">D</td>
            <td class="bg-red">R</td>
            <td class="bg-grad">P/R</td>
            <td class="bg-lgray">I</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td class="text-start bg-sblue fw-bold">1.3 Sales Strategy,  Coverage Model and Roles</td>
            <td></td>
            <td></td>
            <td class="bg-bgreen">D</td>
            <td class="bg-red">R</td>
            <td class="bg-lgray">I</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td class="text-start bg-sblue fw-bold">1.4 Metric Library</td>
            <td></td>
            <td class="bg-lgray">I</td>
            <td class="bg-lgray">I</td>
            <td class="bg-lgray">I</td>
            <td class="bg-yellow">P</td>
            <td class="bg-lgray">I</td>
            <td></td>
            <td></td>
            <td class="bg-lgray">I</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


 <!-- 2 -->
 <tr>
    <td rowspan="5" class="bg-purple">2. Design</td>
    <td class="text-start fw-bold">2.1 Sales Compensation Design </td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td class="bg-yellow">P</td>
    <td class="bg-yellow">P</td>
    <td class="bg-lgray">I</td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td class="bg-yellow">P</td>
    <td class="bg-lgray">I</td>
    <td class="bg-yellow">P</td>
    <td></td>
    <td></td>
  </tr>

  <tr>
      <td class="text-start fw-bold">2.2 Plan and Quota Feasibility </td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-lgray">I</td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td class="bg-yellow">P</td>
      <td></td>
      <td></td>
      <td class="bg-yellow">P</td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td class="bg-lgray">I</td>
  </tr>
  

  <tr>
      <td class="text-start fw-bold">2.3 Financial Modeling and Analysis</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-lgray">I</td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td class="bg-yellow">P</td>
      <td></td>
      <td></td>
      <td class="bg-yellow">P</td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td></td>
  </tr>


  <tr>
      <td class="text-start fw-bold">2.4 Plan Approval</td>
      <td class="bg-bgreen">D</td>
      <td class="bg-lpurple">A</td>
      <td class="bg-red">R</td>
      <td class="bg-red">R</td>
      <td class="bg-lgray">I</td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td></td>
  </tr>
       

  <tr>
    <td class="text-start fw-bold">2.5 Post-Plan Approval Change Request*</td>
    <td class="bg-bgreen">D</td>
    <td class="bg-lpurple">A</td>
    <td class="bg-red">R</td>
    <td class="bg-red">R</td>
    <td class="bg-lgray">I</td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
</tr>



<!-- 3 -->
<tr>
    <td rowspan="5" class="bg-purple">3. Implement</td>
    <td class="text-start bg-sblue fw-bold">3.1 Workers’ Council / Union Approval </td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td class="bg-lgray">I</td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
    <td class="bg-bgreen">D</td>
    <td class="bg-red">R</td>
    <td></td>
    <td class="bg-grad">P/R</td>
    <td class="bg-bgreen">D</td>
    <td></td>
  </tr>


  <tr>
      <td class="text-start bg-sblue fw-bold"> 3.2 System Setup</td>
      <td></td>
      <td></td>
      <td class="bg-bgreen">D</td>
      <td class="bg-red">R</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-grad">P/R</td>
      <td></td>
      <td></td>
      <td class="bg-grad">P/R</td>
  </tr>
  
 

  <tr>
      <td class="text-start bg-sblue fw-bold"> 3.3 Role/Plan Setup</td>
      <td></td>
      <td></td>
      <td class="bg-bgreen">D</td>
      <td class="bg-red">R</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-grad">P/R</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
 


  <tr>
      <td class="text-start bg-sblue fw-bold"> 3.4 Territory / Quota Deployment</td>
      <td></td>
      <td></td>
      <td class="bg-bgreen">D</td>
      <td class="bg-red">R</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-grad">P/R</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
       
 

  <tr>
    <td class="text-start bg-sblue fw-bold"> 3.5 Communication and Training</td>
    
    <td></td>
    <td></td>
    <td class="bg-bgreen">D</td>
    <td class="bg-grad">P/R</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="bg-yellow">P</td>
    <td class="bg-lgray">I</td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
</tr>




<!-- 4 -->
<tr>
    <td rowspan="3" class="bg-purple">4. Administer</td>
    <td class="text-start fw-bold">4.1 Crediting and Payment Processing</td>
    <td></td>
    <td></td>
    <td class="bg-bgreen">D</td>
    <td class="bg-red">R</td>
    <td></td>
    <td class="bg-yellow">P</td>
    <td></td>
    <td></td>
    <td class="bg-yellow">P</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  

  <tr>
      <td class="text-start fw-bold"> 4.2 Quota or Pay Adjustments </td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-bgreen">D</td>
      <td class="bg-red">R</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td></td>
      <td class="bg-yellow">P</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  
 
  

  <tr>
      <td class="text-start fw-bold">4.3 Issue and Dispute Management</td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-bgreen">D</td>
      <td class="bg-red">R</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-yellow">P</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>


  <!-- 5 -->
<tr>
    <td rowspan="5" class="bg-purple">  5. Assess</td>
    <td class="text-start bg-sblue fw-bold">5.1 Plan Effectiveness Assessment</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
    <td class="bg-yellow">P</td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
  </tr>

  

  <tr>
      <td class="text-start bg-sblue fw-bold">5.2 Ongoing Performance Reporting</td>
      <td></td>
    <td></td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td class="bg-yellow">P</td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
  </tr>
  
  


  <tr>
      <td class="text-start bg-sblue fw-bold">5.3 Sales Comp. Operations Reporting</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-yellow">P</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
 

  <tr>
      <td class="text-start bg-sblue fw-bold">5.4 Market Pay Benchmarking</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="bg-lgray">I</td>
      <td class="bg-lgray">I</td>
      <td class="bg-yellow">P</td>
      <td></td>
      <td></td>
  </tr>
       

  <tr>
    <td class="text-start bg-sblue fw-bold">5.5  Market Practice Benchmarking</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="bg-lgray">I</td>
    <td></td>
    <td class="bg-yellow">P</td>
    <td></td>
    <td></td>
</tr>


      </table>
    </div>
    <P class="pt-2"><u class="fw-bold">Note:</u> Model above indicates both a Managing Director (MD) and Regional Managing Director level; If a Group does not utilize an RMD model, typically Group Leaders would take on the accountability of what is listed under the RMD column.  
    </P>
</div>
</div>


<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="title-box">Program Management: Scenarios to Govern </div>
<div class="container mt-5 mb-5">
    <h3>Plan Participation Norms</h3>

    <div class="d-flex justify-content-center mt-4 align-items-center gap-30">
        <div>
            <p><b>Moves onto Plan:</b></p>
            <ul>
                <li>New Hires (External and Internal)</li>
            </ul>

            <p><b>Moves off of Plan:</b></p>
            <ul>
                <li>Lateral Transfers</li>
                <li>Promotions</li>
                <li>Transition to Non-Sales Job</li>
                <li>Involuntary Termination and Resignations</li>
            </ul>


            <p><b>Time Away from Plan:</b></p>
            <ul>
                <li>Leaves of Absence</li>
               <ul>
                <li>Long-Term</li>
                <li>Short-Term</li>
               </ul>
                <li>Vacation</li>
                <li>Open Territories / Accounts</li>
            </ul>
        </div>

        <div class="triangle-right1"></div>

        <div class="para">
            <p class="text-center f-20"><b>Considerations</b></p>

            <p><b>Inputs to Decision</b></p>
            <ul>
                <li>Frequency of Performance and Pay Periods</li>
                <li>Level of Manager Discretion in Awards</li>
                <li>Local / Legal Requirements</li>

            </ul>

            <p><b>Impacts from Decision</b></p>
            <ul>
                <li>Plan Crediting or Goal Setting Impacts for remaining team</li>
            </ul>



        </div>
    </div>
</div>

<!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
<div class="container pt-5 pb-5">
    <h3>Plan Crediting Considerations</h3>

    <div class="box-border mt-4">
        <p><b>Exceptional Situations:</b></p>
        <ul>
            
            <li>Management rights – Managed through Governance decisions</li>
            <li>Quota changes - Managed through Governance decisions</li>
            <li>Employee Moves – Managed through Plan Participation norms</li>
        </ul>

        <p><b>Windfall deals/mega deals:</b></p>
        <ul><li>To protect against unexpected excessive payouts from mega orders,  consider the following options: </li>
                <ul>
                    <li>Provide a “major order” incentive schedule that limits quota crediting but provides for a modest incentive payment for volume beyond a pre-determined level</li>
                    <li>Apply a cap to these earnings</li>
                    <li>Apply a significant decelerators to plan funding past the determined point of excellent performance</li>
                </ul>
        </ul>
    </div>
</div>



<!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
  <div class="container ">
    <h3>Plan Migration Considerations</h3>
    <h5>Plan elements tied to strategic outcomes accelerated whereas individual employee compensation impacts typically transitioned over time.</h5>
    <p class="instruction pt-4">Click each tab to know more.</p>
  
    <app-pills [data]="this.pillDetails"></app-pills>

</div>
</div>


<!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Pay Mix Transition Options – To More At Risk</h3>
   <h5>The following table outlines transition options to migrate to a MORE aggressive pay mix. For example, migrating a Rep with an 80/20 pay mix to 70/30.</h5>
     <div class="table1 pt-3">
        <table>
            <tr>
              <th class="t-blue"><b>Option</b></th>
              <th class="t-mblue"><b>Pros</b></th> 
              <th class="t-lblue"><b>Cons</b></th> 
            </tr>
            <tr>
              <td>
                <p><b>Cold Cut</b> – Reduce salary and increase target incentive</p> 
              </td>

              <td>
                <ul class="list-none">  
                  <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Simple to administer</div> </div></li>
                  <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Quickly aligns individual to new pay mix</div> </div></li>
                
                </ul>
              </td>

              <td>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Negative employee perception due to base salary cut</div> </div></li>
                   
                </ul>
              </td>

             
            </tr>

        <tr>
          <td>
            <p><b>Buy Out</b> – Provide individual a one time bonus to buy out of existing  salary structure/role</p> 
          </td>
          
          <td>
            <ul class="list-none">
              <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Eases transition for rep to reduced base pay</div> </div></li>
              <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Quickly aligns individual to new pay mix</div> </div></li>
            </ul>
          </td>

          <td>
            <ul class="list-none">
              <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Expensive, especially if multiple individuals are being transitioned</div> </div></li>
            </ul>
          </td>
          </tr>


          <tr>
            <td>
              <p><b>Migrate over Time</b> – Migrate individuals to new pay mix over time.  E.g., convert 5% of salary to target incentive each year for 3 years</p> 
            </td>
            
            <td>
              <ul class="list-none">  
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Somewhat simple to administer; need to keep track of variances over time</div> </div></li>
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>No negative employee perceptions</div> </div></li>
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Quicker transition than “merit increase” option</div> </div></li> 
              </ul>

            </td>
  
            <td>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Pay Mix does not reflect the level of required individual persuasion for a certain period</div> </div></li>
                  <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Varied pay mixes within a job for a certain period</div> </div></li>
                 
                </ul>
            </td>
            </tr>



            <tr>
              <td>
                <p><b>Migrate with Merit Increase</b> – Add all future merit increase to the target incentive until individual at the new mix</p> 
              </td>
              
              <td>
                <ul class="list-none">  
                  <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Somewhat simple to administer; need to keep track of variances over time</div> </div></li>
                  <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>No negative employee perceptions</div> </div></li>
                  
                 


                </ul>
  
              </td>
    
              <td>
                  <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div> Pay Mix does not reflect the level of required individual persuasion for a certain period</div> </div></li>
                    <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Varied pay mixes within a job for a certain period</div> </div></li>
                    <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>May take a long time</div> </div></li>
                  </ul>
              </td>
              </tr>


            <tr>
                <td>
                  <p><b>Legacy</b> – Honor the individual at the old pay mix</p> 
                </td>
                
                <td>
                  <ul class="list-none">  
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Somewhat simple to administer; need to keep track of variances</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>No negative employee perceptions</div> </div></li>
                  </ul>
    
                </td>
      
                <td>
                    <ul class="list-none">
                      <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Pay Mix does not reflect the level of required individual persuasion</div> </div></li>
                      <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Varied pay mixes within a job</div> </div></li>
                    </ul>
                </td>
                </tr>

          </table>
    </div> 

</div>


<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Pay Mix Transition Options – To Less At Risk</h3>
   <h5>The following table outlines transition options to migrate to a LESS aggressive pay mix. For example, migrating a Rep with a 50/50 pay mix to 70/30.
    </h5>
     <div class="table1 pt-3">
        <table>
            <tr>
              <th class="t-blue"><b>Option</b></th>
              <th class="t-mblue"><b>Pros</b></th> 
              <th class="t-lblue"><b>Cons</b></th> 
            </tr>
            <tr>
              <td>
                <p><b>Cold Cut</b> – Increase salary and reduce target incentive</p> 
              </td>

              <td>
                <ul class="list-none">  
                  <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Simple to administer</div> </div></li>
                  <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Quickly aligns individual to new pay mix</div> </div></li>
                </ul>
              </td>
              
              
              
              <td>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>High fixed cost implications</div> </div></li>
                </ul>
              </td>

             
            </tr>

        <tr>
          <td>
            <p><b>Buy Out</b> – No salary change and provide a one time payout equivalent to the difference between the old target incentive and the new target incentive</p> 
          </td>
          
          <td>
            <ul class="list-none">  
              <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Simple to administer</div> </div></li>
              <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Quickly aligns individual to new pay mix</div> </div></li>
              </ul>
          </td>

          <td>
            <ul class="list-none">
              <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>High fixed cost implications in year of payout</div> </div></li>
              <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Some negative employee perceptions as their TTC is ultimately reduced</div> </div></li>
            </ul>
            


          </td>
          </tr>


          <tr>
            <td>
              <p><b>Migrate over Time</b> – Migrate individuals to new pay mix over time.  E.g., convert 5% of target incentive to salary each year for 3 years</p> 
            </td>
            
            <td>
              <ul class="list-none">  
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Somewhat simple to administer; need to keep track of variances </div> </div></li>
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Some fixed cost implications</div> </div></li>
                <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Quicker transition than “merit increase” option</div> </div></li>
              </ul>
              
            </td>
  
            <td>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Pay Mix does not reflect the level of required individual persuasion for a certain period</div> </div></li>
                  <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Varied pay mixes within a job for a certain period</div> </div></li>
                </ul>
                


            </td>
            </tr>

            <tr>
                <td>
                  <p><b>Migrate with Merit Increase</b> – Add all future merit increase to the base until individual at the new mix
                  </p> 
                </td>
                
                <td>
                  <ul class="list-none">  
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Somewhat simple to administer; need to keep track of variances over time</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Relatively little fixed cost implications</div> </div></li>
                    
                  </ul>
                  
                </td>
      
                <td>
                    <ul class="list-none">
                      <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Pay Mix does not reflect the level of required individual persuasion for a certain period</div> </div></li>
                      <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Varied pay mixes within a job for a certain period</div> </div></li>
                      <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>May take a long time</div> </div></li>
                    </ul>

                </td>
                </tr>

                <tr>
                    <td>
                      <p><b>Legacy</b> – Honor the individual at the old pay mix

                      </p> 
                    </td>
                    
                    <td>
                      <ul class="list-none">  
                        <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>Somewhat simple to administer; need to keep track of variances over time</div> </div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#10003;</div><div>No fixed cost implications</div> </div></li>
                        
                      </ul>
                    </td>
          
                    <td>
                        <ul class="list-none">
                          <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Pay Mix does not reflect the level of required individual persuasion</div> </div></li>
                          <li><div class="d-flex"><div class="txt-red pe-2">&#215;</div><div>Varied pay mixes within a job</div> </div></li>
                           
                        </ul>
                        
                        
                        
                    </td>
                    </tr>

          </table>
    </div> 

</div>



<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3>Example Pay Mix Transition Strategy</h3>
   
     <div class="table1 pt-3">
        <table>
            <tr>
              <th class="t-blue"><b>Pay Mix Change</b></th>
              <th class="t-mblue"><b>Low TTC (Below Min)</b></th> 
              <th class="t-lblue"><b>TTC at Target</b></th> 
              <th class="t-green"><b>High TTC (Higher than Max)</b></th> 
              <th class="t-yellow"><b>Issues and Considerations</b></th> 
            </tr>
            <tr>
              <td>
                <p>Moving to new pay mix; Less than +/- 5% Change</p> 
                <p>(e.g., 84/26 to 80/20)</p> 
              </td>

              <td>
                <ul>  
                  <li><b>Increase TTC to minimum range</b></li>
                  <li>Apply increase to base¹ or target incentive to migrate to correct pay mix</li>
                  <li>May use merit increase at focal to correct pay mix (if needed)</li>
                </ul>
              </td>

              <td>
                <ul>
                  <li><b>No change to TTC</b></li>
                  <li>Use merit increase at focal to correct pay mix</li>
                </ul>
              </td>

              <td>
                <ul>
                  <li><b>Decrease TTC to top of range (Consider a buy-out)</b></li>
                  <li>Apply decrease to base or target incentive to migrate to correct pay mix</li>
                  <li>Use merit increase at focal to correct pay mix (if needed)</li>
                </ul>
              </td>

              <td rowspan="3">
                <ul>
                  <li>Allow ample time to communicate any pay change and/or performance period change prior to implementation</li>
                  <li>Work with local ER/IR and Legal resources to determine acceptable actions for country</li>
                  <li>Migrate up to 15% of pay every 6-12 months (depending on performance period) until achieve desired pay levels</li>
                  <li>Work with Finance to ensure availability of budget</li>
                  <li>Use focal budget to correct pay mix whenever possible</li>
                </ul>
              </td>
            </tr>

        <tr>
          <td>
            <p>Moving to More at Risk; Greater than 5% Change </p> 
            <p>(e.g. 80/20 to 70/30)</p> 
          </td>
          
          <td>
            <ul>  
              <li>May decrease base or keep it the same</li>
              <li>Increase Target Incentive</li>
              <li><b>Increase TTC to minimum range</b></li>
            </ul>
          </td>

          <td>
            <ul>
                <li>May decrease base or keep it the same</li>
                <li>Increase Target Incentive</li>
              <li><b>No change in TTC</b></li>
            </ul>
          </td>

          <td>
            <ul>
                <li>May decrease base or keep it the same</li>
                <li>May increase Target Incentive</li>
              <li><b>Decrease TTC to top of range (Consider a buy-out)</b></li>
             
            </ul>
          </td>
          </tr>


          <tr>
            <td>
              <p>Moving to Less at Risk; Greater than 5% change</p> 
              <p>(e.g. 60/40 to 80/20)</p> 
            </td>
            
            <td>
              <ul>  
                <li>Increase base¹</li>
                <li>May decrease Target Incentive</li>
                <li><b>Increase TTC to minimum range</b></li>
              </ul>
            </td>
  
            <td>
              <ul>
                  <li>Increase base¹ </li>
                  <li>Decrease Target Incentive</li>
                <li><b>No change in TTC</b></li>
              </ul>
            </td>
  
            <td>
              <ul>
                  <li>May increase base¹</li>
                  <li>Decrease Target Incentive</li>
                <li><b>Decrease TTC to top of range (Consider a buy-out)</b></li>
              </ul>
            </td>
            </tr>

          </table>
    </div> 

    <div>
      <p><u class="fw-bold">BOLD</u> = Identifies focus area when making pay transition decisions</p>
      <ol>
        <li>Increase base = must consider budget situation</li>
        <li>Consider market competitiveness of employee comp</li>
      </ol>
    </div>

</div>


<!--/////////////////////// section-9 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
  <div class="container ">
    <h3>Risks & Mitigations</h3>
   <h5>The following table outlines transition options to migrate to a LESS aggressive pay mix. For example, migrating a Rep with a 50/50 pay mix to 70/30.
    </h5>
     <div class="table1 pt-3">
        <table>
            <tr>
              <th class="t-blue"><b>Risk</b></th>
              <th class="t-mblue"><b>Mitigation</b></th> 

            </tr>
           
            <tr>
                <td>
                    <p><b>Lack of Buy-in </b></p>
                    <ul>
                        <li>Sales leaders do not take ownership of  the plans</li>
                        <li>Sellers do not believe in plans, therefore, lose line-of-sight into strategy </li>
                    </ul>
                </td>

                <td>
                    <ul><li>Ensure sales leaders own the plans and clearly communicate alignment, expectations and how to achieve success </li></ul>
                </td>
            </tr>


            <tr>
                <td>
                    <p><b>Plan Complexity / Poor Communication</b></p>
                    <ul>
                        <li>Sellers are not able to easily understand how they are paid out or how to be “successful” </li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>Develop multi-phase communication plan that incorporates executives, sales leaders and front-line managers</li>
                        <li>Ensure management understands payout calculations</li>
                        <li>Provide clear plan documents and comp estimators</li>
                        <li>Prioritize most important measures, ensuring no more than three</li>
                    </ul>
                </td>
            </tr>


            <tr>
                <td>
                    <p><b>Incorrect Goal-setting / Goal-allocation</b></p>
                    <ul>
                        <li>Individual targeted expectations do not match opportunities within a given territory or geography</li>
                        <li>Earnings and sales costs fluctuate</li>
                        <li>Market conditions change </li>
                    </ul>

                </td>

                <td>
                    <ul>
                        <li>Establish clear goal-allocation methodologies </li>
                        <li>Communicate definition of goal, excellence</li>
                        <li>Where appropriate, shorten measure period to reflect market volatility</li>
                        <li>Incorporate thresholds and decelerators</li>
                    </ul>
                    
                </td>
            </tr>


            <tr>
                <td>
                    <p><b>Insufficient Sales Comp Admin. and Governance</b></p>
                    <ul>
                        <li>Lack of a complete governance model</li>
                        <li>No continuity of plan implementation and oversight</li>
                    </ul>

                </td>

                <td>
                    <ul>
                        <li>Develop complete set of business rules, governance and administration guidelines and goal allocation procedures</li>
                    </ul>  
                </td>
            </tr>

            <tr>
                <td>
                    <p><b>Over Reliance on Comp to get Sales Results </b></p>
                    <ul>
                        <li>Other, more effective management tools ignored</li>
                    </ul>

                </td>

                <td>
                    <ul>
                        <li>Develop a core set of sales effectiveness tools <span class="fst-italic">(e.g. opportunity modeling, account / territory planning, job role clarification, coach models, competency assessments and holistic education)</span></li>
                    </ul>  
                </td>
            </tr>


            <tr>
                <td>
                    <p><b>New Plan Components Don’t Drive Right Behaviors</b></p>
                   

                </td>

                <td>
                    <ul>
                        <li>Sales managers monitor performance and behaviors monthly and report to leadership</li>
                        <li>Conduct quarterly formal reviews</li>
                    </ul>  
                </td>
            </tr>


          </table>
    </div> 

</div>
</div>











