<app-breadcrumbs></app-breadcrumbs>

<!--/////////////////////// section-1 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Cargill’s Sales Compensation Design Guiding Principles and Process Steps</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">The sales compensation process is broken into 10 distinct steps:</h5>
    <div class="d-flex" data-aos="fade-up" data-aos-duration="1000">
      <div class="bg-green txt-white p-4 border-g hw">Goal</div>
      <div class="bg-lblue txt-white p-4 d-flex justify-content-center align-items-center border-lb w-100">Attract and
        retain best-in-class talent through differentiated rewards that recognize performance resulting in increased
        business profitability and growth</div>
    </div>
  
    <div class="flex-container mt-4" data-aos="fade-up" data-aos-duration="1000">
      <div class="d-flex">
        <div class="bg-green txt-white p-3 border-g  h-120 ">Component Guidelines
  
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90">Eligibility
          <div class="num1">1</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1 ">Target Total Comp
          <div class="num1">2</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Pay Mix
          <div class="num1">3</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Upside (leverage)
          <div class="num1">4</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Measures
          <div class="num1">5</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Mechanics & Pay Curve
          <div class="num1">6</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1"> Perf & Payout Periods
          <div class="num">7</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Targets/ Goals
          <div class="num">8</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Crediting & Policies
          <div class="num">9</div>
        </div>
        <div class="w-25 bg-lblue txt-white p-3 border-lb rel h-90 ms-1">Special Incentives & Rewards
          <div class="num">10</div>
        </div>
      </div>
      <h5 class="pt-3">This Section will show how each of the highlighted steps will be addressed and utilized during the
        design stage of the SIP compensation process.</h5>
    </div>
  
  </div>

<!--/////////////////////// section-2 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
<div class="container mb-5">
    <h3 data-aos="fade-up" data-aos-duration="1000">Pay & Performance Periods Decisions</h3>
    <h5 data-aos="fade-up" data-aos-duration="1000">Performance periods depend on length of sales cycle and ability to accurately set quotas.</h5>
  
    <div class="d-flex gap-30 justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="1000">
  
      <div class="table1">
  
        <table>
          <tr>
            <th class="text-center txt-white bg-mblue">Pay & Performance Periods</th>
          </tr>
  
          <tr>

            <td>
            
                <p>Performance periods should:</p>
               
                  <ul class="list-none">
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Match sales cycle length</div> </div></li>
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Set realistic goals</div> </div></li>
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Align to annual budget whenever possible</div> </div></li>
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Minimize pushing/pulling orders</div> </div></li>
                    </ul>
                    <!-- <li>&#10004; Match sales cycle length</li>
                    <li>&#10004; Set realistic goals</li>
                    <li>&#10004; Align to annual budget whenever possible</li>
                    <li>&#10004; Minimize pushing/pulling orders</li></ul>
                    -->
                 
               
                <p> Payment should: </p>
               
                  <ul class="list-none">
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Occur close to sales event</div> </div></li>
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Ensure proper cash flow</div> </div></li>
                    <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Be Consequential</div> </div></li>
                    <!-- <li>&#10004; Occur close to sales event</li>
                    <li>&#10004; Ensure proper cash flow</li>
                    <li>&#10004; Be Consequential</li> -->
                  </ul>
               
             
            </td>
  
          </tr>
  
        </table>
      </div>
  
  
      <div> <div class="triangle-right1"></div></div>
     
      <div class="d-flex ">
          <div>
            <div class="d-flex gap-20 justify-content-center align-items-center">
                <div class="box">Discrete</div>
                <div class="triangle-right"></div>
                <div class="para">Performance is measured and paid out  for each discrete period, without consideration for past performance.</div>
            </div>

            <div class="d-flex gap-20 justify-content-center align-items-center mt-3">
                <div class="box">Cumulative</div>
                <div class="triangle-right"></div>
                <div class="para">Performance and pay are measured cumulatively against longer period.</div>
            </div>

            <div class="d-flex gap-20 justify-content-center align-items-center mt-3">
                <div class="box">Quarterly with Annual True-Up</div>
                <div class="triangle-right"></div>
                <div class="para">Performance is measured and paid each quarter (capped at 100% or reduced rate) with full acceleration paid at year end.</div>
            </div>
          </div>
      </div>
      </div>
</div>


<!--/////////////////////// section-3 /////////////////////////////////////////////////////////-->
<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <h3>Pay & Performance Periods Decisions</h3>

   <div class="d-flex justify-content-center align-items-center gap-20">
       <div>
        <div class="table2 text-center">
            <b class="f-25">Discrete</b>
            <table>
                <tr>
                  <th>Achievement</th>
                  <th>Incentive Payment</th> 
                </tr>
                <tr>
                  <td>Q1 Actuals versus Q1 Quota</td>
                  <td>Q1</td>     
                </tr>
                <tr>
                  <td>Q2 Actuals versus Q2 Quota</td>
                  <td>Q2</td>
                </tr>
    
                <tr>
                    <td>Q3 Actuals versus Q3 Quota</td>
                    <td>Q3</td>
                </tr>
    
                <tr>
                    <td>Q4 Actuals versus Q4 Quota</td>
                    <td>Q4</td>
                </tr>
               
              </table>
    
         
        </div>
       </div>
       <div>
        
        <div class="table2 text-center">
            <b class="f-25 mt-3 ">Cumulative Year-to-Date</b>
            <table>
                <tr>
                  <th>Achievement</th>
                  <th>Incentive Payment</th> 
                </tr>
                <tr>
                  <td>Q1 Actuals versus Q1 Quota</td>
                  <td>Q1</td>     
                </tr>
                <tr>
                  <td>Q1+Q2 Actuals versus Q1+Q2 Quota</td>
                  <td>Q1–Q2 <b>less</b> Q1</td>
                </tr>
    
                <tr>
                    <td>Q1+Q2+Q3 Actuals versus Q1+Q2+Q3 Quota</td>
                    <td>Q1–Q3 <b>less</b> Q1+Q2</td>
                </tr>
    
                <tr>
                    <td>Q1+Q2+Q3+Q4 Actuals versus Q1+Q2+Q3+Q4 Quota</td>
                    <td>Q1–Q4 <b>less</b> Q1+Q2+Q3</td>
                </tr>
               
              </table>
        </div>
       </div>
  
   </div>
</div>
</div>

<!--/////////////////////// section-4 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5 " data-aos="fade-up" data-aos-duration="1000">
    <h3>Pay & Performance Periods: Best Practice</h3>


    <div class="table2">
        <table style="width:100%">
            <tr>
              <th>Best Practice</th>
            </tr>
            <tr>
              <td>
                    
                        <p>Performance periods should…</p>
                        <ul>
                            <li>Reflect the <b>length of the sales cycle</b></li>
                            <li>Consider management’s <b>ability to set realistic goals</b> (depends on market predictability)</li>
                            <li><b>Minimize the ability to manipulate payouts</b> by pushing/pulling orders</li>
                            <li>Should <b>not pay for pre-booked</b> or forecast orders</li>
                        </ul>
                    
                
              </td>
            </tr>
          </table>
    </div>

    <div class="table2 mt-4">
        <table style="width:100%">
            <tr>
            <th class="border-none"></th>
              <th class="bg-mblue">Quarterly Quotas</th>
              <th class="bg-lblue">Semi-Annual Quotas</th> 
              <th class="bg-green">Annual Quotas</th>
            </tr>
            <tr>
              <td><b>Best Application</b></td>
              <td>
                  <ul class="no-ul">
                      <li>&lt;2 month sales cycles</li>
                        <li>Rapidly shifting market dynamics with significant impact on quota-setting abilities</li>
                  </ul>
              </td>
              <td>
                  <ul class="no-ul">
                      <li>4-6 month sales cycles</li>
                      <li>Market dynamics have some impact on quota-setting abilities</li>
                  </ul>
              </td>
              <td>
                  <ul class="no-ul">
                      <li>8+ month sales cycles</li>
                      <li> Market dynamics have minor impact on quota-setting abilities</li>
                  </ul>
              </td>
            </tr>
            <tr>
              <td><b>Pros</b></td>
              <td> 
                  <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Aligns with market practices</div></div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Enables management to set realistic quotas based on market dynamics </div></div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Reduces quota relief activities</div></div></li>
                      <!-- <li><span class="txt-green pe-2">&#43;</span>Aligns with market practices</li>
                      <li><span class="txt-green pe-2">&#43;</span>Enables management to set realistic quotas based on market dynamics </li>
                      <li><span class="txt-green pe-2">&#43;</span>Reduces quota relief activities</li> -->

                  </ul>
              </td>
              <td>
                  <ul class="list-none">

                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Encourages longer term focus</div></div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Less complex than quarterly planning</div></div></li>

                      <!-- <li><span class="txt-green pe-2">&#43;</span>Encourages longer term focus </li>
                      <li><span class="txt-green pe-2">&#43;</span>Less complex than quarterly planning</li> -->
                  </ul>
              </td>

              <td>
                  <ul class="list-none">
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Encourages annual focus </div></div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Aligns to upfront sales cycles</div></div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Aligns to annual business plan</div></div></li>
                    <li><div class="d-flex"><div class="txt-green pe-2">&#43;</div> <div>Least complex option for quota planning</div></div></li>

                      <!-- <li><span class="txt-green pe-2">&#43;</span>Encourages annual focus </li>
                      <li><span class="txt-green pe-2">&#43;</span> Aligns to upfront sales cycles</li>
                      <li><span class="txt-green pe-2">&#43;</span>Aligns to annual business plan</li>
                      <li><span class="txt-green pe-2">&#43;</span>Least complex option for quota planning</li> -->
                  </ul>
              </td>

            </tr>
            <tr>
              <td><b>Cons</b></td>
              <td>
                 <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>Hinders longer term focus</div></div></li>
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>Employees may delay entering opportunities to avoid having them account for in next quarter’s quota</div></div></li>
                    <!-- <li><span class="txt-red pe-2">&#45;</span>Hinders longer term focus</li>
                    <li><span class="txt-red pe-2">&#45;</span>Employees may delay entering opportunities to avoid having them account for in next quarter’s quota</li> -->
                 </ul>
              </td>
              <td>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>Quota planning process needs to be repeated twice each year</div></div></li>
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>May lead to disconnect from annual business plan</div></div></li>
                    <!-- <li><span class="txt-red pe-2">&#45;</span>Quota planning process needs to be repeated twice each year</li>
                    <li><span class="txt-red pe-2">&#45;</span>May lead to disconnect from annual business plan</li> -->
                 </ul>
              </td>

              <td>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>Inability to accurately forecast annual quotas, leading to:</div></div></li>
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>Reduced employee motivation</div></div></li>
                  <li><div class="d-flex"><div class="txt-red pe-2">&#45;</div> <div>Increase in quota relief activities</div></div></li>
                    <!-- <li><span class="txt-red pe-2">&#45;</span>Inability to accurately forecast annual quotas, leading to:</li>
                    <li><span class="txt-red pe-2">&#45;</span>Reduced employee motivation</li>
                    <li><span class="txt-red pe-2">&#45;</span>Increase in quota relief activities</li> -->
                 </ul>
              </td>
            </tr>
          </table>
    </div>
</div>


<!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <h3>Targets Decisions </h3>
    <h5>Target setting and allocation is  key for effective SIP design.</h5>

    <div class="d-flex justify-content-center align-items-center">
        
        <div>
            <div class="table2">
                <table style="width:100%">
                    <tr>
                      <th>Target Setting Objectives</th>
                    </tr>
                    <tr>
                      <td>
                                <ul class="no-ul">
                                    <li>Targets are fair, realistic, stretch goals based on sales potential</li>
                                    <li>2/3 of incumbents achieve goal</li>
                                    <li>Consistent quota methodology for similar roles and segments – well documented and communicated</li>
                                    <li>Process includes both top-down and bottom-up</li>
                                </ul>
                      </td>
                    </tr>
                  </table>
            </div>

            <div class="table2 mt-4">
                <table>
                    <tr>
                      <th class="bg-mblue text-center">Everybody Wins</th>
                      <th class="bg-lblue text-center">Stretch  Goals</th>
                      <th class="bg-green text-center">Culture of Losing</th>
                    </tr>
                    <tr>
                      <td><img src="assets/images/m4/g1.png"><p><b>Nearly All Incumbents Achieve Quota</b></p></td>
                      <td><img src="assets/images/m4/g2.png"><p><b>~ 2/3 of Incumbents Achieve Quota</b></p></td>
                      <td><img src="assets/images/m4/g3.png"><p><b>Very Few Incumbents Achieve Quota</b></p></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="text-center"><img  src="assets/images/m4/wrong.svg"></div>
                            
                            <ul>
                                <li>“Walkover” goals</li>
                                <li>Culture of entitlement </li>
                                <li>Reduces motivation</li>
                                <li>Expensive program</li>
                            </ul>
                        </td>

                        <td>
                            <div class="text-center"><img  src="assets/images/m4/correct.svg"></div>
                            <ul>
                                <li>Results in stretch, but achievable objectives</li>
                                <li>Increases motivation</li>
                                <li>Promotes trust in management</li>
                            </ul>
                        </td>

                        <td>
                            <div class="text-center"><img  src="assets/images/m4/wrong.svg"></div>
                            <ul>
                                <li>Motivates extraordinary results</li>
                                <li>Diminishes morale and increases attrition</li>
                                <li>Pay levels lower than market</li>
                                
                            </ul>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
    </div>
</div>
</div>

<!--/////////////////////// section-5 /////////////////////////////////////////////////////////-->
<div class="container mt-5 mb-5 " data-aos="fade-up" data-aos-duration="1000">
    <h3>Target Setting Best Practices </h3>
    <h5>Best practice quota-setting techniques involve a combined top-down, bottom-up approach, as illustrated below. The process involves a bottom-up forecast (i.e., from the field) which is matched to the top-down business plan. A combined approach ensures that all parties are involved in the quota-setting process.</h5>

    <div class="d-flex justify-content-center mt-5">
        <div class="rel">
            <img  src="assets/images/m4/img14.png">
            <div class="txt1">Quota Setting</div>
            <div class="txt2">Quota Allocation</div>
            <div class="txt3 t_shade">Corporate Financial Requirements</div>
            <div class="txt4 t_shade">Geo Sales Plan</div>
            <div class="txt5 t_shade">Area</div>
            <div class="txt6 t_shade">Area</div>
            <div class="txt7 t_shade">Area</div>
            <div class="txt8 t_shade">Area</div>
            <div class="txt9 t_shade">Accounts</div>
            <div class="txt10 t_shade">Accounts</div>
            <div class="txt11 t_shade">Accounts</div>
            <div class="txt12 t_shade">Accounts</div>
            <div class="txt13">Bottom-up forecasts</div>
            <div class="txt14">Top-Down requirements</div>
        </div>
    </div>
</div>



<!--/////////////////////// section-6 /////////////////////////////////////////////////////////-->
<div class="bg-lsblue pt-5 pb-5">
<div class="container " data-aos="fade-up" data-aos-duration="1000">
    <h3>Crediting and Policies Decisions </h3>
    <h5>Policies for crediting should be clear and understandable for everyone involved in the sales process.</h5>
  
    <div class="d-flex gap-90 justify-content-center align-items-center">
  
      <div class="table1">
  
        <table>
          <tr>
            <th class="text-center txt-white bg-mblue">Crediting and Policies</th>
          </tr>
  
          <tr>

            <td>
            
                <p>Sales crediting rules: </p>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Credit for sales involvement</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Pay for influence</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Administer efficiently</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Avoid budget inflation</div> </div></li>
                    <!-- <li>&#10004; Credit for sales involvement</li>
                    <li>&#10004; Pay for influence </li>
                    <li>&#10004; Administer efficiently</li>
                    <li>&#10004; Avoid budget inflation</li> -->
                </ul>
            

             
                <p>Policies for:</p>
                <ul class="list-none">
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Management Rights</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Employee changes</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Quota changes</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Windfall deals/mega deals</div> </div></li>
                  <li><div class="d-flex"><div class="pe-2">&#10004;</div> <div>Sales crediting</div> </div></li>
                    <!-- <li>&#10004; Management Rights</li>
                    <li>&#10004; Employee changes</li>
                    <li>&#10004; Quota changes</li>
                    <li>&#10004; Windfall deals/mega deals</li>
                    <li>&#10004; Sales crediting</li> -->
                </ul>
             
            </td>
  
          </tr>
  
        </table>
      </div>

      <div>
        <div class="rel">
            <img src="assets/images/m4/img15.png">
            <div class="txt01">Vertical Crediting</div>
            <div class="txt02">Region</div>
            <div class="txt03">District</div>
            <div class="txt04">Rep 1</div>
            <div class="txt05">Rep 2</div>
            <div class="txt06">Rep 3</div>
            <div class="txt07">Horizontal Crediting</div>
        </div>
      </div>
     
    
      </div>
</div>
</div>

<!--/////////////////////// section-7 /////////////////////////////////////////////////////////-->

<div class="container mt-5 mb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>Special Incentives for the Field (SPIFF)</h3>
    <h5>Special incentives should be used sparingly and be utilized to drive a very specific behavior.  </h5>
  
    <div class="d-flex gap-100 justify-content-center align-items-center">
  
      <div class="table1">
  
        <table>
          <tr>
            <th class="text-center txt-white bg-mblue">Special Incentives</th>
          </tr>
          <tr>

            <td>
             
                <p>Incentives will:</p>
                <ul class="list-none">
                    <li><div class="d-flex align-items-center">
                      <div><img src="assets/images/m4/tic.png"></div>
                      <div> limited to no more than 4 incentives per year</div>
                    </div></li>
                </ul>
             

             
                <p> Incentives will not:</p>
                <ul class="list-none">

                  <li><div class="d-flex align-items-center">
                    <div><img src="assets/images/m4/cross.png"></div>
                    <div> Compete with annual Sales Comp</div>
                  </div></li>

                  <li><div class="d-flex align-items-center">
                    <div><img src="assets/images/m4/cross.png"></div>
                    <div> Exceed 5% of population’s TTC </div>
                  </div></li>

                  <li><div class="d-flex align-items-center">
                    <div><img src="assets/images/m4/cross.png"></div>
                    <div> Last longer than 3 months </div>
                  </div></li>
                    <!-- <li>Compete with annual Sales Comp  Plan</li>
                    <li> Exceed 5% of population’s TTC </li>
                    <li>Last longer than 3 months</li> -->
                </ul>
             
            </td>
  
          </tr>
  
        </table>
      </div>

      <div>
        <div class="rel">
            <img src="assets/images/m4/img16.png">
            <div class="txt001">Excellence</div>
            <div class="txt002">Target</div>
            <div class="txt003 f-bold">Recognition</div>
            <div class="txt004 f-bold">Contests/Spiffs</div>
            <div class="txt005 f-bold">Over Target Incentive Pay</div>
            <div class="txt006 f-bold">Target Incentive Pay</div>
            <div class="txt007 f-bold">Salary</div>
            <div class="txt008 f-bold">Benefits</div>
            <div class="txt009 f-bold">Sales Expenses</div>
        </div>
      </div>
  
  
     
    
      </div>
</div>


<!--/////////////////////// section-8 /////////////////////////////////////////////////////////-->

<div class="container mt-5 mb-5" data-aos="fade-up" data-aos-duration="1000">
    <h3>SPIFF Guidelines – Definitions and Facts</h3>
    <h5>What are SPIFFs, and how should they be administered?</h5>


    <div class="table2">
  
        <table style="width: 100%;">
          <tr>
            <th class="text-center txt-white bg-blue">Topic</th>
            <th class="text-center txt-white bg-mblue">Description</th>
          </tr>
  
          <tr>
            <td class="f-bold">SPIFF Definition</td>
            <td><ul class="no-ul"><li>Short-term, complementary contests providing focus and additional earnings opportunities for eligible sales positions.  Most often, SPF programs focus on a specific product initiative/roll-out, expanding a specific market/customer group or prioritizing a certain sales target within a district or territory. Special incentive programs should NOT compete with any business objective or sales compensation program.</li></ul>
            </td>
          </tr>

          <tr>
              <td class="f-bold">Eligibility</td>
              <td><ul class="no-ul"><li>Eligibility must be tied to specific positions able to directly impact desired plan outcomes through the chosen SPF plan measures.  Sales management should not participate through a roll-up of team results.</li></ul></td>
          </tr>

          <tr>
            <td class="f-bold">Timing</td>
            <td><ul class="no-ul"><li>Duration of each SPIFF should typically be no longer than three months. There should be no more than four special incentives in a fiscal year and only one contest run at a time.</li></ul>
            </td>
        </tr>

        <tr>
            <td class="f-bold">Cost</td>
            <td><ul class="no-ul"><li>Annual budget for special incentive programs should typically be 5% or less of the eligible population’s Total Target Cash (TTC).</li></ul></td>
        </tr>

        <tr>
            <td class="f-bold">Funding</td>
            <td><ul class="no-ul"><li>A financial analysis must be completed to ensure the contest can be funded via business outcomes being driven by the SPF program. The analysis should show the total estimated cost of the contest (how much will be paid out to the field at target) as well as the additional revenues anticipated to be generated.  As a general guideline, the ratio of payout costs to additional sales generated should typically be 5% or less. 
            </li></ul></td>
        </tr>

        <tr>
            <td class="f-bold">Payouts</td>
            <td><ul class="no-ul"><li>Target and maximum award amounts possible through all SPF programs planned within a fiscal year should be determined so that payout opportunities (in cash or cash equivalents) do not compete with key sales priorities included as a part of the employee’s primary sales incentive plan.</li></ul></td>
        </tr>

        <tr>
            <td class="f-bold">Measures</td>
            <td><ul class="no-ul"><li> There is not one standard for determining measures and targets that will apply to each SPF plan.  When establishing measures and targets, businesses and Groups should choose drivers supporting the achievement of approved strategic goals.</li>
            <li>Team based measures are typically avoided.</li>
            <li>When possible, special incentive programs should leverage sales output metrics as opposed to activity metrics.</li>
            </ul></td>
        </tr>
        
          
        
        <tr>
            <td class="f-bold">Plan Features</td>
            <td><p>The following program features are considered less effective and should be avoided:</p>
                <ul>
                    <li>“Winner-take-all” programs</li>
                    <li>Random chance winners</li>
                    <li>Predictable annual programs</li>
                    <li>Performance objectives already addressed in the compensation plan.</li>
                </ul>
            </td>
             
        </tr>
  
        </table>
      </div>
</div>